<div class="row bd p-shadow-3 bg-white">
    <app-left-menu></app-left-menu>
    <div class="col" style="background: #f7f9ff;">
        <app-header-registrasi></app-header-registrasi>

        <div class="row">
            <div class="col-2 p-p-0 bd-r bg-white">
                <app-menu-emr></app-menu-emr>
            </div>
            <div class="col p-p-3">
                <div class="bd-b p-mb-2">
                    <h5>LAPORAN PEMBEDAHAAN DENGAN ANESTESI LOKAL</h5>
                </div>
                <form [formGroup]="formLapBedahAnestLokal" class="p-mt-2">
                    <fieldset class="form-fieldset">
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-3">
                                <label class="d-block">Tgl. Pembedahan : </label>
                                <p-calendar placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" formControlName="tglBedah"></p-calendar>
                            </div>
                            <div class="col-3">
                                <label class="d-block">Jam : </label>
                                <p-calendar placeholder="Pilih Jam" [timeOnly]="true" formControlName="jamBedah"></p-calendar>
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col">
                                <label class="d-block">Ahli Bedah : </label>
                                <p-dropdown [options]="allDokter" optionLabel="nama_pelaksana" placeholder="Pilih..." [showClear]="true" formControlName="ahliBedah"></p-dropdown>
                            </div>
                            <div class="col">
                                <label class="d-block">Asisten : </label>
                                <p-dropdown [options]="allDokter" optionLabel="nama_pelaksana" placeholder="Pilih..." [showClear]="true" formControlName="asisten"></p-dropdown>
                            </div>
                            <div class="col">
                                <label class="d-block">instrumentator : </label>
                                <input pInputText class="form-control" formControlName="instrumentator">
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Macam Pembedahan : </label>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedah" value="kecil" formControlName="macamBedah"></p-radioButton>
                                            <label>Kecil</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedah" value="sedang" formControlName="macamBedah"></p-radioButton>
                                            <label>Sedang</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedah" value="besar" formControlName="macamBedah"></p-radioButton>
                                            <label>Besar</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedah" value="khusus 1" formControlName="macamBedah"></p-radioButton>
                                            <label>Khusus 1</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedah" value="khusus 2" formControlName="macamBedah"></p-radioButton>
                                            <label>Khusus 2</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedahGawat" value="gawat darurat" formControlName="macamBedahGawat"></p-radioButton>
                                            <label>Gawat Darurat</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedahGawat" value="berencana" formControlName="macamBedahGawat"></p-radioButton>
                                            <label>Berencana</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedahBersih" value="bersih" formControlName="macamBedahBersih"></p-radioButton>
                                            <label>Bersih</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedahBersih" value="bersih tercemar" formControlName="macamBedahBersih"></p-radioButton>
                                            <label>Bersih Tercemar</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedahBersih" value="tercemar" formControlName="macamBedahBersih"></p-radioButton>
                                            <label>Tercemar</label>
                                        </div>
                                        <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                            <p-radioButton name="macamBedahBersih" value="kotor" formControlName="macamBedahBersih"></p-radioButton>
                                            <label>Kotor</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Diagnosa Pra Bedah : </label>
                            </div>
                            <div class="col">
                                <input pInputText class="form-control" formControlName="diagPraBedah">
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Tindakan Pembedahan : </label>
                            </div>
                            <div class="col">
                                <input pInputText class="form-control"  formControlName="tindakanBedah">
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Diagnosa Pasca Bedah : </label>
                            </div>
                            <div class="col">
                                <input pInputText class="form-control"  formControlName="diagPascaBedah">
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Ahli Bius : </label>
                                <p-dropdown [options]="allDokter" optionLabel="name" placeholder="Pilih..." [showClear]="true" formControlName="ahliBius"></p-dropdown>
                                <!-- <input pInputText class="form-control" formControlName="ahliBius"> -->
                            </div>
                            <div class="col">
                                <label class="d-block">Cara Pembiusan : </label>
                                <input pInputText class="form-control"  formControlName="caraBius">
                            </div>
                            <div class="col">
                                <label class="d-block">Posisi Pasien : </label>
                                <input pInputText class="form-control"  formControlName="posisiPasien">
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col">
                                <label class="d-block">Mulai : </label>
                                <!-- <input pInputText class="form-control"  formControlName="mulaiJam"> -->
                                <p-calendar placeholder="Pilih Jam" [timeOnly]="true" formControlName="mulaiJam"></p-calendar>
                            </div>
                            <div class="col">
                                <label class="d-block">Selesai : </label>
                                <!-- <input pInputText class="form-control" formControlName="selesaiJam"> -->
                                <p-calendar placeholder="Pilih Jam" [timeOnly]="true" formControlName="selesaiJam"></p-calendar>
                            </div>
                            <div class="col">
                                <label class="d-block">Lama Pembedahan : </label>
                                <input pInputText class="form-control"  formControlName="lamaPembedahaan">
                            </div>
                            <div class="col">
                                <label class="d-block">OK : </label>
                                <input pInputText class="form-control" formControlName="ok">
                            </div>
                        </div>
                        <div class="form-group row p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Uraian Pembedahan : </label>
                            </div>
                            <div class="col">
                                <p>Uraian dimulai dari bagian tubuh yang dibedah, cara penemuan tindakan yang dilakukan, explorasi, indikasi dan tindakan macam penutupan luka, dengan lengkap dan jelas, jaringan yang dikeluarkan drainage, darah yang keluar.</p>
                                <p-editor formControlName="uraianBedah" [style]="{'height':'320px'}"></p-editor>
                            </div>
                        </div>
                        <div class="form-group row p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Photo Pra OP : </label>
                            </div>
                            <div class="col">
                                <p-fileUpload
                                    #fileInput
                                    [multiple]="true"
                                    accept="image/*"
                                    (uploadHandler)="onUpload($event)"
                                    styleClass="p-button-outlined p-button-sm"
                                    chooseLabel="Upload Photo"
                                    chooseIcon="pi pi-camera">
                                </p-fileUpload>
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Photo Post OP : </label>
                            </div>
                            <div class="col">
                                <p-fileUpload
                                    #fileInput
                                    [multiple]="true"
                                    accept="image/*"
                                    (uploadHandler)="onUpload($event)"
                                    styleClass="p-button-outlined p-button-sm"
                                    chooseLabel="Upload Photo"
                                    chooseIcon="pi pi-camera">
                                </p-fileUpload>
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Komplikasi : </label>
                            </div>
                            <div class="col">
                                <p-editor formControlName="komplikasi" [style]="{'height':'320px'}"></p-editor>
                            </div>
                            <div class="col-2">
                                <label class="d-block">Implant : </label>
                                <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                    <p-radioButton name="implant" value="Tidak" formControlName="implant"></p-radioButton>
                                    <label>Tidak</label>
                                </div>
                                <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                    <p-radioButton name="implant" value="Ya" formControlName="implant"></p-radioButton>
                                    <label>Ya</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <label class="d-block">Diangkat : </label>
                                <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                    <p-radioButton name="diangkat" value="Tidak" formControlName="diangkat"></p-radioButton>
                                    <label>Tidak</label>
                                </div>
                                <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                    <p-radioButton name="diangkat" value="Ya" formControlName="diangkat"></p-radioButton>
                                    <label>Ya</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <div class="col-2">
                                <label class="d-block">Jaringan dikirim ke Patalogi : </label>
                                <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                    <p-radioButton name="kirimKePatalogi" value="Tidak" formControlName="kirimKePatalogi"></p-radioButton>
                                    <label>Tidak</label>
                                </div>
                                <div class="p-field-radiobutton p-mr-2 p-mb-1">
                                    <p-radioButton name="kirimKePatalogi" value="Ya" formControlName="kirimKePatalogi"></p-radioButton>
                                    <label>Ya</label>
                                </div>
                            </div>
                            <div class="col">
                                <label class="d-block">Asal Jaringan : </label>
                                <input pInputText class="form-control" formControlName="asalJaringan">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>