<div class="row">
    <div class="col p-2 bd rounded">
        <p-tabView [(activeIndex)]="tabIndex" (onChange)="changingTab($event)" >
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span class="tx-16 tx-normal pl-3 pr-3"><i class="bi bi-slash-circle mr-1"></i> Non-Racikan</span>
                </ng-template>
                <div>
                    <p-table selectionMode="single" styleClass="p-datatable-striped" [style]="{ height: 'calc(100% - 310px)' }"
                        [value]="dataObatBiasa">
                        <ng-template pTemplate="body" let-item>
                            <tr [pSelectableRow]="item">
                                <td>{{item.obat.nama}}</td>
                                <td>{{item.signaText}}</td>
                                <td width="100">{{item.jumlah}}</td>
                                <td width="275">
                                    <button class="btn btn=sm btn-icon"><i class="bi bi-star"></i></button>
                                    <button class="btn btn=sm btn-icon tx-pink tx-semibold"><i class="bi bi-trash"></i>
                                        Hapus</button>
                                    <button *ngIf="item.kronis" class="btn btn=sm btn-icon tx-orange tx-semibold"><i
                                            class="bi bi-circle-fill"></i> Kronis</button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-tabPanel>

            <p-tabPanel>
                <ng-template pTemplate="header">
                    <span class="tx-16 tx-normal pl-3 pr-3"><i class="bi bi-clipboard-plus mr-1"></i> Racikan</span>
                </ng-template>
                <div class="row container-resep-racikan">
                    <div class="col-12 bd p-2 rounded mb-2 clickable" [ngClass]="{'active': selectedResepRacikan == 0}" (click)="selectResepRacikan(0)">
                        <div class="p-2 bd-b tx-title tx-semibold bg-light">Racikan 1</div>
                        <p-table selectionMode="single" styleClass="p-datatable-striped p-datatable-sm" [style]="{ height: 'calc(100% - 310px)' }"
                                [value]="dataObatRacikan">
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td>{{item.obat.nama}}</td>
                                        <td width="100">
                                            <input type="text" class="form-control" value="{{item.takaran}}">
                                        </td>
                                        <td width="100">
                                            <button class="btn btn=sm btn-icon tx-pink tx-semibold"><i class="bi bi-trash"></i>
                                                Hapus</button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                    </div>
                    <div class="col-12 p-0">
                        <button class="btn btn-light tx-primary"><i class="bi bi-plus-lg mr-1"></i>Tambah Resep</button>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>