<p-sidebar header="Racikan" [fullScreen]="true" [(visible)]="panelRacikan">
    <div class="row p-p-5 bg-dark tx-white">
        <div class="col">
            <div style="font-size: 1.5rem; color: #ffc33e;">RESEP RACIKAN</div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p-table
                #dtObats
                [value]="masterObat"
                selectionMode="single"
                styleClass="p-datatable-striped bd-t bd-r"
                class="item-obat"
                responsiveLayout="scroll"
                [virtualScroll]="true"
                [scrollable]="true"
                scrollHeight="flex">
                <ng-template pTemplate="header">
                    <tr>
                        <th width="300">Nama Obat</th>
                        <th>Satuan</th>
                        <th>Stok</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr (click)="openJumlah(item)">
                        <td width="300">{{item.nama_obat}}</td>
                        <td>{{item.satuan}}</td>
                        <td>{{item.stok_gudang}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-sidebar>
