<div class="row">
    <div class="col">
        <h5>Data Stok Obat</h5>

        <p-table
            [value]="dataStok"
            [rowHover]="true"
            styleClass="p-datatable-sm p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nama Obat</th>
                    <th>Total Stok</th>
                    <th>Satuan</th>
                    <th>Harga</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.r_nama_obat.name | uppercase}}</td>
                    <td>{{item.r_stok_obat.total}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr *ngIf="dataStok.length == 0">
                    <th colspan="5">
                        <div class="w-100 text-center tx-normal text-muted pd-10">Belum ada data saat ini.</div>
                    </th>
                </tr>
            </ng-template>


        </p-table>
    </div>
    <div class="col">
        <h5>Input Stok Obat</h5>
        <div>
            <app-cari-obat></app-cari-obat>
        </div>
        <ng-container *ngIf="selectedObat">
            <div class="alert alert-primary mg-t-10 mg-b-10">{{selectedObat.nama | uppercase}}</div>
        </ng-container>

        <div>
            <p-table
                [value]="dataStokOpname"
                [rowHover]="true"
                styleClass="p-datatable-sm p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nomor Batch</th>
                        <th>Stok</th>
                        <th>Satuan</th>
                        <th>Expired Date</th>
                        <th></th>
                    </tr>
                    <tr *ngIf="selectedObat">
                        <th>
                            <input #batchNumber type="text" class="form-control" [(ngModel)]="formStok.nomorBatch" >
                        </th>
                        <th>
                            <input type="number" class="form-control" [(ngModel)]="formStok.stok">
                        </th>
                        <th>
                            {{selectedObat.satuan}}
                        </th>
                        <th>
                            <p-inputMask mask="99-99-9999" placeholder="dd-mm-yyyy" [(ngModel)]="formStok.expiredDate" (keyup)="listenEnter($event)"></p-inputMask>
                        </th>
                        <th>
                            <button class="btn btn-primary" (click)="addStock()"><i class="bi bi-save"></i> Simpan</button>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.nomorBatch}}</td>
                        <td>{{item.stok}}</td>
                        <td>{{selectedObat.satuan}}</td>
                        <td>{{item.expiredDate}}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr *ngIf="dataStokOpname.length == 0">
                        <th colspan="5">
                            <div class="w-100 text-center pd-10 text-muted tx-normal">Belum ada data saat ini.</div>
                        </th>
                    </tr>
                    <tr class="bg-gray-200">
                        <th colspan="5">
                            <div class="w-100 text-center pd-10 tx-16">
                                <span class="tx-normal tx-14 text-muted">TOTAL STOK :</span> {{totalStok}} {{selectedObat.satuan | uppercase}}
                            </div>
                        </th>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>