<p-sidebar header="Send Order" [fullScreen]="true" [(visible)]="panelSendOrder">
    <div class="row p-p-5 bg-dark tx-white">
        <div class="col-2 p-pt-6 tx-right">
            <div style="font-size: 1.5rem; color: #ffc33e;">Send Order</div>
        </div>
        <div class="col-6 p-pt-6" style="height: 30px;">
            <div style="font-size: 1.5rem;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="height: 62vh;">
            <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                <div class="row">
                    <div class="col">
                        <div class="p-p-3 bd-b row" *ngFor="let item of dataResep; let i = index; let last = last" [ngClass]="{'last-child': last}" #itemObat>
                            <div class="col">
                                <div style="font-size: medium;" class="tx-bold">{{item.obat.nama_obat}}</div>
                                <div>{{item.signa.frekuensi}} {{item.signa.dosis}} {{item.signa.unit}} {{item.signa.arahan}}. {{item.signa.route}}</div>
                            </div>
                            <div class="col-2"><span style="font-size: large;" class="tx-bold">{{item.obat.jumlah}}</span><br><small>{{item.obat.satuan_pilih}}</small></div>
                        </div>
                    </div>
                </div>
            </p-scrollPanel>
            <!-- <div class="p-p-3 bd-b row" *ngFor="let item of dataResep; let i = index">
                <div class="col">
                    <div style="font-size: medium;" class="tx-bold">{{item.obat.nama_obat}}</div>
                    <div>{{item.signa.frekuensi}} {{item.signa.dosis}} {{item.signa.unit}} {{item.signa.arahan}}. {{item.signa.route}}</div>
                </div>
                <div class="col-2"><span style="font-size: large;" class="tx-bold">{{item.obat.jumlah}}</span><br><small>{{item.obat.satuan_pilih}}</small></div>
            </div> -->
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr class="bg-primary">
                                <th colspan="2">PASIEN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nama</td>
                                <td>{{dataPasien.nama}}</td>
                            </tr>
                            <tr>
                                <td>No. RM</td>
                                <td>{{dataPasien.norekmed}}</td>
                            </tr>
                            <tr>
                                <td>Jenis Kelamin</td>
                                <td>{{dataPasien.kelamin}}</td>
                            </tr>
                            <tr>
                                <td>Tgl. Lahir</td>
                                <td>{{dataPasien.tglahir}}</td>
                            </tr>
                            <tr>
                                <td>Alamat</td>
                                <td>{{dataPasien.jalan}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr class="bg-primary">
                                <th colspan="2">DOKTER</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nama</td>
                                <td>{{dataDokter.nama}}</td>
                            </tr>
                            <tr>
                                <td>Poliklinik</td>
                                <td>{{dataDokter.poliklinik}}</td>
                            </tr>
                            <tr>
                                <td>SIP</td>
                                <td>{{dataDokter.sip}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <button pButton pRipple label="Validasi & Selesai" class="col number" style="font-weight: normal; font-size: 1.2rem;" icon="pi pi-check"></button>
            </div>
        </div>
    </div>
</p-sidebar>
