<div class="row">
    <div class="col">
        <h4 class="mt-0">Diagnosa ICD-10</h4>
        <table class="table table-striped table-hover bd m-0 p-0">
            <thead>
                <tr>
                    <th colspan="3">
                        <p-autoComplete #acICD appendTo="body"
                            placeholder="Cari ICD-10 (Min. 3 huruf)" field="name"
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [minLength]="3"
                            [autoHighlight]="true" [showEmptyMessage]="true" [suggestions]="filteredIcd10"
                            [showEmptyMessage]="true" [forceSelection]="true"
                            (onSelect)="selected($event, acICD)" (completeMethod)="search($event)">

                            <ng-template pTemplate="header">
                                <table class="table p-m-0 p-p-0">
                                    <tr>
                                        <td style="width: 90px;">ICD Code</td>
                                        <td style="width: 400px;">ICD Name</td>
                                    </tr>
                                </table>
                            </ng-template>
                            <ng-template let-data pTemplate="item">
                                <table class="p-m-0 p-p-0">
                                    <tr>
                                        <td style="width: 90px;" class="tx-left">{{data.id}}</td>
                                        <td style="width: 400px;" class="tx-left">{{data.name}}</td>
                                    </tr>
                                </table>
                            </ng-template>
                        </p-autoComplete>
                    </th>
                </tr>
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th [width]="100">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataTable; let i = index;">
                    <td>
                        {{item.id}}
                        <span class="badge badge-primary" *ngIf="i==0">Utama</span>
                        <span class="badge badge-secondary" *ngIf="i>0">Sekunder</span>
                    </td>
                    <td>{{item.name}}</td>
                    <td [width]="100">
                        <button class="btn btn-xs btn-icon btn-outline-secondary" (click)="deleteIcd10(i)"><i class="bi bi-trash"></i></button>

                        <!-- <button class="btn btn-xs btn-outline-danger btn-icon"><i
                                class="bi bi-trash"></i></button>
                        &nbsp;
                        <button class="btn btn-xs btn-outline-primary btn-icon" *ngIf="i>0"><i
                                class="bi bi-key"></i> Set Utama</button> -->
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataTable.length === 0">
                <tr>
                    <td colspan="3" class="tx-center tx-secondary">Belum ada data saat ini.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col">
        <h4 class="mt-0">Prosedur ICD-9</h4>
        <table class="table table-striped table-hover bd m-0 p-0">
            <thead>
                <tr>
                    <th colspan="3">
                        <p-autoComplete #acICD9 appendTo="body"
                            placeholder="Cari ICD-9 (Min. 3 huruf)" field="name"
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [minLength]="3"
                            [autoHighlight]="true" [showEmptyMessage]="true" [suggestions]="filteredIcd9"
                            [showEmptyMessage]="true" [forceSelection]="true"
                            (onSelect)="selectedIcd9($event, acICD9)" (completeMethod)="searchIcd9($event)">

                            <ng-template pTemplate="header">
                                <table class="table p-m-0 p-p-0">
                                    <tr>
                                        <td style="width: 90px;">ICD Code</td>
                                        <td style="width: 400px;">ICD Name</td>
                                    </tr>
                                </table>
                            </ng-template>
                            <ng-template let-data pTemplate="item">
                                <table class="p-m-0 p-p-0">
                                    <tr>
                                        <td style="width: 90px;" class="tx-left">{{data.id}}</td>
                                        <td style="width: 400px;" class="tx-left">{{data.name}}</td>
                                    </tr>
                                </table>
                            </ng-template>
                        </p-autoComplete>
                    </th>
                </tr>
                <tr>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th [width]="100">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataTable2; let i = index;">
                    <td>
                        {{item.id}}
                    </td>
                    <td>{{item.name}}</td>
                    <td [width]="100">
                        <button class="btn btn-xs btn-icon btn-outline-secondary" (click)="deleteIcd9(i)"><i class="bi bi-trash"></i></button>

                        <!-- <button class="btn btn-xs btn-outline-danger btn-icon"><i
                                class="bi bi-trash"></i></button>
                        &nbsp;
                        <button class="btn btn-xs btn-outline-primary btn-icon" *ngIf="i>0"><i
                                class="bi bi-key"></i> Set Utama</button> -->
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="dataTable2.length === 0">
                <tr>
                    <td colspan="3" class="tx-center tx-secondary">Belum ada data saat ini.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>