<p-dialog [visible]="true" header="Vclaim BPJS" [modal]="true" [draggable]="true" [style]="{width: '85%'}">
    <app-vclaim></app-vclaim>
    <!-- <ng-template pTemplate="footer">
        <div class="clearfix">
            <div class="float-right">
                <button class="btn btn-sm btn-primary"><i class="bi bi-save mr-1"></i> Simpan</button>
            </div>
            <div class="float-right border-right border-secondary pr-2 mr-3">
                <button class="btn btn-sm btn-outline-light"><i class="bi bi-trash mr-1"></i> Delete</button>
                <button class="btn btn-sm btn-outline-light"><i class="bi bi-printer mr-1"></i> Print</button>
            </div>
        </div>
    </ng-template> -->
</p-dialog>

<p-dialog [visible]="false" header="Data Pasien" [modal]="true" [draggable]="true" [style]="{width: '75%'}">
    <app-data-pasien></app-data-pasien>
    <ng-template pTemplate="footer">
    </ng-template>
</p-dialog>

<div class="row pl-3 pr-3" style="margin-left: -14px; margin-right: -14px;">
    <div class="col p-3 bg-gray-500 mb-3">
        <div class="row">
            <div class="col-auto border-right border-light">
                <button class="btn btn-sm btn-secondary mr-1" (click)="openDialogDataPasien()"><i class="bi bi-search mr-1"></i> Cari Pasien</button>
                <button class="btn btn-sm btn-secondary mr-1" (click)="openDialogDataPesertaBpjs()"><i class="bi bi-credit-card mr-1"></i> Vclaim BPJS</button>
                <button class="btn btn-sm btn-secondary mr-1"><i class="bi bi-plus-lg mr-1"></i> Pendaftaran <i class="bi bi-chevron-down ml-2"></i></button>
                <button class="btn btn-sm btn-secondary mr-1"><i class="bi bi-printer mr-1"></i> Print <i class="bi bi-chevron-down ml-2"></i></button>
                <!-- <p-menu #menu [popup]="true" appendTo="body" [model]="menuPrint"></p-menu> -->
                <button class="btn btn-sm btn-secondary mr-1"><i class="bi bi-arrow-repeat mr-1"></i> Refresh</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-sm btn-primary" (click)="save()" [disabled]="form.invalid" *ngIf="!form.get('id')?.value"><i class="bi bi-save mr-1"></i> Simpan Pasien Baru</button>
                <button class="btn btn-sm btn-primary" (click)="update()" [disabled]="form.invalid" *ngIf="form.get('id')?.value"><i class="bi bi-save mr-1"></i> Update</button>
            </div>
            <div class="col tx-right">
                <button class="btn btn-sm btn-secondary mr-1"><i class="bi bi-trash mr-1"></i> Batal</button>
            </div>
        </div>
    </div>
    <!-- <div class="col border-bottom pb-3 mb-2">
        <button class="btn btn-outline-primary btn-sm" (click)="openDialogDataPasien()"><i class="bi bi-search mr-1"></i>Cari Pasien</button>
        <button class="btn btn-outline-primary btn-sm ml-2" (click)="openDialogDataPesertaBpjs()"><i class="bi bi-person-video2 mr-2"></i>Data Peserta BPJS</button>
        <button class="btn btn-sm btn-outline-light ml-2" (click)="initForm()"><i class="bi bi-arrow-clockwise mr-1"></i> Reset Form</button>
    </div> -->
    <div class="w-100"></div>
    <div class="col">
        <form [formGroup]="form" name="form">
            <div class="row mb-2" style="display: none;">
                <label class="col-4 col-form-label">
                    ID Pasien
                </label>
                <div class="col">
                    <input type="text" formControlName="id" readonly="readonly">
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-4 col-form-label">
                    RS <span *ngIf="form.get('rs')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="rs" [autoDisplayFirst]="false" formControlName="rs" optionValue="id" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-4 col-form-label">
                    No. RM
                </label>
                <div class="col">
                    <input type="text" formControlName="nomorRm" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="noAsuransi" class="col-4 col-form-label">
                    No. BPJS / Asuransi
                </label>
                <div class="col">
                    <input type="text" formControlName="nomorAsuransi" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="nik" class="col-4 col-form-label">
                    NIK <span *ngIf="form.get('nik')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <input type="text" formControlName="nik" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="nama" class="col-4 col-form-label">
                    Nama <span *ngIf="form.get('nama')?.errors || form.get('awalanNama')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <p-dropdown [options]="awalanNama" [autoDisplayFirst]="false" formControlName="awalanNama" optionValue="id" optionLabel="ket"></p-dropdown>
                        </div>
                        <input type="text" formControlName="nama" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="tmptLahir" class="col-4 col-form-label">
                    Tempat Lahir <span *ngIf="form.get('tempatLahir')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <input type="text" formControlName="tempatLahir" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="tglLahir" class="col-4 col-form-label">
                    Tanggal Lahir <span *ngIf="form.get('tglLahir')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-calendar formControlName="tglLahir" [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                </div>
            </div>
            <div class="row mb-2">
                <label for="jnsKelamin" class="col-4 col-form-label">
                    Jenis Kelamin <span *ngIf="form.get('jnsKelamin')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col pt-2">
                    <p-radioButton name="jnsKelamin" value="L" formControlName="jnsKelamin"></p-radioButton> LAKI-LAKI
                    <p-radioButton name="jnsKelamin" value="P" formControlName="jnsKelamin" class="ml-3"></p-radioButton> <span>PEREMPUAN</span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="alamat" class="col-4 col-form-label">
                    Alamat <span *ngIf="form.get('alamat')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <textarea pInputTextarea formControlName="alamat" [autoResize]="true" [style]="{width: '100%'}"></textarea>
                </div>
            </div>
            <div class="row mb-2">
                <label for="provinsi" class="col-4 col-form-label">
                    Warga Negara <span *ngIf="form.get('negara')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="negara" [filter]="true" [autoDisplayFirst]="false" formControlName="negara" optionValue="id" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="provinsi" class="col-4 col-form-label">
                    Provinsi <span *ngIf="form.get('provinsi')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col-8">
                    <p-dropdown [options]="provinsi" [filter]="true" [autoDisplayFirst]="false" formControlName="provinsi" optionValue="id" optionLabel="name" (ngModelChange)="getKota(form.get('provinsi')?.value)" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="kota" class="col-4 col-form-label">
                    Kota <span ng-show="form1.kota.$error.required" class="fontello-icon-attention-circle error"></span>
                </label>
                <div class="col-8">
                    <p-dropdown [options]="kota" [filter]="true" [autoDisplayFirst]="false" formControlName="kota" optionValue="id" optionLabel="name" (ngModelChange)="getKecamatan(form.get('kota')?.value)" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="kecamatan" class="col-4 col-form-label">
                    Kecamatan<span ng-show="form1.kecamatan.$error.required" class="fontello-icon-attention-circle error"></span>
                </label>
                <div class="col-8">
                    <p-dropdown [options]="kecamatan" [filter]="true" [autoDisplayFirst]="false" formControlName="kecamatan" optionValue="id" optionLabel="name" (ngModelChange)="getKelurahan(form.get('kecamatan')?.value)" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="kelurahan" class="col-4 col-form-label">
                    Kelurahan<span ng-show="form1.kelurahan.$error.required" class="fontello-icon-attention-circle error"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="kelurahan" [filter]="true" [autoDisplayFirst]="false" formControlName="kelurahan" optionValue="id" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <form [formGroup]="form">
            <div class="row mb-2">
                <label for="suku" class="col-4 col-form-label">
                    Suku
                </label>
                <div class="col">
                    <p-dropdown [options]="suku" [filter]="true" [autoDisplayFirst]="false" formControlName="suku" optionValue="id" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="statusKawin" class="col-4 col-form-label">
                    Status Perkawinan  <span *ngIf="form.get('statusNikah')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="statusNikah" [autoDisplayFirst]="false" formControlName="statusNikah" optionValue="statusNikahID" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="agama" class="col-4 col-form-label">
                    Agama <span *ngIf="form.get('agama')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="agama" [autoDisplayFirst]="false" formControlName="agama" optionValue="agamaID" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="pekerjaan" class="col-4 col-form-label">
                    Pekerjaan <span *ngIf="form.get('pekerjaan')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="pekerjaan" [autoDisplayFirst]="false" formControlName="pekerjaan" optionValue="pekerjaanid" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="pendidikan" class="col-4 col-form-label">
                    Pendidikan <span *ngIf="form.get('pendidikan')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="pendidikan" [autoDisplayFirst]="false" formControlName="pendidikan" optionValue="pendidikanID" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="notlp" class="col-4 col-form-label">
                    Telepon Pasien <span *ngIf="form.get('tlpPasien')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <input type="text" formControlName="tlpPasien" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="notlpklg" class="col-4 col-form-label">
                    Telepon Keluarga
                </label>
                <div class="col">
                    <input type="text" formControlName="tlpKeluarga" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="goldar" class="col-4 col-form-label">
                    Golongan Darah
                </label>
                <div class="col">
                    <input type="text" formControlName="golonganDarah" maxlength="3" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="nrp" class="col-4 col-form-label">
                    NRP / NIP
                </label>
                <div class="col">
                    <input type="text" formControlName="nrpNip" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="angkatan" class="col-4 col-form-label">
                    Angkatan <span *ngIf="form.get('angkatan')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="angkatan" [autoDisplayFirst]="false" formControlName="angkatan" optionValue="angkatanID" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="pangkat" class="col-4 col-form-label">
                    Pangkat / Golongan
                </label>
                <div class="col">
                    <p-dropdown [options]="pangkat" [autoDisplayFirst]="false" formControlName="pangkat" optionValue="pangkatID" optionLabel="name" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="kesatuan" class="col-4 col-form-label">
                    Kesatuan
                </label>
                <div class="col">
                    <input type="text" formControlName="kesatuan" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="jabatan" class="col-4 col-form-label">
                    Jabatan
                </label>
                <div class="col">
                    <input type="text" formControlName="jabatan" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <label for="golpas" class="col-4 col-form-label">
                    Group Pasien <span *ngIf="form.get('groupPasien')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="groupPasien" [autoDisplayFirst]="false" formControlName="groupPasien" optionValue="id" optionLabel="name" (ngModelChange)="getGolonganPasien(form.get('groupPasien')?.value)" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-2">
                <label for="golpas" class="col-4 col-form-label">
                    Golongan Pasien <span *ngIf="form.get('golonganPasien')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="golonganPasien" [autoDisplayFirst]="false" formControlName="golonganPasien" optionValue="golpasID" optionLabel="golpasName" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <!-- <div class="row mb-2">
                <label for="hubPasien" class="col-4 col-form-label">
                    Status Pasien <span ng-show="form2.hubPasien.$error.required" class="fontello-icon-attention-circle error"></span>
                </label>
                <div class="col">
                    <p-dropdown [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div> -->
        </form>
    </div>
</div>