<!-- ########## START: MAIN PANEL ########## -->
<div [ngClass]="{'br-mainpanel': (currentRoute != 'login'), '': (currentRoute == 'login')}">
    <div class="panel-submenu pd-10" *ngIf="currentRoute=='medicalRecord'">
        <app-menu-emr></app-menu-emr>
    </div>
    <div class="br-pagebody mg-t-20" [ngClass]="{'have-submenu': (currentRoute == 'medicalRecord')}">
        <div [ngClass]="{'pd-t-7 pd-b-5': (!showMargin), 'pd-t-20 pd-b-20 pd-l-0 pd-r-0': (showMargin)}">
            <app-widget-submenu-farmasi hidden></app-widget-submenu-farmasi>
        </div>
        <div class="br-section-wrapper"
            [ngClass]="{'br-section-wrapper': (currentRoute != 'login'), 'login-page mg-t-20': (currentRoute == 'login')}">

            <app-widget-registrasi></app-widget-registrasi>

            <div class="row">
                <div class="col">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div><!-- br-pagebody -->
</div><!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->