<p-dialog
    [(visible)]="dialog"
    (onHide)="jasaPelaksanaService.openDialog(false)"
    header="Jasa Pelaksana"
    [draggable]="false"
    [modal]="true"
    position="top"
    [breakpoints]="{'1920px': '30vw', '1366px': '35vw'}"
    appendTo="body">

    <ng-container *ngIf="dialog">
        <app-dynamic-form *ngIf="questions$" [tanggal]="tanggal" [tarif]="tarif" [registrasi]="registrasi" [ruangan]="registrasi.ruangan" [questions]="questions$ | async"></app-dynamic-form>
    </ng-container>

</p-dialog>