<div class="row" *ngIf="header">
    <div class="col-auto border-right">
        <h5>Billing Perawatan</h5>
    </div>
    <div class="col-auto border-right">
        <app-cari-registrasi [showForm]="false"></app-cari-registrasi>
    </div>
    <div class="col-auto">
        <!-- <button class="btn mr-1" (click)="printBilling()"><i class="bi bi-plus-lg"></i> Tambah Billing</button> -->
        <button class="btn mr-1" (click)="printBilling()"><i class="bi bi-printer"></i> Print Billing</button>
        <button class="btn btn-light mr-1" (click)="refresh()"><i class="bi bi-arrow-repeat mr-1"></i></button>
        <!-- <button class="btn btn-outline-light btn-xs p-1 pl-2 pr-2 mr-1"><i class="bi bi-filetype-xls"></i> XLS</button>
        <button class="btn btn-outline-light btn-xs p-1 pl-2 pr-2 mr-1"><i class="bi bi-trash"></i> Hapus</button> -->
    </div>
</div>
<!-- <div>
    <ag-grid-angular></ag-grid-angular>
</div> -->
<div class="row mg-t-10">
    <div class="col-auto" *ngIf="showTarif">
        <app-tarif></app-tarif>
    </div>
    <div class="col">
        <div class="row mg-t-10">
            <div class="col">
                <p-selectButton [options]="catTarif" [(ngModel)]="selectedCatTarif" optionValue="id" optionLabel="name"></p-selectButton>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover border-bottom">
                    <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>Nama Tarif</th>
                            <th>Dokter</th>
                            <th>Harga</th>
                            <th>Qty</th>
                            <th>Disc</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataBilling; let idx = index">
                            <td>{{appService.dateHuman(item.tgl_tindakan)}}</td>
                            <td>{{item.r_tarif_harga.r_tarif.name | uppercase}}</td>
                            <td>
                                <ng-container *ngFor="let jasa of item.r_billing_jasa">
                                    <div><a class="text-primary clickable" *ngIf="jasa.r_pelaksana.group == 'dokter'">{{jasa.r_pelaksana.name}}</a></div>
                                </ng-container>
                            </td>
                            <td>{{item.r_tarif_harga.harga | number}}</td>
                            <td><a class="text-primary clickable" (click)="openOpJumlah($event, item)">{{item.qty}}</a></td>
                            <td><a class="text-primary clickable" (click)="openOpDisc($event, item)">{{item.discount_percent}}%</a></td>
                            <td>{{this.billingService.hitungTotalBilling(item) | number}}</td>
                            <td>
                                <button class="btn btn-icon btn-outline-light rounded-circle" (click)="confirmDeleteBilling($event, item)">
                                    <div><i class="bi bi-trash"></i></div>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel #opDisc>
    <ng-template pTemplate>
        Disc %
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="selectedBilling.discount_percent" placeholder="Discount %" aria-label="Discount %" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary btn-icon" type="button" (click)="addDiscount()">
                    <div><i class="bi bi-check-lg"></i></div>
                </button>
                <button class="btn btn-icon" type="button">
                    <div><i class="bi bi-x-lg"></i></div>
                </button>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opJumlah>
    <ng-template pTemplate>
        Jumlah
        <div class="input-group">
            <input type="number" class="form-control"  [(ngModel)]="selectedBilling.qty" placeholder="Qty" aria-label="Qty" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary btn-icon" (click)="updateJumlah()" type="button">
                    <div><i class="bi bi-check-lg"></i></div>
                </button>
                <button class="btn btn-icon" type="button">
                    <div><i class="bi bi-x-lg"></i></div>
                </button>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-confirmPopup></p-confirmPopup>