<div class="row" *ngIf="header">
    <div class="col-auto border-right">
        <h5>Billing Perawatan</h5>
    </div>
    <div class="col-auto border-right">
        <app-cari-registrasi [showForm]="false"></app-cari-registrasi>
    </div>
    <div class="col-auto">
        <!-- <button class="btn mr-1" (click)="printBilling()"><i class="bi bi-plus-lg"></i> Tambah Billing</button> -->
        <button class="btn mr-1" (click)="printBilling()"><i class="bi bi-printer"></i> Print Billing</button>
        <button class="btn btn-light mr-1" (click)="refresh()"><i class="bi bi-arrow-repeat mr-1"></i></button>
        <!-- <button class="btn btn-outline-light btn-xs p-1 pl-2 pr-2 mr-1"><i class="bi bi-filetype-xls"></i> XLS</button>
        <button class="btn btn-outline-light btn-xs p-1 pl-2 pr-2 mr-1"><i class="bi bi-trash"></i> Hapus</button> -->
    </div>
</div>
<!-- <div>
    <ag-grid-angular></ag-grid-angular>
</div> -->
<div class="row mg-t-10">
    <div class="col-auto" *ngIf="showTarif">
        <app-tarif></app-tarif>
    </div>
    <div class="col">
        <div class="row mg-t-10">
            <div class="col">
                <p-selectButton [options]="catTarif" [(ngModel)]="selectedCatTarif" optionValue="id" optionLabel="name"></p-selectButton>
            </div>
            <div class="col-auto">
                Status Tagihan :
            </div>
            <div class="col-auto pd-l-0">
                <p-selectButton (ngModelChange)="changeStatusBilling($event)" [options]="statusBilling" [(ngModel)]="selectedStatusBilling" optionValue="id" optionLabel="name"></p-selectButton>
            </div>
        </div>
        <div class="row mg-t-10">
            <div class="col">
                <p-table [value]="dataBilling" responsiveLayout="scroll" [rowHover]="true" styleClass="p-datatable-sm p-datatable-striped" [(selection)]="selectedBillingBatch" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>Tanggal</th>
                            <th>Nama Tarif</th>
                            <th>Dokter</th>
                            <th>Harga</th>
                            <th>Qty</th>
                            <th>Disc</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="item"></p-tableCheckbox>
                            </td>
                            <td>{{appService.dateHuman(item.tgl_tindakan)}}</td>
                            <td>{{item.r_tarif_harga.r_tarif.name | uppercase}}</td>
                            <td>
                                <ng-container *ngFor="let jasa of item.r_billing_jasa">
                                    <div><a class="text-primary clickable" *ngIf="jasa.r_pelaksana.group == 'dokter'">{{jasa.r_pelaksana.name}}</a></div>
                                </ng-container>
                            </td>
                            <td>{{item.r_tarif_harga.harga | number}}</td>
                            <td><a class="text-primary clickable" (click)="openOpJumlah($event, item)">{{item.qty}}</a></td>
                            <td><a class="text-primary clickable" (click)="openOpDisc($event, item)">{{item.discount_percent}}%</a></td>
                            <td>{{this.billingService.hitungTotalBilling(item) | number}}</td>
                            <td>
                                <span class="badge" [ngClass]="{'badge-success': (item.status === 'open'), 'badge-danger': (item.status) === 'closed'}">{{item.status}}</span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-light" (click)="confirmDeleteBilling($event, item)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="dataBilling.length == 0">
                            <td colspan="10" class="text-center">Tidak ada data saat ini.</td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel #opDisc>
    <ng-template pTemplate>
        Disc %
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="selectedBilling.discount_percent" placeholder="Discount %" aria-label="Discount %" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="addDiscount()">
                    <i class="bi bi-check-lg"></i>
                </button>
                <button class="btn" type="button">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #opJumlah>
    <ng-template pTemplate>
        Jumlah
        <div class="input-group">
            <input type="number" class="form-control"  [(ngModel)]="selectedBilling.qty" placeholder="Qty" aria-label="Qty" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="updateJumlah()" type="button">
                    <i class="bi bi-check-lg"></i>
                </button>
                <button class="btn" type="button">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-confirmPopup></p-confirmPopup>