<div class="row pl-3 pt-0">
    <div class="col p-p-0">
        <form [formGroup]="form">
            <div class="row p-mt-2">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="d-block tx-16">Asal Kunjungan</label>
                        <p-dropdown [options]="asalKunjungan" optionLabel="name" formControlName="asalKunjungan"
                            placeholder="Pilih.." [showClear]="true" [style]="{'width':'100%'}"></p-dropdown>

                        <!-- <div class="alert alert-primary p-2 mt-2 clickable" pRipple>
                            <div class="tx-bold">Asal Rujukan</div>
                            <div class="mb-2">POLIKLINIK ANAK <span class="ml-5">dr. Novelia Z. L. Mardin, Sp.A</span>
                            </div>
                            <div class="badge badge-secondary tx-11 tx-light">Z10.2 ROUTINE GENERAL HEALTH CHECK-UP OF
                                ARMED FORCES</div>
                            <div class="badge badge-secondary tx-11 tx-light">Z20.2 CONTACT WITH AND EXPOSURE TO
                                INFECTIONS WITH A PREDOMINANTLY SEXUAL MODE OF TRANSMISSION</div>
                        </div> -->

                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="d-block tx-16 bg-gray-200 p-2 pl-3 rounded">Keluhan</label>
                        <div class="row">
                            <div class="col-5">
                                <p-scrollPanel [style]="{width: '100%', height: '200px'}">
                                    <div *ngFor="let item of tplKeluhan">
                                        <p-checkbox name="groupname" value="val1"></p-checkbox> {{item.name}}
                                    </div>
                                </p-scrollPanel>
                            </div>
                            <div class="col-7 border-left">
                                <div class="alert alert-secondary p-2 mb-1 clickable" pRipple>
                                    <span class="badge badge-primary mr-1"><i class="bi bi-key"></i></span> Gangguan Miksi - Aliran
                                    <div class="pl-4 ml-2">Skala Nyeri: <span class="tx-bold mr-3">8</span> Catatan: <span class="tx-bold">-</span></div>
                                </div>
                                <div class="alert alert-secondary p-2 mb-1 clickable" pRipple>
                                    <span class="badge badge-secondary mr-1"><i class="bi bi-key"></i></span> Sakit Pinggang
                                </div>
                                <div class="alert alert-secondary p-2 mb-1 clickable" pRipple>
                                    <span class="badge badge-secondary mr-1"><i class="bi bi-key"></i></span> Demam
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="d-block tx-16">Catatan</label>
                        <textarea [style]="{width: '100%'}" pInputTextarea [autoResize]="true"></textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-3 rounded clickable bd bg-light mb-3" pRipple>
                        <h6 class="tx-primary tx-16 bd-b bd-primary">Riwayat Medis Pasien</h6>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Penyakit Sekarang</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Diabetes</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Kolesterol</div>
                        </div>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Penyakit Terdahulu</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Tumor</div>
                        </div>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Operasi</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Appendicectomy</div>
                        </div>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Catatan Khusus</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1"><span class="tx-gray-500">Tidak ada catatan khusus</span></div>
                        </div>
                    </div>

                    <div class="p-3 rounded clickable bd bg-light mb-3" pRipple>
                        <h6 class="tx-primary tx-16 bd-b bd-primary">Alergi</h6>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Obat</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Penicilin</div>
                        </div>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Makanan</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1"><span class="tx-gray-500">Tidak ada</span></div>
                        </div>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Lainnya</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1"><span class="tx-gray-500">Tidak ada</span></div>
                        </div>
                    </div>

                    <div class="p-3 rounded clickable bd bg-light mb-3" pRipple>
                        <h6 class="tx-primary tx-16 bd-b bd-primary">Gaya Hidup & Keluarga</h6>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Kebiasaan</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Merokok: <span class="tx-bold">Berat</span></div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Minum Alkohol: <span class="tx-bold">Ringan</span></div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1">Stress: <span class="tx-bold">7</span></div>
                        </div>
                        <div class="pl-2 pr-2 mb-3">
                            <div class="tx-bold">Riwayat Penyakit Keluarga</div>
                            <div class="bg-gray-200 p-1 pl-2 pr-2 rounded tx-black mb-1"><span class="tx-gray-500">Tidak ada</span></div>
                        </div>
                    </div>

                    <!-- <p-accordion>
                        <p-accordionTab header="Riwayat Penyakit Sekarang">
                            <div class="p-p-2">
                                <div class="form-group row">
                                    <div class="col">
                                        <p-editor formControlName="riwayatPenyakitSkrg"></p-editor>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Riwayat Penyakit Terdahulu">
                            <div class="p-p-2">
                                <div class="form-group row">
                                    <div class="col">
                                        <p-editor formControlName="riwayatPenyakitDulu"></p-editor>
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Pengkajian Perawat">
                            <div class="p-p-2">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Anamnesa Perawat :</label>
                                    <div class="col">
                                        <input type="text" formControlName="anamnesaPerawat" pInputText
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Diagnosa Rujukan :</label>
                                    <div class="col">
                                        <input type="text" formControlName="diagnosaRujukan" pInputText
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Riwayat Alergi">
                            <div class="p-p-2">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Obat :</label>
                                    <div class="col">
                                        <input type="text" formControlName="alergiObat" pInputText class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Makanan :</label>
                                    <div class="col">
                                        <input type="text" formControlName="alergiMakanan" pInputText
                                            class="form-control">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion> -->
                </div>
            </div>
        </form>
    </div>
</div>