html,
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.95rem;
    line-height: unset;
    letter-spacing: unset;
    color: #515568;
}

.p-component {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.95rem;
}

.br-section-wrapper {
    padding: 30px;
}

.clickable {
    cursor: pointer;
}

.p-inputtext {
    padding: 0.67rem 0.5rem;
    font-size: 0.95rem;
}

.form-control {
    font-size: 0.95rem;
}

.panel-submenu{
    background-color: #26354a;
    transition: all 0.2s ease-in-out;
    width: 225px;
    min-height: 100vh;
    position: fixed;
}

.have-submenu {
    margin-left: 220px;
}

.br-nav-mailbox .nav-link i {
    font-size: 20px;
}