<div class="row">
    <div class="col-auto">
        <button class="btn btn-primary mr-2" (click)="formSuratKontrolService.openDialog()"><i class="bi bi-plus-lg"></i> Data Baru</button>
        <button class="btn" (click)="getDataSuratKontrol()"><i class="bi bi-arrow-clockwise"></i></button>
    </div>
    <div class="col-auto">
        Bulan : <p-calendar (ngModelChange)="getDataSuratKontrol()" [(ngModel)]="filter.from" view="month" dateFormat="M yy" appendTo="body" [style]="{width:'150px'}" [readonlyInput]="true"></p-calendar>
    </div>
</div>
<div class="row mg-t-10">
    <div class="col">
        <table class="table table-striped table-hover border-bottom">
            <thead>
                <tr class="bg-gray-300">
                    <th>No. Surat Kontrol</th>
                    <th>SEP Asal</th>
                    <th>Jns. Pelayanan</th>
                    <th>Poli Asal</th>
                    <th>Poli Tujuan</th>
                    <th>Dokter</th>
                    <th width="100">Tgl. Terbit</th>
                    <th width="100">Tgl. Kontrol</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody *ngIf="dataSuratKontrol">
                <tr *ngFor="let item of dataSuratKontrol.list">
                    <td><button class="btn btn-secondary btn-sm" (click)="suratKontrolService.getSuratKontrol(item.noSuratKontrol)">{{item.noSuratKontrol}}</button></td>
                    <td>{{item.noSepAsalKontrol}}</td>
                    <td>{{item.jnsPelayanan | uppercase}}</td>
                    <td>{{item.namaPoliAsal}}</td>
                    <td>{{item.namaPoliTujuan}}</td>
                    <td>{{item.namaDokter}}</td>
                    <td>{{item.tglTerbitKontrol}}</td>
                    <td>{{item.tglRencanaKontrol}}</td>
                    <td>
                        <button class="btn btn-icon btn-outline-secondary rounded-circle" (click)="delete(item.noSuratKontrol)">
                            <div><i class="bi bi-trash"></i></div>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="!dataSuratKontrol">
                <tr>
                    <td colspan="8" class="tx-center">Tidak ada data saat ini.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<p-dialog
    header="Form Surat Kontrol"
    (onHide)="formSuratKontrolService.closeDialog()"
    [(visible)]="dialogFormSuratKontrol"
    [style]="{width: '600px'}" appendTo="body"
    position="top"
    [modal]="true">
    <app-form-surat-kontrol *ngIf="dialogFormSuratKontrol"></app-form-surat-kontrol>
</p-dialog>