<div class="row bd p-shadow-3 bg-white">
    <div class="col-2 bd-r">
        <app-registrasi-list></app-registrasi-list>
    </div>
    <div class="col" style="background: #f7f9ff;">
        <app-header-registrasi></app-header-registrasi>

        <div class="row">
            <div class="col-2 p-p-0 bd-r bg-white">
                <app-menu-emr></app-menu-emr>
            </div>
            <div class="col p-p-3">
                <div class="row">
                    <div class="col">
                        <fieldset class="form-fieldset">
                            <legend>Data Registrasi</legend>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">No. Registrasi</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">Tgl. Registrasi</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">No. Rekam Medik</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">Jns. Pembayaran</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col">
                        <fieldset class="form-fieldset">
                            <legend>Pelayanan</legend>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">Dokter</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">Ruangan</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label">No. Antrian</label>
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail3" pInputText readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-4 col-form-label"></label>
                                <div class="col">
                                    <button pButton label="Simpan" icon="pi pi-check"></button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <!-- <app-e-resep></app-e-resep>
                <app-pengajuan-pembedahaan></app-pengajuan-pembedahaan>
                <app-pengkajian-awal-watlan></app-pengkajian-awal-watlan>
                <app-cppt-form></app-cppt-form> -->
            </div>
        </div>
    </div>
</div>