<div class="row">
    <div class="col">
        <table class="table table-striped table-hover border-bottom">
            <thead>
                <tr class="bg-gray-300">
                    <th>No. Urut</th>
                    <th>No. Peserta</th>
                    <th>Nama</th>
                    <th>Jns. Kelamin</th>
                </tr>
            </thead>
            <tbody *ngIf="dataPeserta.length > 0">
                <tr *ngFor="let item of dataPeserta">
                    <td><button class="btn btn-sm btn-secondary" (click)="selectedPeserta(item)">{{item.noUrut}}</button></td>
                    <td>{{item.noPeserta}}</td>
                    <td>{{item.nama | uppercase}}</td>
                    <td>{{item.jnsKelamin | uppercase}}</td>
                </tr>
            </tbody>
            <tfoot *ngIf="dataPeserta.length === 0">
                <tr>
                    <td colspan="6" class="tx-center">Tidak ada data saat ini.</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
