<div class="row">
    <div class="col">
        <button class="btn btn-primary" (click)="openDialog()"><i class="bi bi-plus"></i> Tambah Pemeriksaan</button>
    </div>
</div>

<p-dialog
    [(visible)]="dialog"
    header="Tambah Pemeriksaan Laboratorium"
    [draggable]="false"
    [modal]="true"
    position="top"
    [breakpoints]="{'1920px': '65vw', '1366px': '80vw'}"
    appendTo="body">

    <ng-container *ngIf="dialog">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <div class="tx-gray-500">Tanggal</div>
                    <div>
                        <p-calendar formControlName="tanggal" dateFormat="dd M yy"[showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="col">
                    <div class="tx-gray-500">Jns. Perawatan</div>
                    <div>
                        <p-dropdown formControlName="jnsPerawatan" [options]="dataJnsPerawatan" optionValue="id" optionLabel="name" appendTo="body" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
                    </div>
                </div>
                <div class="col">
                    <div class="tx-gray-500">Ruangan/Poliklinik</div>
                    <div>
                        <p-dropdown formControlName="ruangan" [options]="dataRuangan" optionValue="id" optionLabel="name" appendTo="body" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
                    </div>
                </div>
                <div class="col">
                    <div class="tx-gray-500">Dokter</div>
                    <div>
                        <p-dropdown formControlName="dokter" [options]="dataDokter" optionValue="id_pelaksana" optionLabel="r_pelaksana.name" appendTo="body" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
                    </div>
                </div>
            </div>
        </form>

        <div class="row mg-t-10">
            <div class="col">
                <p-autoComplete
                    #ac
                    placeholder="+ Tambah Pemeriksaan"
                    appendTo="body"
                    scrollHeight="30vw"
                    (completeMethod)="tambahPemeriksaanService.cariPemeriksaan($event.query)"
                    (onSelect)="selectPemeriksaan($event, ac)"
                    [suggestions]="resultPemeriksaan"
                    [minLength]="2"
                    [delay]="100"
                    [style]="{width: '100%'}"
                    [inputStyle]="{'width':'100%'}">
                    <ng-template pTemplate="header">
                        <div class="row bg-gray-200 sticky-top">
                            <div class="col-6 pd-l-30 pd-t-10 pd-b-10">Nama Pemeriksaa</div>
                            <div class="col-2 pd-t-10 pd-b-10">Harga</div>
                        </div>
                    </ng-template>
                    <ng-template let-value pTemplate="item">
                        <div class="row">
                            <div class="col-6">{{value.r_tarif.name | uppercase}}</div>
                            <div class="col-2">{{value.harga | number}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
        </div>
        <div class="row mg-t-5">
            <div class="col">
                <p-table
                    [value]="dataPemeriksaan"
                    [rowHover]="true"
                    styleClass="p-datatable-sm p-datatable-striped">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Nama Pemeriksaan</th>
                            <th>Harga</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{item.tarif.r_tarif.name}}</td>
                            <td>{{item.tarif.harga | number}}</td>
                            <td>
                                <button class="btn btn-sm"><i class="bi bi-pencil"></i></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="dataPemeriksaan.length == 0">
                            <th colspan="3">
                                <div class="w-100 text-center tx-gray-500 tx-normal pd-10 border-bottom">
                                    Belum ada data saat ini.
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <ng-template pTemplate="footer">
            <div class="row">
                <div class="col pd-5">
                    <button (click)="save()" #saveButton class="btn btn-primary" [disabled]="!form.invalid && dataPemeriksaan.length == 0"><i class="bi bi-save"></i> Simpan</button>
                </div>
            </div>
        </ng-template>
    </ng-container>

</p-dialog>

<p-dialog
    [(visible)]="dialogTarifJasa"
    header="Jasa Pelaksana"
    [draggable]="false"
    [modal]="true"
    (onHide)="onHideJasaPelaksana()"
    position="top"
    [breakpoints]="{'1920px': '30vw', '1366px': '30vw'}"
    appendTo="body">
    <ng-container *ngIf="dialogTarifJasa">
        <app-dynamic-form *ngIf="questions$" [tanggal]="tanggal" [tarif]="selectedTarif" [registrasi]="registrasi" [ruangan]="selectedRuangan" [questions]="questions$ | async"></app-dynamic-form>
    </ng-container>
</p-dialog>