<div class="row border-bottom pd-b-10">
    <div class="col-auto mg-r-10 border-right">
        <h5>VClaim BPJS</h5>
    </div>
    <div class="col-auto pd-l-3 pd-r-3">
        <app-rujukan></app-rujukan>
    </div>
    <div class="col-auto pd-l-3 pd-r-3">
        <app-surat-kontrol></app-surat-kontrol>
    </div>
    <div class="col-auto pd-l-3 pd-r-3">
        <app-data-prb></app-data-prb>
    </div>
    <div class="col-auto pd-l-3 pd-r-3">
        <app-sep></app-sep>
    </div>
</div>
<div class="row mg-t-10">
    <div class="col-5">
        <app-peserta></app-peserta>
    </div>
    <div class="col">
        <app-form-sep></app-form-sep>
    </div>
</div>