<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col">
                <button pButton pRipple class="p-button-info" label="Save" icon="pi pi-save"></button>
            </div>
        </div>

        <div class="row p-mt-2">
            <div class="col-3">
                <div class="row form-group">
                    <div class="col-4">Tanggal</div>
                    <div class="col">
                        <p-calendar placeholder="Pilih Tanggal" [(ngModel)]="now" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">Jam</div>
                    <div class="col">
                        <p-calendar placeholder="Pilih Jam" [(ngModel)]="now" [timeOnly]="true" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">Status Pasien</div>
                    <div class="col">
                        <input type="text" pInputText class="form-control" readOnly>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">Dokter Pengirim</div>
                    <div class="col">
                        <input type="text" pInputText class="form-control" readOnly>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">Asal Poli</div>
                    <div class="col">
                        <input type="text" pInputText class="form-control" readOnly>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row form-group">
                    <div class="col-3">Poli Tujuan</div>
                    <div class="col-3">
                        <p-dropdown [options]="masterPoli" (onChange)="selectedPoliTujuan($event)" optionLabel="name"></p-dropdown>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">Dokter Poli Tujuan</div>
                    <div class="col-5">
                        <p-dropdown [options]="dataDokter" optionLabel="pelaksanaName"></p-dropdown>
                    </div>
                </div>
                <div class="row form-group bd-t p-mt-1 p-pt-1">
                    <div class="col-3">
                        Diagnosa <br>
                        <button pButton label="Pick from Assessment" (click)="dialog1=true" icon="pi pi-external-link" class="p-button-sm p-button-text p-button-info p-mt-1"></button>
                    </div>
                    <div class="col-6 p-mb-2">
                        <p-autoComplete
                            #acICD
                            appendTo="body"
                            placeholder="Cari ICD 10..."
                            field="name"
                            [minLength]="2"
                            [autoHighlight]="true"
                            [showEmptyMessage]="true"
                            [suggestions]="filteredIcd10"
                            [showEmptyMessage]="true"
                            [forceSelection]="true"
                            (onSelect)="selected($event, acICD)"
                            (onFocus)="showAutocomplete(acICD, $event)"
                            (keyup)="showAutocomplete(acICD, $event)"
                            (completeMethod)="search($event)">
                            <ng-template pTemplate="header">
                                <table class="table table-sm bd table-bordered p-m-0 p-p-0">
                                    <tr class="bg-primary">
                                        <td style="width: 90px;">ICD Code</td>
                                        <td style="width: 400px;">ICD Name</td>
                                    </tr>
                                </table>
                            </ng-template>
                            <ng-template let-data pTemplate="item">
                                <table class="table table-sm p-m-0 p-p-0">
                                    <tr>
                                        <td style="width: 90px;">{{data.id}}</td>
                                        <td style="width: 400px;">{{data.name}}</td>
                                    </tr>
                                </table>
                            </ng-template>
                        </p-autoComplete>
                        <table class="table table-sm bd p-mb-0">
                            <thead>
                                <tr class="bg-primary">
                                    <th width="90">Code</th>
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataTable">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                        <button pButton class="p-button-sm p-button-danger p-button-icon" icon="pi pi-trash"></button>
                                    </td>
                                </tr>
                                <tr *ngIf="dataTable.length==0">
                                    <td colspan="3" class="empty-data">Belum ada data saat ini.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-3">Kebutuhan Konsul</div>
                    <div class="col-7">
                        <p-editor [style]="{'min-height':'200px'}"></p-editor>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Pick from Assessment" [(visible)]="dialog1" position="top" [modal]="true" [style]="{width: '50vw'}">
    <div>
        <table class="table table-sm bd">
            <thead>
                <tr class="bg-primary">
                    <th width="80">Code</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>asd</td>
                    <td>asdasdasd</td>
                </tr>
            </thead>
        </table>
    </div>
</p-dialog>