<form [formGroup]="formRencanaBerobat" class="p-mt-2">
    <fieldset class="form-fieldset">
        <legend>Surat Keterangan Berobat Lanjutan</legend>
        <div class="form-group row bd-b p-mb-2 p-pb-2">
            <label for="inputEmail3" class="col-3 col-form-label">Terapi</label>
            <div class="col-3">
                <input class="form-control" pInputText formControlName="terapi">
            </div>
        </div>
        <div class="form-group row bd-b p-mb-2 p-pb-2">
            <label for="inputEmail3" class="col-3 col-form-label">Tgl. Surat Rujukan</label>
            <div class="col-3">
                <p-calendar [(ngModel)]="tglSuratRujukan" placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" formControlName="tglSuratRujukan"></p-calendar>
            </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput" class="d-block">Belum dapat dikembalikan ke Fasilitas Perujuk dengan alasan :</label>
            <input class="form-control" pInputText formControlName="alasanBelumDikembalikan">
        </div>
        <div class="form-group p-mt-2">
            <label for="formGroupExampleInput" class="d-block">Rencana tindakan lanjut yang akan dilakukan pada kunjungan selanjutnya :</label>
            <input class="form-control" pInputText formControlName="rencanaTindakan">
        </div>
        <label for="formGroupExampleInput" class="d-block p-mt-2">Surat keterangan ini digunakan untuk 1(satu) kali kunjungan dengan diagnosa di atas pada :</label>
        <div class="form-group row bd-b p-mb-2 p-pb-2">
            <label for="inputEmail3" class="col-3 col-form-label">Tanggal</label>
            <div class="col-3">
                <p-calendar [(ngModel)]="tglBerobatLanjutan" placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" formControlName="tglBerobatLanjutan"></p-calendar>
            </div>
        </div>
        <div class="form-group row bd-b p-mb-2 p-pb-2">
            <label for="inputEmail3" class="col-3 col-form-label">No. Antrian</label>
            <div class="col-3">
                <input class="form-control" pInputText readonly formControlName="noAntrian">
            </div>
        </div>
    </fieldset>
</form>