<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col button-group">
                <span class="p-buttonset">
                    <button pButton pRipple class="p-button-info" label="Save" icon="pi pi-save" (click)="save()"></button>
                    <button pButton pRipple class="p-button-info" [disabled]="selectedData.length==0" (click)="setAsPrimary()" label="Set As Primary" icon="pi pi-key"></button>
                </span>
            </div>
        </div>

        <form [formGroup]="form">
            <div class="row p-mt-2">
                <div class="col-5">
                    <div class="row form-group">
                        <div class="col-2">ICD 10</div>
                        <div class="col">
                            <p-autoComplete
                                #acICD
                                appendTo="body"
                                placeholder="Cari ICD 10... (Min. 3 Huruf)"
                                field="name"
                                [minLength]="3"
                                [autoHighlight]="true"
                                [showEmptyMessage]="true"
                                [suggestions]="filteredIcd10"
                                [showEmptyMessage]="true"
                                [forceSelection]="true"
                                (onSelect)="selected($event, acICD)"
                                (onFocus)="showAutocomplete(acICD, $event)"
                                (keyup)="showAutocomplete(acICD, $event)"
                                (completeMethod)="search($event)">
                                <ng-template pTemplate="header">
                                    <table class="table table-sm bd table-bordered p-m-0 p-p-0">
                                        <tr class="bg-primary">
                                            <td style="width: 90px;">ICD Code</td>
                                            <td style="width: 400px;">ICD Name</td>
                                        </tr>
                                    </table>
                                </ng-template>
                                <ng-template let-data pTemplate="item">
                                    <table class="table table-sm p-m-0 p-p-0">
                                        <tr>
                                            <td style="width: 90px;">{{data.id}}</td>
                                            <td style="width: 400px;">{{data.name}}</td>
                                        </tr>
                                    </table>
                                </ng-template>
                            </p-autoComplete>
                            <button pButton icon="pi pi-table" class="p-mt-1 p-button-sm p-button-secondary p-button-text" label="Master Data"></button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="title-section">ICD 10 Yang Terpilih :</div>
                    <p-table [value]="dataTable" selectionMode="single" [(selection)]="selectedData" dataKey="id" styleClass="bd">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 80px;"></th>
                                <th style="width: 100px;">Code</th>
                                <th>Name</th>
                                <th style="width: 80px;">Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-i="rowIndex">
                            <tr>
                                <td>
                                    <span class="badge badge-info" *ngIf="i==0">Utama</span>
                                    <span class="badge badge-secondary" *ngIf="i>0">Sekunder</span>
                                    <p-tableRadioButton *ngIf="i>0" [value]="data"></p-tableRadioButton>
                                </td>
                                <td>{{data.id}}</td>
                                <td>{{data.name}}</td>
                                <td><button pButton pRipple pTooltip="Delete" tooltipPosition="top" class="p-button-sm p-button-danger p-mr-1" icon="pi pi-trash"></button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr *ngIf="dataTable.length == 0">
                                <td colspan="4" class="empty-data">Belum ada data saat ini.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </form>
    </div>
</div>