<div class="row">
    <div class="col-auto border-right">
        <h5>Pemeriksaan Radiologi</h5>
    </div>
    <div class="col-auto border-right">
        <app-cari-registrasi [showForm]="false"></app-cari-registrasi>
    </div>
    <div class="col-auto">
        <app-tambah-billing [unit]="'rad'"></app-tambah-billing>
    </div>
    <div class="col-auto">
        <!-- <app-tambah-tindakan></app-tambah-tindakan> -->
        <!-- <button class="btn" (click)="dialogHasilRadiologi = true" hidden>
            <i class="bi bi-file-check"></i> Hasil Pemeriksaan
        </button> -->
    </div>
</div>

<div class="row mg-t-10">
    <div class="col">
        <app-data-billing></app-data-billing>
    </div>
</div>

<p-dialog
    [(visible)]="dialogHasilRadiologi"
    header="Hasil Radiologi"
    [modal]="true"
    position="top"
    [breakpoints]="{'1920px': '65vw', '1280px': '85vw', '1028px': '95vw'}"
    appendTo="body">
    <app-hasil-radiologi></app-hasil-radiologi>
</p-dialog>