<div class="row">
    <div class="col-auto border-right">
        <h5>Pemeriksaan Laboratorium</h5>
    </div>
    <div class="col-auto border-right">
        <app-cari-registrasi [showForm]="false"></app-cari-registrasi>
    </div>
    <div class="col-auto pd-r-5">
        <app-tambah-billing [unit]="'lab'"></app-tambah-billing>
    </div>
</div>
<div class="row mg-t-10">
    <div class="col">
        <app-data-billing-penunjang [unit]="'lab'"></app-data-billing-penunjang>
    </div>
</div>

<app-hasil-laboratorium [showButton]="false"></app-hasil-laboratorium>