<p-sidebar header="Jumlah" [fullScreen]="true" [(visible)]="panelJumlah">
    <div class="row p-p-5 bg-dark tx-white">
        <div class="col-2 tx-right">
            <div style="font-size: 1.5rem; color: #ffc33e;" (click)="addNewitem('tes')">JUMLAH : {{item}}</div>
        </div>
        <div class="col-6 p-pt-1" style="min-height: 75px;">
            <div style="font-size: 1.2rem;">{{selectedObat.nama_obat}}</div>
            <h1 class="tx-white">
                {{number}}
                <span class="blink_me" *ngIf="!number" style="padding-right:10px;">_</span>
                <span style="font-size: 1.5rem; text-transform: capitalize;">{{satuanPilih}}</span>
            </h1>
            <div style="color: #9eabc5;">Stok Obat : {{selectedObat.stok_gudang}} {{selectedObat.satuan}}</div>
        </div>
        <div class="col">
            <button pButton pRipple class="p-button-sm p-button-warning p-button-outlined" icon="pi pi-star-o" label="Favoritkan" (click)="saveObatFavorit()"></button>&nbsp;
            <button pButton pRipple class="p-button-sm p-button-danger" icon="pi pi-trash" label="Hapus" *ngIf="editMode" (click)="hapusResep($event)"></button>
            <button pButton pRipple class="p-button-success col-12 p-p-3 p-mt-4" style="font-size: 1rem; font-weight: 600;" label="NEXT" icon="pi pi-chevron-right" iconPos="right" (click)="next()"></button>
        </div>
    </div>
    <div class="row bg-white">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="keypad">
                <div class="row">
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="1" (click)="keypadInput('1')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="2" (click)="keypadInput('2')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="3" (click)="keypadInput('3')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 p-m-0" label="Hapus" style="border-radius: unset;" (click)="hapusNumber()"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="4" (click)="keypadInput('4')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="5" (click)="keypadInput('5')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="6" (click)="keypadInput('6')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="." (click)="keypadInput('.')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="7" (click)="keypadInput('7')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="8" (click)="keypadInput('8')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="9" (click)="keypadInput('9')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="/" (click)="keypadInput('/')"></button>

                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="" disabled></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="0"(click)="keypadInput('0')"></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="" disabled></button>
                    <button pButton pRipple class=" p-button-secondary col-3 number p-m-0" label="" disabled></button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="keypad">
                <div class="row">
                    <button pButton pRipple class="p-button-info col-6 number2 p-m-0" label="Mg" (click)="changeSatuan($event)"></button>
                    <button pButton pRipple class="p-button-info col-6 number2 p-m-0" label="Tab" (click)="changeSatuan($event)"></button>
                    <button pButton pRipple class="p-button-info col-6 number2 p-m-0" label="Ml" (click)="changeSatuan($event)"></button>
                    <button pButton pRipple class="p-button-info col-6 number2 p-m-0" label="Lt" (click)="changeSatuan($event)"></button>
                    <button pButton pRipple class="p-button-info col-6 number2 p-m-0" label="Tetes" (click)="changeSatuan($event)"></button>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</p-sidebar>

<app-panel-sig></app-panel-sig>
<p-confirmPopup></p-confirmPopup>