<button class="btn btn-primary" (click)="tambahBillingOperasiService.openDialog(true)">
    <i class="bi bi-plus-lg"></i> Tambah Billing Operasi
</button>

<p-dialog
    [(visible)]="dialog"
    (onHide)="tambahBillingOperasiService.openDialog(false)"
    header="Tambah Billing Operasi"
    position="top"
    appendTo="body"
    [modal]="true"
    [draggable]="false"
    [breakpoints]="{'1920px': '65vw', '1366px': '80vw'}">
    <ng-container *ngIf="dialog">
        <div class="row">
            <div class="col">
                <form [formGroup]="form"></form>
            </div>
        </div>
        <div class="row mg-t-10">
            <div class="col">
                <app-cari-tarif [category]="'op'"></app-cari-tarif>
            </div>
        </div>
        <div class="row mg-t-10">
            <div class="col">
                <app-data-billing-operasi></app-data-billing-operasi>
            </div>
        </div>
    </ng-container>
</p-dialog>
