<div class="row border-bottom bg-gray-100 shadow-sm" style="margin: -30px -30px 15px -30px; padding: 15px;" *ngIf="registrasi">
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">Nama Pasien</div>
        <div>{{registrasi.pasien.nama | uppercase}}</div>
    </div>
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">No. RM</div>
        <div>{{registrasi.pasien.norm | uppercase}}</div>
    </div>
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">Jns. Kelamin</div>
        <div>{{registrasi.pasien.r_jns_kelamin.name | uppercase}}</div>
    </div>
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">Usia</div>
        <div>{{appService.getAge(registrasi.pasien.tgl_lahir)}}</div>
    </div>
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">Ruangan / Poliklinik</div>
        <div>{{registrasi.ruang_perawatan.name | uppercase}}</div>
    </div>
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">Dokter</div>
        <div>{{registrasi.dokter.name}}</div>
    </div>
    <div class="col-auto">
        <div class="tx-12 tx-gray-500">Pembayaran</div>
        <div>{{registrasi.golpas.r_grouppas.name | uppercase}} - {{registrasi.golpas.name | uppercase}}</div>
    </div>
</div>