<div class="row action-section">
    <div class="col">
        <button pButton pRipple (click)="save()" [disabled]="dataObat.length == 0" label="Save" class="p-button-sm p-button-info" icon="pi pi-save"></button>
    </div>
</div>
<div class="row">
    <div class="col p-pb-3">
        <div class="title-section bd-b p-pl-2">Data Ketersediaan Obat</div>
        <form [formGroup]="formFarmasi" class="p-pt-2">
            <div class="form-group row p-mb-1">
                <div class="col-2 tx-right">
                    <label class="d-block">Obat <i *ngIf="formFarmasi.controls['obat'].invalid" style="color: brown;">*</i></label>
                </div>
                <div class="col">
                    <p-autoComplete
                        #masterObat
                        formControlName="obat"
                        appendTo="body"
                        placeholder="Cari Obat..."
                        field="nama_obat"
                        [(ngModel)]="selectedObat"
                        [autoHighlight]="true"
                        [suggestions]="filterDataObat"
                        [forceSelection]="true"
                        (onClear)="selectedObatUnit='-'"
                        (onSelect)="selectObat($event)"
                        (completeMethod)="search($event)">
                        <ng-template pTemplate="header">
                            <table class="table table-sm bd table-bordered p-m-0 p-p-0">
                                <tr class="bg-primary">
                                    <td style="width: 300px;">Nama Obat</td>
                                    <td style="width: 80px;">Stock</td>
                                    <td style="width: 80px;">Unit</td>
                                </tr>
                            </table>
                        </ng-template>
                        <ng-template let-obat pTemplate="item">
                            <table class="table table-sm p-m-0 p-p-0">
                                <tr>
                                    <td style="width: 300px;">{{obat.label}}</td>
                                    <td style="width: 80px;">{{obat.stok_gudang}}</td>
                                    <td style="width: 80px;">{{obat.satuan}}</td>
                                </tr>
                            </table>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>
            <div class="form-group row p-mb-1">
                <div class="col-2 tx-right">
                    <label class="d-block">Jumlah <i *ngIf="formFarmasi.controls['jumlahObat'].invalid" style="color: brown;">*</i></label>
                </div>
                <div class="col-2">
                    <div class="p-inputgroup">
                        <button type="button" pButton pRipple class="p-button-secondary" icon="pi pi-plus-circle" (click)="op2.toggle($event)"></button>
                        <input type="text" formControlName="jumlahObat" class="form-control" pInputText>
                        <span class="p-inputgroup-addon">{{selectedObatUnit}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row p-mb-1">
                <div class="col-2 tx-right">
                    <label class="d-block">SIG</label>
                </div>
                <div class="col">
                    <div class="p-inputgroup" style="margin-bottom: 2px; display: none;">
                        <button type="button" pButton pRipple class="p-button-secondary" icon="pi pi-plus-circle" (click)="dialogSig=true"></button>
                        <input type="text" formControlName="sig" pInputText>
                    </div>
                    <table class="table table-sm bd p-m-0">
                        <thead>
                            <tr class="bg-primarya">
                                <th style="width: 150px;" class="tx-center">
                                    <button type="button" pButton pRipple class="p-button-sm p-button-secondary" icon="pi pi-plus-circle" label="Generate Sig" (click)="dialogSig=true"></button>
                                </th>
                                <th>Dosis <i *ngIf="formFarmasi.controls['dosis'].invalid" style="color: brown;">*</i></th>
                                <th>Unit <i *ngIf="formFarmasi.controls['unit'].invalid" style="color: brown;">*</i></th>
                                <th>Route <i *ngIf="formFarmasi.controls['route'].invalid" style="color: brown;">*</i></th>
                                <th>Frekuensi <i *ngIf="formFarmasi.controls['frekuensi'].invalid" style="color: brown;">*</i></th>
                                <th>Arahan <i *ngIf="formFarmasi.controls['arahan'].invalid" style="color: brown;">*</i></th>
                                <th>Durasi</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <!-- <td>{{sigData.dosis}} <span *ngIf="!sigData.dosis">-</span> </td> -->
                                <td><input type="text" pInputText class="form-control" formControlName="dosis" readOnly></td>
                                <td><input type="text" pInputText class="form-control" formControlName="unit" readOnly></td>
                                <td><input type="text" pInputText class="form-control" formControlName="route" readOnly></td>
                                <td><input type="text" pInputText class="form-control" formControlName="frekuensi" readOnly></td>
                                <td><input type="text" pInputText class="form-control" formControlName="arahan" readOnly></td>
                                <td><input type="text" pInputText class="form-control" formControlName="durasi" readOnly></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="form-group row" style="display: none;">
                <div class="col-2 tx-right">
                    <label class="d-block">Jumlah Hari </label>
                </div>
                <div class="col-3">
                    <div class="p-inputgroup">
                        <button type="button" pButton pRipple class="p-button-secondary" icon="pi pi-plus-circle" (click)="op.toggle($event)"></button>
                        <input type="text" formControlName="jumlahHari" pInputText>
                    </div>
                </div>
            </div>

            <div class="form-group row p-mt-1 p-mb-1 p-pt-1">
                <div class="col-2 tx-right"></div>
                <div class="col">
                    <button *ngIf="actionMode=='new'" [disabled]="formFarmasi.invalid" type="button" pButton pRipple class="p-button-sm p-button-info" icon="pi pi-plus" (click)="addObat(masterObat)" label="Add To List"></button>
                    <div class="p-buttonset">
                        <button *ngIf="actionMode=='edit'" type="button" pButton pRipple class="p-button-info" icon="pi pi-refresh" (click)="updateObat(masterObat)" label="Update"></button>
                        <button *ngIf="actionMode=='edit'" type="button" pButton pRipple class="p-button-info" icon="pi pi-times" (click)="resetForm(masterObat)" label="Cancel Edit"></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="col-3">
        <div class="title-section p-pl-2 p-mb-2">Riwayat Alergi Obat</div>
        <div>
            <span class="badge badge-warning p-mr-1">paracetamol</span>
            <span class="badge badge-warning p-mr-1">amoxan</span>
            <span class="badge badge-warning p-mr-1">panadol</span>
        </div>
    </div>
</div>
<div class="row bd-t p-pt-2">
    <!-- <div class="col-3"></div> -->
    <div class="col">
        <div class="title-section p-pl-2">Item Yang Terpilih</div>
        <div class="p-pt-1">
            <table class="table table-sm table-striped table-hover bd">
                <thead>
                    <tr class="bg-primarya">
                        <th width="80"></th>
                        <th>Nama Obat</th>
                        <th width="10">Dosis</th>
                        <th width="150">Unit</th>
                        <th width="80">Route</th>
                        <th>Frekuensi</th>
                        <th>Arahan</th>
                        <th>Durasi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataObat; let i = index">
                        <td>
                            <button pButton pRipple pTooltip="Delete" tooltipPosition="top" (click)="removeObat(i)" class="p-button-sm p-button-danger p-mr-1" icon="pi pi-trash"></button>
                            <button pButton pRipple pTooltip="Edit" tooltipPosition="top" (click)="editObat(i,item)" class="p-button-sm p-button-info" icon="pi pi-pencil"></button>
                        </td>
                        <td>{{item.obat.nama_obat}}</td>
                        <td>{{item.dosis}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.route}}</td>
                        <td>{{item.frekuensi}}</td>
                        <td>{{item.arahan}}</td>
                        <td>{{item.durasi}}</td>
                    </tr>
                    <tr>
                        <td colspan="8" class="empty-data" *ngIf="dataObat.length < 1">Belum ada data saat ini.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p-dialog header="SIG Generator" [draggable]="true" [(visible)]="dialogSig" [modal]="true" [style]="{width: '60vw'}" position="top" appendTo="body">
    <div class="row action-section">
        <div class="col">
            <button pButton pRipple icon="pi pi-send" label="Send to form" class="p-button-sm p-button-info" (click)="sendToForm()"></button>
            <button pButton pRipple icon="pi pi-save" label="Save as template" class="p-button-sm p-button-info" (click)="saveTemplateSig()"></button>
        </div>
    </div>
    <div class="alert alert-success p-mb-1" *ngIf="alertSaveTemplate" @fadeInOut>
        <i class="pi pi-check-circle"></i>   Template berhasil disimpan
    </div>
    <p-tabView>
        <p-tabPanel header="Generator">
            <div class="p-p-1">
                <input type="text" pInputText [(ngModel)]="sigText" class="form-control" placeholder="SIG Free Text...">
            </div>
            <div class="rounded">
                <table class="table table-bordered bd rounded">
                    <thead>
                        <tr class="bg-primary">
                            <th>Dosis</th>
                            <th>Unit</th>
                            <th>Route</th>
                            <th>Frekuensi</th>
                            <th>Arahan</th>
                            <th>Durasi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p-table [value]="data.dosis" styleClass="table-sig" selectionMode="single" [(selection)]="sigData.dosis" (onRowSelect)="onRowSigSelect($event, 'dosis', true)" (onRowUnselect)="onRowSigSelect($event, 'dosis', false)">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                            <td>
                                <p-table [value]="data.unit" styleClass="table-sig" selectionMode="single" [(selection)]="sigData.unit" (onRowSelect)="onRowSigSelect($event, 'unit', true)" (onRowUnselect)="onRowSigSelect($event, 'unit', false)">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                            <td>
                                <p-table [value]="data.route" styleClass="table-sig" selectionMode="single" [(selection)]="sigData.route" (onRowSelect)="onRowSigSelect($event, 'route', true)" (onRowUnselect)="onRowSigSelect($event, 'route', false)">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                            <td>
                                <p-table [value]="data.frekuensi" styleClass="table-sig" selectionMode="single" [(selection)]="sigData.frekuensi" (onRowSelect)="onRowSigSelect($event, 'frekuensi', true)" (onRowUnselect)="onRowSigSelect($event, 'frekuensi', false)">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                            <td>
                                <p-table [value]="data.arahan" styleClass="table-sig" selectionMode="single" [metaKeySelection]="false" [(selection)]="sigData.arahan" (onRowSelect)="onRowSigSelect($event, 'arahan', true)" (onRowUnselect)="onRowSigSelect($event, 'arahan', false)">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                            <td>
                                <p-table [value]="data.durasi" styleClass="table-sig" selectionMode="single" [(selection)]="sigData.durasi" (onRowSelect)="onRowSigSelect($event, 'durasi', true)" (onRowUnselect)="onRowSigSelect($event, 'durasi', false)">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td>{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Template">
            <p-table [value]="dataTemplateSig" styleClass="table bd table-sm rounded" selectionMode="single" class="p-table-border" (onRowSelect)="onRowSigTemplate($event)" [(selection)]="selectedTemplateSig" dataKey="value">
                <ng-template pTemplate="header">
                    <tr class="bg-primary">
                        <th>Dosis</th>
                        <th>Unit</th>
                        <th>Route</th>
                        <th>Frekuensi</th>
                        <th>Arahan</th>
                        <th>Durasi</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [pSelectableRow]="item">
                        <td>{{item.dosis}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.route}}</td>
                        <td>{{item.frekuensi}}</td>
                        <td>{{item.arahan}}</td>
                        <td>{{item.durasi}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="tx-center tx-grey bg-silver p-p-3" *ngIf="dataTemplateSig.length == 0">Tidak ada data saat ini.</div>
        </p-tabPanel>
    </p-tabView>
</p-dialog>

<p-overlayPanel #op appendTo="body" [style]="{width: '330px'}">
    <ng-template pTemplate>
        <div *ngFor="let item of parsingNumber" style="display: inline-flex;">
            <div (click)="selectJumlahHari(op, item2)" style="width: 30px; height: 23px;" class="node-number tx-center clickable bd" *ngFor="let item2 of item">{{item2}}</div>
        </div>
    </ng-template>
</p-overlayPanel>

<p-overlayPanel #op2 appendTo="body" [style]="{width: '302px'}">
    <ng-template pTemplate>
        <div *ngFor="let item of parsingNumber" style="display: inline-flex;">
            <div (click)="selectJumlahObat(op2, item2)" style="width: 30px; height: 23px;" class="node-number tx-center clickable bd" *ngFor="let item2 of item">{{item2}}</div>
        </div>
    </ng-template>
</p-overlayPanel>

