<div class="mb-2">
    <input type="text" [(ngModel)]="filterKeyObat" (keyup)="listenFilteringObat($event)" placeholder="Cari Obat..." class="form-control">
    <div class="pt-2 pl-0">Alergi : <span class="tx-danger">Penicilin</span></div>
</div>
<div class="p-mt-1 container-master-obat">
    <div class="p-pl-1 p-pr-1" style="padding-top: 1px; width: 50px;">
        <p-scrollPanel [style]="{width: '100%', height: 'calc(100% - 300px)'}">
            <div #filterLetter>
                <div class="letter" pRipple (click)="filterByLetter($event)">ALL</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">A</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">B</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">C</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">D</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">E</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">F</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">G</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">H</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">I</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">J</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">K</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">L</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">M</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">N</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">O</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">P</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">Q</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">R</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">S</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">T</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">U</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">V</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">W</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">X</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">Y</div>
                <div class="letter" pRipple (click)="filterByLetter($event)">Z</div>
            </div>
        </p-scrollPanel>
    </div>
    <div>
        <p-table
            #dtObat
            styleClass="p-datatable-striped bd"
            class="table-obat item-obat"
            responsiveLayout="scroll"
            scrollHeight="flex"
            selectionMode="single"
            (onRowSelect)="onSelectObat()"
            [style]="{ height: 'calc(100% - 300px)' }"
            [value]="masterObat"
            [(selection)]="selectedObat"
            [globalFilterFields]="['nama']"
            [virtualScroll]="true"
            [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nama Obat</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td class="clearfix">
                        <div class="float-left">{{item.nama}}</div>
                        <span class="badge badge-secondary bg-gray-200 tx-gray-700 tx-11 float-right">{{item.stok}} {{item.satuan}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>