.container-master-obat {
    display: inline-flex;
    width: 100%;
    height: calc(100% - 90px);
}

.letter {
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.letter:hover{
    color: #0168fa;
    background-color: #f3f3f3;
    cursor: pointer;
}