<div class="pd-y-20 pd-x-10 contact-list" style="display: none;">
    <div class="media active mb-3">
        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle bg-gray-700">A</span>
        </div>
        <div class="media-body mg-l-10">
            <h6 class="tx-15 mg-b-3">Fazri Anggriawan</h6>
            <div class="tx-13">Laki-Laki, 34 Tahun</div>
            <div class="tx-13">BPJS Ketenagakerjaan</div>
            <div class="tx-13">No. RM : 818181</div>
        </div><!-- media-body -->
    </div><!-- media -->
</div>

<div class="ps p-3">
    <div class="mb-2 pb-2 border-bottom">
        <button class="btn btn-outline-primary btn-sm"><i class="bi bi-chevron-left"></i> Back</button>
    </div>
    <div>
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Informasi Pasien : </label>
    </div>
    <div class="clearfix mg-b-25">
        <div id="contactAvatar" class="pos-relative float-left">
            <div class="avatar avatar-xl"><span class="avatar-initial rounded-circle bg-gray-700">A</span></div>
            <a href="" class="contact-edit-photo" data-toggle="tooltip" title="" data-original-title="Upload Photo"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-edit-2">
                    <polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon>
                </svg></a>
        </div>
    </div>
    <h5 id="contactName" class="tx-18 tx-xl-20 mg-b-5">Fazri Anggriawan</h5>
    <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-1">Laki-Laki, 34 Tahun.</p>
    <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-1">BPJS Ketenagakerjaan</p>
    <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-1">No. RM : 818181</p>
    <div class="pt-2">
        <button class="btn btn-xs btn-primary btn-block"><i class="bi bi-eye-fill"></i> View Detail</button>
    </div>
    <hr>

    <div class="mb-3 mt-3">
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Alergi : <button class="btn btn-xs btn-outline-primary"><i class="bi bi-pencil"></i> Edit</button> </label>
        <div class="tx-13">
            <div>Makanan : <strong class="tx-danger">Pisang</strong></div>
            <div>Obat : <strong class="tx-danger">Paracetamol</strong></div>
        </div>
    </div>
    <hr>
    <div>
        <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Riwayat Pelayanan :</label>
        <div>
            <div class="timeline-group tx-13">
                <div class="timeline-item">
                    <div class="timeline-body">
                        <p class="m-0 p-0">Rabu, 12 Desember 2021</p>
                        <h6 class="mg-b-0">POLIKLINIK ANAK</h6>
                        <p><a href="">dr. Novelia Z. L. Mardin, Sp.A</a></p>

                        <p>Diagnosa : <strong>A15.0 - Tuberculosis of lung, confirmed by sputum microscopy with or
                                without culture</strong></p>
                        <nav class="nav nav-row mg-t-15">
                            <a href=""><i class="bi bi-eye-fill"></i> View Detail</a>
                        </nav>
                    </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                    <div class="timeline-body">
                        <p class="m-0 p-0">Rabu, 12 Desember 2021</p>
                        <h6 class="mg-b-0">POLIKLINIK ANAK</h6>
                        <p><a href="">dr. Novelia Z. L. Mardin, Sp.A</a></p>

                        <p>Diagnosa : <strong>A15.0 - Tuberculosis of lung, confirmed by sputum microscopy with or
                                without culture</strong></p>
                        <nav class="nav nav-row mg-t-15">
                            <a href=""><i class="bi bi-eye-fill"></i> View Detail</a>
                        </nav>
                    </div><!-- timeline-body -->
                </div><!-- timeline-item -->
            </div>
        </div>
    </div>
</div>