<div [formGroup]="form">
    <div class="row mb-2">
        <div class="col-3 text-right">
            <label [attr.for]="question.key">{{question.label}}</label>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-auto" *ngIf="question.prefix">{{question.prefix}}</div>
                <div class="col" [ngClass]="{'col-auto pr-0': question.postfix}">
                    <div [ngSwitch]="question.controlType">
                        <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
                        [id]="question.key" [type]="question.type">

                        <p-dropdown
                            *ngSwitchCase="'dropdown'"
                            [style]="{width: '100%'}"
                            [filter]="true"
                            [options]="question.options"
                            [formControlName]="question.key"
                            [autoDisplayFirst]="false"
                            optionLabel="value"
                            optionValue="key">
                        </p-dropdown>

                        <p-checkbox *ngSwitchCase="'checkbox'" [value]="question.value" [formControlName]="question.key" [id]="question.key"></p-checkbox>

                    </div>
                </div>
                <div class="col-auto" *ngIf="question.postfix">{{question.postfix}}</div>
            </div>

        </div>
    </div>
    <ng-container *ngIf="question.child.length > 0">
        <div class="row mb-2" *ngFor="let item of question.child">
            <div class="col-3"></div>
            <div class="col-9">
                <div class="row">
                    <div class="col-2" *ngIf="item.label" [ngClass]="{'col-4': item.label.length > 20}">
                        <label [attr.for]="item.key">{{item.label}}</label>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-auto" *ngIf="item.prefix">{{item.prefix}}</div>
                            <div class="col" [ngClass]="{'col-auto pr-0': item.postfix}">
                                <div [ngSwitch]="item.controlType">
                                    <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="item.key"
                                    [id]="item.key" [type]="item.type">

                                    <p-dropdown
                                        *ngSwitchCase="'dropdown'"
                                        [style]="{width: '100%'}"
                                        [filter]="true"
                                        [options]="item.options"
                                        [formControlName]="item.key"
                                        [autoDisplayFirst]="false"
                                        optionLabel="value"
                                        optionValue="key">
                                    </p-dropdown>

                                    <p-checkbox *ngSwitchCase="'checkbox'" [value]="item.value" [formControlName]="item.key" [id]="item.key"></p-checkbox>

                                </div>
                            </div>
                            <div class="col-auto" *ngIf="item.postfix" [innerHtml]="item.postfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>