<div id="panelInput" class="talk-bubble tri-right left-top panelInput">
    <div class="talktext">
        <div class="row">
            <form [formGroup]="form">
                <div class="col-12">
                    Lokasi : <br>
                    <input pInputText type="text" class="form-control" style="margin-top: 5px;" formControlName="lokasi">
                </div>
                <div class="col-12" style="margin-top: 10px;">
                    Keterangan : <br>
                    <textarea class="form-control" style="min-height: 50px; width: 100%; margin-top: 5px;"
                        pInputTextarea [autoResize]="true" formControlName="keterangan"></textarea>
                </div>
            </form>
        </div>
        <div class="row mt-2">
            <div class="col-6"><button class="btn btn-primary btn-xs" (click)="save()">Save</button></div>
            <div class="col-6 clearfix">
                <button class="btn btn-outline-danger btn-xs float-right" (click)="deleteNode($event)"><i
                        class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<div id="container-konva" class="viewer"></div>
<div class="thumbnail-image">
    <img src="http://localhost/emr/api/public/get_image" class="img-thumbnail" width="100%"
        (click)="rebuild('http://localhost/emr/api/public/get_image')">
     <button class="btn btn-primary" (click)="saveImage()">Save Image</button> -->
</div>
<div class="panel-legend">
    <div class="legend" *ngFor="let item of a; let i = index">
        <div class="number">{{item.id}}</div>
        <h1>Lokasi</h1>
        <div class="content">
            {{item.content.lokasi}}
            <span *ngIf="!item.content.lokasi" class="tx-gray-200">Belum terinput</span>
        </div>
        <h1>Keterangan</h1>
        <div class="content">
            {{item.content.keterangan}}
            <span *ngIf="!item.content.keterangan" class="tx-gray-200">Belum terinput</span>
        </div>
    </div>
</div>

<p-confirmDialog header="Konfirmasi" icon="pi pi-exclamation-triangle"></p-confirmDialog>