<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col button-group">
                <button pButton pRipple (click)="save()" class="p-button-info" label="Save" icon="pi pi-save"></button>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="row p-mt-2">
                <div class="col">
                    <p-editor formControlName="notes" [style]="{'min-height':'320px'}"></p-editor>
                </div>
                <div class="col">
                    <app-drawing></app-drawing>
                </div>
            </div>
        </form>
    </div>
</div>