<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col button-group">
                <span class="p-buttonset">
                    <button pButton pRipple class="p-button-info" label="Save" icon="pi pi-save"></button>
                </span>
            </div>
        </div>
        <div class="row p-mt-2">
            <div class="col">
                <p-editor [style]="{'min-height':'320px'}"></p-editor>
            </div>
        </div>
    </div>
</div>