<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col button-group">
                <button pButton pRipple (click)="save()" class="p-button-info" label="Save" icon="pi pi-save"></button>
            </div>
        </div>
        <form [formGroup]="form">
            <div class="row p-mt-2">
                <div class="col">
                    <p-editor formControlName="notes" [style]="{'min-height':'320px'}"></p-editor>
                </div>
                <div class="col">
                    <canvas-whiteboard #canvasWhiteboard
                        [drawButtonClass]="'drawButtonClass'"
                        [drawButtonText]="'Draw'"
                        [clearButtonClass]="'clearButtonClass'"
                        [clearButtonText]="'Clear'"
                        [undoButtonText]="'Undo'"
                        [undoButtonEnabled]="true"
                        [redoButtonText]="'Redo'"
                        [redoButtonEnabled]="true"
                        [colorPickerEnabled]="true"
                        [fillColorPickerText]="'Fill'"
                        [strokeColorPickerText]="'Stroke'"
                        [saveDataButtonEnabled]="true"
                        [saveDataButtonText]="'Save'"
                        [lineWidth]="2"
                        [strokeColor]="'rgb(0,0,0)'"
                        [shouldDownloadDrawing]="true">
                    </canvas-whiteboard>
                </div>
            </div>
        </form>
    </div>
</div>