<div class="row">
    <div class="col-auto border-right"><h5>Stok Opname</h5></div>
    <div class="col-auto">
        <button class="btn btn-primary"><i class="bi bi-plus-lg"></i> Tambah Stok Opname</button>
    </div>
</div>
<div class="row mg-t-10">
    <div class="col">
        <p-table
            [value]="dataPeriode"
            [rowHover]="true"
            styleClass="p-datatable-sm p-datatable-striped">
            <ng-template pTemplate="header">
                <tr>
                    <th>Tanggal</th>
                    <th>Keterangan</th>
                    <th>Depo</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template let-item pTemplate="body">
                <tr>
                    <td>{{appService.dateHuman(item.tanggal) | uppercase}}</td>
                    <td>{{item.keterangan}}</td>
                    <td>{{item.r_depo.name}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-secondary" (click)="openDialogDataStok(item)"><i class="bi bi-table"></i> Data Stok Opname</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog
    [(visible)]="dialogDataStok"
    (onHide)="dialogDataStok = false"
    header="Data Stok Opname"
    [modal]="true"
    [draggable]="false"
    position="top"
    [style]="{width: '80%'}"
    appendTo="body">

    <ng-container *ngIf="dialogDataStok">
        <app-data-stok></app-data-stok>
    </ng-container>

</p-dialog>
