<div class="row mt-3">
    <div class="col-4">
        <!-- <div style="position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9; padding-top: 25%; padding-left: 45%;">
            <p-progressSpinner [style]="{width: '25px', height: '25px'}" strokeWidth="5"></p-progressSpinner>
        </div> -->
        <div class="row mb-1">
            <label class="col-4 col-form-label">Cari</label>
            <div class="col">
                <div class="input-group">
                    <input type="text" class="form-control" name="noPeserta" [(ngModel)]="keyNomorKartu" placeholder="No. Kartu BPJS" (keyup)="listenCariPeserta($event)">
                    <div class="input-group-append">
                        <button class="btn btn-primary" (click)="vclaimService.getPesertaByNomorKartu(keyNomorKartu)"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-4"></div>
            <div class="col">
                <div class="input-append">
                    <div class="input-group">
                        <input type="text" class="form-control" name="nik" [(ngModel)]="keyNik" placeholder="No. KTP / NIK" (keyup)="listenCariPeserta($event)">
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="vclaimService.getPesertaByNik(keyNik)"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Nama</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.nama}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">No. Kartu</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.noKartu}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">NIK</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.nik}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Kelamin - Tgl. Lahir</label>
                <div class="col pr-2">
                    <input type="text" class="form-control" value="{{peserta.sex}}" readonly>
                </div>
                <div class="col pl-0">
                    <input type="text" class="form-control" value="{{peserta.tglLahir}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Usia</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.umur.umurSekarang}}" readonly>
                </div>
            </div>

            <div class="row mb-1">
                <label class="col-4 col-form-label">Status Peserta</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.statusPeserta.keterangan}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Jenis Peserta</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.jenisPeserta.keterangan}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Hak Kelas</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.hakKelas.keterangan}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Provider</label>
                <div class="col">
                    <input type="text" class="form-control" value="{{peserta.provUmum.nmProvider}}" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">
                    <button class="btn btn-outline-light btn-xs"><i class="bi bi-plus-lg mr-1"></i>Lebih Detail</button>
                </label>
            </div>
            <div hidden>
                <div class="row mb-1 border-bottom">
                    <label class="col-4 col-form-label">COB</label>
                    <div class="col border-left">
                        <div class="row mb-1">
                            <label class="col-4 col-form-label">Nama Asuransi</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.cob.nmAsuransi}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4 col-form-label">No. Asuransi</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.cob.noAsuransi}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4 col-form-label">Tgl. TAT</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.cob.tglTAT}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4 col-form-label">Tgl. TMT</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.cob.tglTMT}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1 border-bottom">
                    <label class="col-4 col-form-label">Med. Record</label>
                    <div class="col border-left">
                        <div class="row mb-1">
                            <label class="col-4 col-form-label"> No. MR</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.mr.noMR}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4 col-form-label"> No. Tlp</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.mr.noTelepon}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-1 border-bottom">
                    <label class="col-4 col-form-label">Informasi</label>
                    <div class="col border-left">
                        <div class="row mb-1">
                            <label class="col-4 col-form-label"> Dinsos</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.informasi.dinsos}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4 col-form-label"> No. SKTM</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.informasi.noSKTM}}" readonly>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-4 col-form-label"> PRB</label>
                            <div class="col">
                                <input type="text" class="form-control" value="{{peserta.informasi.prolanisPRB}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-8 shadow-sm border rounded">
        <p-tabView [scrollable]="true" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Form SEP">
                <div class="row pt-3 pb-3">
                    <div class="col">
                        <form [formGroup]="formSep">
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">Tanggal SEP</label>
                                <div class="col-auto">
                                    <p-calendar [showIcon]="true" dateFormat="dd M yy" formControlName="tglSep" appendTo="body" [style]="{width:'150px'}"></p-calendar>
                                </div>
                                <div class="col pl-0">
                                    <button class="btn"><i class="bi bi-file-earmark mr-1"></i> SEP Backdate / Fingerprint</button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">
                                    Jenis Kunjungan <span *ngIf="formSep.get('jnsKunjungan')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col">
                                    <p-selectButton [options]="dataJnsKunjungan" (ngModelChange)="onSelectJnsKunjungan()" optionLabel="nama" formControlName="jnsKunjungan"></p-selectButton>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">
                                    Surat Rujukan <span *ngIf="formSep.get('jnsKunjungan')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col">
                                    <div *ngIf="rujukan">
                                        <div>No Rujukan : {{rujukan.rujukan.noKunjungan}}</div>
                                        <div>Tgl Rujukan : {{rujukan.rujukan.tglKunjungan}}</div>
                                        <div>Poli Rujukan : {{rujukan.rujukan.poliRujukan.nama}}</div>
                                        <div>Berlaku sampai : {{vclaimService.getExpiredRujukan(rujukan.rujukan.tglKunjungan).expired}} ({{vclaimService.getExpiredRujukan(rujukan.rujukan.tglKunjungan).hariExpired}} hari lagi)</div>
                                    </div>
                                    <button class="btn"><i class="bi bi-grid-3x3"></i> Pilih Rujukan</button>

                                    <div *ngIf="rujukan" class="mg-t-5">
                                        <div class="badge tx-14 mg-r-5">
                                            Terpakai Sebanyak : {{totalSepRujukan}}x
                                        </div>
                                        <div *ngIf="totalSepRujukan == 0" class="badge badge-success">Rujukan Baru</div>
                                        <div *ngIf="totalSepRujukan >= 1" class="badge badge-primary">Kontrol Kembali</div>
                                    </div>

                                </div>
                            </div>
                            <div class="row mb-1" *ngIf="formSep.value.jnsKunjungan.kode == 'kontrolKembali' || formSep.value.jnsKunjungan.kode == 'rawatInap'">
                                <label class="col-3 col-form-label">
                                    <span *ngIf="formSep.value.jnsKunjungan.kode == 'kontrolKembali'">Surat Kontrol</span>
                                    <span *ngIf="formSep.value.jnsKunjungan.kode == 'rawatInap'">Surat Rawat Inap </span>
                                </label>
                                <div class="col-auto">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="suratKontrol" placeholder="Nomor Surat" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" (click)="formSuratKontrolService.openDialog()"><i class="bi bi-plus-lg mr-1"></i>Data Baru</button>
                                            <button class="btn btn-secondary" (click)="tabIndex=1"><i class="bi bi-table mr-1"></i> View Data</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1" *ngIf="formSep.value.jnsKunjungan.kode == 'rujukanBaru' || formSep.value.jnsKunjungan.kode == 'antarPoli'">
                                <label class="col-3 col-form-label">Surat Rujukan</label>
                                <div class="col-auto">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="noRujukan" placeholder="Nomor Rujukan" readonly>
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" (click)="tabIndex=2"><i class="bi bi-table mr-1"></i> View Data</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-1" ng-show="jnsPelayanan!='rawatInap' && jnsPelayanan!='igd'">
                                <label class="col-3 col-form-label">
                                    Poliklinik <span *ngIf="formSep.get('poliklinik')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col-6">
                                    <p-dropdown [options]="dataRuangan" (ngModelChange)="getDpjp()" [autoDisplayFirst]="false" optionLabel="name" optionValue="r_poli.kode_bpjs" formControlName="poliklinik" [style]="{width: '100%'}"></p-dropdown>

                                    <!-- <p-autoComplete (ngModelChange)="getDpjp()" (completeMethod)="vclaimService.getPoliklinik($event.query)" [suggestions]="dataPoliklinik" [forceSelection]="true" field="nama" [minLength]="3" formControlName="poliklinik" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                                        <ng-template let-value pTemplate="item"><span>{{value.nama | uppercase}}</span></ng-template>
                                    </p-autoComplete> -->
                                </div>
                            </div>
                            <div class="row mb-1" ng-show="jnsPelayanan!='rawatInap'">
                                <label class="col-3 col-form-label">
                                    Dokter / DPJP <span *ngIf="formSep.get('dokter')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col-6">
                                    <p-dropdown [options]="dataDokter" [autoDisplayFirst]="false" optionLabel="nama" formControlName="dokter" [style]="{width: '100%'}"></p-dropdown>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">
                                    Diagnosa <span *ngIf="formSep.get('diagnosa')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col">
                                    <p-autoComplete (completeMethod)="vclaimService.getDiagnosa($event.query)" [suggestions]="dataDiagnosa" [forceSelection]="true" field="nama" [minLength]="3" formControlName="diagnosa" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                                        <ng-template let-value pTemplate="item"><span>{{value.nama}}</span></ng-template>
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="row mb-1" *ngIf="formSep.value.jnsKunjungan.kode == 'antarPoli' ">
                                <label class="col-3 col-form-label">
                                    Assessment Pelayanan <span *ngIf="formSep.get('assessmentPel')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                    </label>
                                <div class="col-6">
                                    <p-dropdown [options]="dataAssessmentPelayanan" optionValue="kode" optionLabel="nama" formControlName="assessmentPel" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">Naik Kelas ?</label>
                                <div class="col-6">
                                    <p-dropdown [options]="dataKelas" optionValue="kode" optionLabel="nama" formControlName="naikKelas" [style]="{width: '100%'}"></p-dropdown>
                                </div>
                            </div>
                            <div class="row mb-1" *ngIf="formSep.value.naikKelas != ''">
                                <label class="col-3 col-form-label">&nbsp;</label>
                                <div class="col">
                                    <div class="mb-1">Pembiayaan :</div>
                                    <div>
                                        <p-dropdown [options]="dataPembiayaanNaikKelas" optionLabel="name" formControlName="naikKelasPembiayaan" [style]="{width: '100%'}"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-1">Penanggung Jawab :</div>
                                    <div>
                                        <p-dropdown [options]="dataPembiayaanNaikKelas" optionLabel="name" formControlName="naikKelasPenanggungJawab" [style]="{width: '100%'}"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">
                                    No. RM <span *ngIf="formSep.get('norm')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col-6">
                                    <input type="text" class="form-control" formControlName="norm" placeholder="Minimal 6 Digit">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">
                                    No. Tlp <span *ngIf="formSep.get('tlp')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                                </label>
                                <div class="col-6">
                                    <input type="text" class="form-control" formControlName="tlp" placeholder="Minimal 9 Digit">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">Catatan</label>
                                <div class="col">
                                    <input type="text" class="form-control" formControlName="catatan">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label class="col-3 col-form-label">Status Kecelakaan</label>
                                <div class="col">
                                    <p-dropdown [options]="dataStatusLaka" optionValue="kode" optionLabel="nama" formControlName="isLakaLantas" [style]="{width: '100%'}"></p-dropdown>
                                </div>
                            </div>
                            <div class="row mt-3 pt-3 border-top" *ngIf="formSep.get('isLakaLantas')?.value != '0'">
                                <div class="col">
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">Tgl. Kejadian</label>
                                        <div class="col">
                                            <p-calendar [showIcon]="true" formControlName="lakaTglKejadian"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">No. Lap. Polisi</label>
                                        <div class="col">
                                            <input type="text" class="form-control" formControlName="lakaNoLp">
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">Keterangan</label>
                                        <div class="col">
                                            <input type="text" class="form-control" formControlName="lakaKeterangan">
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">Suplesi</label>
                                        <div class="col">
                                            <p-dropdown [options]="results" optionLabel="name" formControlName="lakaSuplesi" [style]="{width: '100%'}"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">No. Suplesi</label>
                                        <div class="col">
                                            <input type="text" class="form-control" formControlName="lakaNoSuplesi">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row mb-1 border-bottom tx-bold">
                                        <label class="col">Lokasi Laka</label>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">Provinsi</label>
                                        <div class="col">
                                            <p-dropdown [options]="results" optionLabel="name" formControlName="lakaPropinsi" [style]="{width: '100%'}"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">Kabupaten</label>
                                        <div class="col">
                                            <p-dropdown [options]="results" optionLabel="name" formControlName="lakaKabupaten" [style]="{width: '100%'}"></p-dropdown>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <label class="col-4 col-form-label">Kecamatan</label>
                                        <div class="col">
                                            <p-dropdown [options]="results" optionLabel="name" formControlName="lakaKecamatan" [style]="{width: '100%'}"></p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <div class="row bg-gray-200 pt-3 pb-3 mt-3">
                            <div class="col tx-right">
                                <button class="btn btn-primary" (click)="save()" [disabled]="formSep.invalid"><i class="bi bi-save mr-1"></i> Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Surat Kontrol">
                <app-surat-kontrol></app-surat-kontrol>
            </p-tabPanel>
            <p-tabPanel header="Rujukan">
                <app-rujukan></app-rujukan>
            </p-tabPanel>
            <p-tabPanel header="PRB">
                <app-prb></app-prb>
            </p-tabPanel>
            <p-tabPanel header="Riwayat SEP">
                <app-history></app-history>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>