<!-- <div class="row mt-3">
    <div class="col-auto border-right">
        <h4>Setting Form</h4>
    </div>
    <div class="col-auto pt-1">
        <h5>Assessment Awal <span class="badge badge-light">PENYAKIT DALAM</span></h5>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Atribut Form</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pl-4 pr-4">

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="row">
    <div class="col">
        <h5>{{selectedForm.r_form_emr.name}} :: {{selectedForm.r_ruangan.name}}</h5>
    </div>
</div>

<form [formGroup]="form" class="mg-t-10">
    <div class="row">
        <div class="col-auto pr-1">
            <div>Parent :</div>
            <p-dropdown formControlName="parent" [options]="parent" [autoDisplayFirst]="false" [showClear]="true" optionLabel="r_question.label" optionValue="id"></p-dropdown>
        </div>
        <div class="col-auto pr-1">
            <div>Key (unique) : <span *ngIf="form.get('key')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span></div>
            <input formControlName="key" type="text" class="form-control" placeholder="">
        </div>
        <div class="col-3 pr-1">
            <div>Pertanyaan : <span *ngIf="form.get('pertanyaan')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span></div>
            <input (keyup)="generateKey($event)" formControlName="pertanyaan" type="text" class="form-control" placeholder="">
        </div>
        <div class="col-auto pr-1">
            <div>Tipe Input : <span *ngIf="form.get('controlType')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span></div>
            <p-dropdown formControlName="controlType" [options]="controlType" [autoDisplayFirst]="false" [showClear]="true" optionLabel="name" optionValue="id"></p-dropdown>
        </div>
        <div class="col-auto pr-1">
            <div>Wajib Diisi : <span *ngIf="form.get('required')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span></div>
            <div class="pt-1"><p-inputSwitch formControlName="required"></p-inputSwitch></div>
        </div>
        <div class="col pr-1">
            <div>Prefix :</div>
            <input formControlName="prefix" type="text" class="form-control" placeholder="">
        </div>
        <div class="col">
            <div>Postfix :</div>
            <input formControlName="postfix" type="text" class="form-control" placeholder="">
        </div>
    </div>
</form>
<div class="p-3 border mt-2 shadow-sm">
    <div class="row">
        <div class="col-3 text-right">
            <span *ngIf="form.get('required')?.errors" class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
            <div *ngIf="!hideLabel" class="mb-2">
                {{form.get('pertanyaan')?.value}}
                <span class="text-muted" *ngIf="!form.get('pertanyaan')?.value">[ Pertanyaan ] </span>
            </div>
            <div>
                <p-toggleButton [(ngModel)]="hideLabel" styleClass="p-0 pl-1 pr-1" onLabel="Show" offLabel="Hide" onIcon="bi bi-eye" offIcon="bi bi-eye-slash"></p-toggleButton>
            </div>
        </div>
        <div class="col-auto pl-0 pr-0">
            <span *ngIf="!hideLabel">:</span>
        </div>
        <div class="col-auto">
            {{form.get('prefix')?.value}}
        </div>
        <div class="col-auto pl-0 pr-0" [ngClass]="{'col-4': (form.get('controlType')?.value != 'checkbox')}">
            <ng-container [ngSwitch]="form.get('controlType')?.value">
                <input type="text" [(ngModel)]="inputTextbox" class="form-control" *ngSwitchCase="'textbox'" placeholder="Ketikkan jawaban...">
                <p-checkbox [(ngModel)]="inputCheckbox" *ngSwitchCase="'checkbox'" [binary]="true"></p-checkbox>

                <div *ngSwitchCase="'dropdown'">
                    <div class="row">
                        <div class="col">
                            <p-dropdown [(ngModel)]="inputDropdown" [style]="{width: '100%'}" [options]="pilihanJawaban" optionLabel="name" placeholder="Pilih Jawaban"></p-dropdown>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <div *ngFor="let item of pilihanJawaban; let index = index;">
                                <button class="btn btn-sm text-danger p-0 pt-0" (click)="removeJawaban(index)"><i class="bi bi-x-lg"></i></button> {{item.name}}
                            </div>
                            <input (keyup)="listenAddJawaban($event)" [(ngModel)]="inputPilihan" type="text" class="form-control" placeholder="+ Input Pilihan Jawaban">
                        </div>
                    </div>
                </div>

            </ng-container>
        </div>
        <div class="col-auto pl-1">
            {{form.get('postfix')?.value}}
        </div>
        <div class="col-auto border-left">
            <button class="btn btn-primary btn-sm mr-1" (click)="save()" [disabled]="form.invalid"><i class="bi bi-save mr-1"></i> Simpan</button>
        </div>
    </div>
</div>
<form [formGroup]="form" hidden>
    <div class="row">
        <div class="col-auto p-1">
            <div>Prefix :</div>
            <input formControlName="prefix" type="text" class="form-control" placeholder="">
        </div>
        <div class="col-auto p-1">
            <div>Postfix :</div>
            <input formControlName="postfix" type="text" class="form-control" placeholder="">
        </div>
    </div>
</form>