<div class="splash-screen" *ngIf="splashScreen"></div>

<ng-container *ngIf="currentRoute != 'login'">
    <app-left-panel></app-left-panel>

    <app-top-panel></app-top-panel>

    <app-right-panel></app-right-panel>
</ng-container>

<app-main-panel></app-main-panel>



<!--
<div class="row navbar navbar-header navbar-header-fixed" *ngIf="currentRoute != 'login'">
    <div class="col-auto">
        <div class="pl-4 pt-3">
            <span class="df-logo" style="color: white;">BiHealth</span>
        </div>
    </div>
    <div class="col topMenu">
        <app-menu></app-menu>
    </div>
    <div class="col-auto" hidden>
        <button class="btn btn-icon tx-white tx-16">
            <i class="bi bi-bell mr-1"></i>
            <span class="badge badge-danger">1</span>
        </button>
    </div>
    <div class="col-auto tx-white" style="padding-top: 3px;">
        <app-user></app-user>
    </div>
</div> -->
<!--
<div class="content content-components m-4 p-0 rounded " style="margin-top: 56px !important;">
    <div class="content p-3">
        <div class="row justify-content-center" *ngIf="currentRoute == 'medicalRecord'">
            <div class="col">
                <app-menu-emr></app-menu-emr>
            </div>
            <div class="col">
                <div class="row border-bottom border-top pt-2 pb-2 mb-4" style="background-color: #e6ecef;">
                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text tx-pink" id="basic-addon1"> Suhu </span>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"> <sup>o</sup>C </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text tx-pink" id="basic-addon1"> Tensi </span>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"> mmHg </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text tx-pink" id="basic-addon1"> Nadi </span>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"> x/menit </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text tx-pink" id="basic-addon1"> BB </span>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"> kg </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text tx-pink" id="basic-addon1"> Tinggi </span>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"> cm </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text tx-pink" id="basic-addon1"> Pernapasan </span>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1"> x/menit </span>
                            </div>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <div class="col pt-0">
                <div class="row">
                    <div class="col">
                        <app-menu-emr></app-menu-emr>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-widget-registrasi></app-widget-registrasi>
            </div>
        </div>
        <div class="row">
            <div class="col-auto" *ngIf="currentRoute == 'medicalRecord'">
                <app-menu-emr></app-menu-emr>
            </div>
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div> -->

<div class="loading" *ngIf="loadingService.status | async">
    <p-progressSpinner strokeWidth="2"></p-progressSpinner>
    <div>Loading...</div>
</div>

<p-toast position="top-center">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="grid p-fluid">
                <div class="col-auto">
                    <b>{{message.summary | uppercase}}!</b>
                </div>
                <div class="col">
                    <p innerHtml="{{message.detail}}"></p>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
