<header class="navbar navbar-header navbar-header-fixed" *ngIf="currentRoute != '/'">
    <div class="row">
        <div class="col-2">
            <div class="p-pl-5 p-pt-3">
                <span class="df-logo">SIMRSMANDIRI<span style="color: #0f4f86;">.io</span></span>
            </div>
        </div>
        <div class="col-3">
            <!-- <app-menu></app-menu> -->
        </div>
        <div class="col-3">
            <!-- <app-calendar></app-calendar> -->
        </div>
        <div class="col tx-right">
            <!-- <app-user></app-user> -->
        </div>
    </div>
</header>
<!-- <div class="sidebar sidebar-fixed sidebar-components">
    <div class="sidebar-header">
        <a href="" id="mainMenuOpen"><i data-feather="menu"></i></a>
        <h5>Components</h5>
        <a href="" id="sidebarMenuClose"><i data-feather="x"></i></a>
    </div>
    <div class="sidebar-body p-0">
        <app-data-pasien></app-data-pasien>
    </div>
</div> -->
<!-- <div class="section-nav">
    <label class="nav-label">Ringkasan Konsultasi</label>
    <div>
        <label class="nav-label mb-0">Keluhan / Gejala</label>
        <div>Sakit Kepala</div>
    </div>

    <div class="mt-3">
        <label class="nav-label mb-0">Vital Sign</label>
        <div>Suhu : 34 <sup>o</sup>C</div>
        <div>BB : 36 kg</div>
    </div>

    <div class="mt-3">
        <label class="nav-label mb-0">Diagnosa</label>
        <div class="p-1">
            <div class="border-bottom pb-1 mb-1">Z10.2 ROUTINE GENERAL HEALTH CHECK-UP OF ARMED FORCES</div>
            <div class="border-bottom pb-1 mb-1">Z20.2 CONTACT WITH AND EXPOSURE TO INFECTIONS WITH A PREDOMINANTLY SEXUAL MODE OF TRANSMISSION</div>
        </div>
    </div>
</div>-->
<div class="content content-components p-4 ml-0 mr-0">
    <div class="content p-0">
        <div class="row justify-content-center">
            <div class="col-md-10 col-sm-12">
                <app-menu-emr *ngIf="currentRoute != '/'"></app-menu-emr>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div class="loading" *ngIf="loadingService.status | async">
    <p-progressSpinner strokeWidth="2"></p-progressSpinner>
    <div>Loading...</div>
</div>