<header class="navbar navbar-header navbar-header-fixed">
   <div class="row p-pb-1 p-pt-3 p-pl-3 p-pr-3">
      <div class="col p-mr-6">
         <a href="../../index.html" class="df-logo">ini<span>apps</span></a>
      </div>
      <div class="col-8 p-p-2">
         <div class="navbar-menu-header">
            <a href="../../index.html" class="df-logo">ini<span>apps</span></a>
            <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
         </div><!-- navbar-menu-header -->
         <ul class="nav navbar-menu">
            <li class="nav-item"><a routerLink="urologi" class="nav-link">Urologi</a></li>
         </ul>
      </div><!-- navbar-menu-wrapper -->
      <div class="col p-p-2"></div>
   </div>
</header><!-- navbar -->
<div class="p-grid">
   <div class="p-col">
      <div class="row p-pt-5">
         <div class="col p-m-6">
            <router-outlet></router-outlet>
         </div>
      </div>
   </div>
</div>
