<div class="row">
    <div class="col">
        <form [formGroup]="form">
            <div class="row mb-1">
                <label class="col-3 col-form-label">Tanggal SEP</label>
                <div class="col-auto">
                    <p-calendar [showIcon]="true" dateFormat="dd M yy" formControlName="tglSep" appendTo="body" [style]="{width:'150px'}"></p-calendar>
                </div>
                <div class="col pl-0">
                    <button class="btn"><i class="bi bi-file-earmark mr-1"></i> SEP Backdate / Fingerprint</button>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">
                    Jenis Kunjungan <span *ngIf="form.get('jnsKunjungan')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col">
                    <p-selectButton [options]="optionsJnsKunjungan" (ngModelChange)="onSelectJnsKunjungan()" optionLabel="nama" formControlName="jnsKunjungan"></p-selectButton>
                </div>
            </div>
            <div class="row mb-1 border rounded">
                <label class="col-3 col-form-label">
                    Surat Rujukan <span *ngIf="form.get('jnsKunjungan')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col">
                    <!-- <div class="pd-5" *ngIf="rujukan">
                        <div class="mg-b-5"><span class="text-muted">No. Rujukan: </span><span class="tx-bold">{{rujukan.rujukan.noKunjungan}}</span></div>
                        <div><small class="text-muted">Tgl. Rujukan: </small>{{appService.dateHuman(rujukan.rujukan.tglKunjungan)}}</div>
                        <div><small class="text-muted">Poli Rujukan: </small>{{rujukan.rujukan.poliRujukan.nama}}</div>
                        <div><small class="text-muted">Berlaku Sampai: </small>{{appService.dateHuman(vclaimService.getExpiredRujukan(rujukan.rujukan.tglKunjungan).expired)}} ({{vclaimService.getExpiredRujukan(rujukan.rujukan.tglKunjungan).hariExpired}} hari lagi)</div>

                        <div class="badge tx-14 mg-r-5 mg-t-5">
                            Terpakai Sebanyak : {{totalSepRujukan}}x
                        </div>
                        <div *ngIf="totalSepRujukan == 0" class="badge badge-success">Rujukan Baru</div>
                        <div *ngIf="totalSepRujukan >= 1" class="badge badge-primary">Kontrol Kembali</div>
                    </div>
                    <button class="btn mg-t-5 mg-b-5" (click)="rujukanService.openDialog(true)"><i class="bi bi-grid-3x3"></i> Pilih Rujukan</button> -->
                </div>
            </div>
            <div class="row mb-1 border rounded">
                <label class="col-3 col-form-label">
                    Riwayat SEP Terakhir
                </label>
                <div class="col">
                    <!-- <div class="pd-5" *ngIf="dataHistorySep">
                        <div class="mg-b-5"><span class="text-muted">No. Sep : </span>{{dataHistorySep[0].noSep}}</div>
                        <div><span class="text-muted"><small>Tgl. Sep : </small></span>{{appService.dateHuman(dataHistorySep[0].tglSep)}}</div>
                        <div><span class="text-muted"><small>Poliklinik : </small></span>{{dataHistorySep[0].poli}} - {{dataHistorySep[0].ppkPelayanan}} - <span [ngSwitch]="dataHistorySep[0].jnsPelayanan"> <span *ngSwitchCase="'2'">RAWAT JALAN</span> <span *ngSwitchCase="'1'">RAWAT INAP</span> </span></div>
                    </div> -->
                </div>
            </div>
            <div class="row mb-1" *ngIf="form.value.jnsKunjungan.kode == 'kontrolKembali' || form.value.jnsKunjungan.kode == 'rawatInap'">
                <label class="col-3 col-form-label">
                    <span *ngIf="form.value.jnsKunjungan.kode == 'kontrolKembali'">Surat Kontrol</span>
                    <span *ngIf="form.value.jnsKunjungan.kode == 'rawatInap'">Surat Rawat Inap </span>
                </label>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="suratKontrol" placeholder="Nomor Surat" readonly>
                        <div class="input-group-append">
                            <!-- <button class="btn btn-secondary" (click)="formSuratKontrolService.openDialog()"><i class="bi bi-plus-lg mr-1"></i>Data Baru</button>
                            <button class="btn btn-secondary" (click)="tabIndex=1"><i class="bi bi-table mr-1"></i> View Data</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1" *ngIf="form.value.jnsKunjungan.kode == 'rujukanBaru' || form.value.jnsKunjungan.kode == 'antarPoli'">
                <label class="col-3 col-form-label">Surat Rujukan</label>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="noRujukan" placeholder="Nomor Rujukan" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-secondary"><i class="bi bi-table mr-1"></i> View Data</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">Surat Kontrol</label>
                <div class="col-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="noRujukan" placeholder="Nomor Rujukan" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-secondary"><i class="bi bi-table mr-1"></i> View Data</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mg-t-10 mb-1" ng-show="jnsPelayanan!='rawatInap' && jnsPelayanan!='igd'">
                <label class="col-3 col-form-label">
                    Poliklinik <span *ngIf="form.get('poliklinik')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col-6">
                    <p-dropdown [options]="optionsRuangan" (ngModelChange)="changeRuangan()" [autoDisplayFirst]="false" optionLabel="name" optionValue="r_poli.kode_bpjs" formControlName="poliklinik" [style]="{width: '100%'}"></p-dropdown>

                    <!-- <p-autoComplete (ngModelChange)="getDpjp()" (completeMethod)="vclaimService.getPoliklinik($event.query)" [suggestions]="dataPoliklinik" [forceSelection]="true" field="nama" [minLength]="3" formControlName="poliklinik" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                        <ng-template let-value pTemplate="item"><span>{{value.nama | uppercase}}</span></ng-template>
                    </p-autoComplete> -->
                </div>
            </div>
            <div class="row mb-1" ng-show="jnsPelayanan!='rawatInap'">
                <label class="col-3 col-form-label">
                    Dokter / DPJP <span *ngIf="form.get('dokter')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col-6">
                    <p-dropdown [options]="optionsDokter" [autoDisplayFirst]="false" optionLabel="nama" formControlName="dokter" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">
                    Diagnosa <span *ngIf="form.get('diagnosa')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col">
                    <p-autoComplete (completeMethod)="formSepService.getDiagnosa($event.query)" [suggestions]="optionsDiagnosa" [forceSelection]="true" [showClear]="true" field="nama" [minLength]="3" formControlName="diagnosa" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                        <ng-template let-value pTemplate="item"><span>{{value.nama}}</span></ng-template>
                    </p-autoComplete>
                </div>
            </div>
            <div class="row mb-1" *ngIf="form.value.jnsKunjungan.kode == 'antarPoli' ">
                <label class="col-3 col-form-label">
                    Assessment Pelayanan <span *ngIf="form.get('assessmentPel')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                    </label>
                <div class="col-6">
                    <p-dropdown [options]="optionsAssessmentPelayanan" optionValue="kode" optionLabel="nama" formControlName="assessmentPel" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">Naik Kelas ?</label>
                <div class="col-6">
                    <p-dropdown [options]="optionsKelas" optionValue="kode" optionLabel="nama" formControlName="naikKelas" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mb-1" *ngIf="form.value.naikKelas != ''">
                <label class="col-3 col-form-label">&nbsp;</label>
                <div class="col">
                    <div class="mb-1">Pembiayaan :</div>
                    <div>
                        <p-dropdown [options]="optionsPembiayaanNaikKelas" optionLabel="name" formControlName="naikKelasPembiayaan" [style]="{width: '100%'}"></p-dropdown>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-1">Penanggung Jawab :</div>
                    <div>
                        <p-dropdown [options]="optionsPembiayaanNaikKelas" optionLabel="name" formControlName="naikKelasPenanggungJawab" [style]="{width: '100%'}"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">
                    No. RM <span *ngIf="form.get('norm')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="norm" placeholder="Minimal 6 Digit">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">
                    No. Tlp <span *ngIf="form.get('tlp')!.errors" class="bi bi-exclamation-circle-fill tx-danger tx-12"></span>
                </label>
                <div class="col-6">
                    <input type="text" class="form-control" formControlName="tlp" placeholder="Minimal 9 Digit">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">Catatan</label>
                <div class="col">
                    <input type="text" class="form-control" formControlName="catatan">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-3 col-form-label">Status Kecelakaan</label>
                <div class="col">
                    <p-dropdown [options]="optionsStatusLaka" optionValue="kode" optionLabel="nama" formControlName="isLakaLantas" [style]="{width: '100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row mt-3 pt-3 border-top" *ngIf="form.get('isLakaLantas')?.value != '0'">
                <div class="col">
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">Tgl. Kejadian</label>
                        <div class="col">
                            <p-calendar [showIcon]="true" formControlName="lakaTglKejadian"></p-calendar>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">No. Lap. Polisi</label>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="lakaNoLp">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">Keterangan</label>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="lakaKeterangan">
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">Suplesi</label>
                        <div class="col">
                            <p-dropdown [options]="optionsSuplesi" optionLabel="name" formControlName="lakaSuplesi" [style]="{width: '100%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">No. Suplesi</label>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="lakaNoSuplesi">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row mb-1 border-bottom tx-bold">
                        <label class="col">Lokasi Laka</label>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">Provinsi</label>
                        <div class="col">
                            <p-dropdown [options]="optionsProvinsi" optionLabel="name" formControlName="lakaPropinsi" [style]="{width: '100%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">Kabupaten</label>
                        <div class="col">
                            <p-dropdown [options]="optionsKabupaten" optionLabel="name" formControlName="lakaKabupaten" [style]="{width: '100%'}"></p-dropdown>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <label class="col-4 col-form-label">Kecamatan</label>
                        <div class="col">
                            <p-dropdown [options]="optionsKecamatan" optionLabel="name" formControlName="lakaKecamatan" [style]="{width: '100%'}"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>