<div [formGroup]="form" *ngIf="question.display">
    <div class="row mb-2">
        <div class="col-4">
            <label [attr.for]="question.key">{{question.label}}</label>
        </div>
        <div class="col-8">
            <div [ngSwitch]="question.controlType">
                <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
                [id]="question.key" [type]="question.type">

                <p-dropdown
                    [id]="question.key"
                    *ngSwitchCase="'dropdown'"
                    [style]="{width: '100%'}"
                    [filter]="true"
                    [options]="question.options"
                    [formControlName]="question.key"
                    [autoDisplayFirst]="false"
                    appendTo="body"
                    optionLabel="value"
                    optionValue="key">
                </p-dropdown>

            </div>
        </div>
    </div>
</div>