<div class="row">
    <div class="col">
        <table class="table table-hover border-bottom">
            <thead>
                <tr class="bg-gray-300">
                    <th width="300">Pemeriksaan</th>
                    <th width="100">Hasil Pemeriksaan</th>
                    <th>Nilai Rujukan</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gula Darah Sewaktu</td>
                    <td><input type="text" class="form-control" value="89"></td>
                    <td>( < 140 mg/dl )</td>
                </tr>
                <tr>
                    <td>SGOT</td>
                    <td><input type="text" class="form-control" value="89"></td>
                    <td>( < 41 U/l )</td>
                </tr>
                <tr>
                    <td>SGPT</td>
                    <td><input type="text" class="form-control" value="89"></td>
                    <td>( < 41 U/l )</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-100"></div>
    <div class="col tx-right bg-gray-200 p-3 m-3">
        <button class="btn btn-primary" (click)="laboratoriumService.closeDialog()"><i class="bi bi-save mr-1"></i> Simpan</button>
    </div>
</div>