<div class="row">
    <div class="col">
        <app-dynamic-form *ngIf="questions$" [questions]="questions$ | async"></app-dynamic-form>
    </div>
</div>
<!-- <div class="row mb-2">
    <div class="col-3 text-right">
        Keluhan Utama
    </div>
    <div class="col">
        <input type="text" class="form-control">
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Riwayat penyakit sekarang (Lengkap)
    </div>
    <div class="col">
        <input type="text" class="form-control">
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Riwayat Penyakit Terdahulu
    </div>
    <div class="col">
        <input type="text" class="form-control">
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Pernah Dirawat
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>Tidak</option>
            <option value="Ya">Ya</option>
        </select>
        <div class="child">
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Dimana
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Kapan
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Diagnosis
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Riwayat Alergi Obat
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>Tidak</option>
            <option value="Ya">Ya</option>
        </select>
        <div class="child">
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Obat
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Tipe Reaksi
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Riwayat Alergi Makanan
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>Tidak</option>
            <option value="Ya">Ya</option>
        </select>
        <div class="child">
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Makanan
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Tipe Reaksi
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Riwayat Alergi Lain-lain
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>Tidak</option>
            <option value="Ya">Ya</option>
        </select>
        <div class="child">
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Lain-lain
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Tipe Reaksi
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Resiko Cidera / Jatuh
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>Tidak</option>
            <option value="Ya">Ya</option>
        </select>
        <div class="child">
            <div class="row mb-2">
                <div class="col-0 text-right">
                </div>
                <div class="col">
                    <p-checkbox></p-checkbox>
                    Jika Ya, isi form monitoring pencegah jatuh
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-0 text-right">
                </div>
                <div class="col">
                    <p-checkbox></p-checkbox>
                    Jika Ya, pasang gelang resiko jatuh warna kuning
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Skala Nyeri
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>0</option>
            <option value="Ya">1</option>
            <option value="Ya">2</option>
            <option value="Ya">3</option>
            <option value="Ya">4</option>
            <option value="Ya">5</option>
            <option value="Ya">6</option>
            <option value="Ya">7</option>
            <option value="Ya">8</option>
            <option value="Ya">9</option>
            <option value="Ya">10</option>
        </select>
    </div>
</div>
<div class="row mb-2">
    <div class="col-3 text-right">
        Status Psikologis
    </div>
    <div class="col">
        <select class="form-control mb-2">
            <option value="Tidak" selected>Cemas</option>
            <option value="Ya">Takut</option>
            <option value="Ya">Marah</option>
            <option value="Ya">Sedih</option>
            <option value="Ya">Kecenderungan Bunuh Diri</option>
            <option value="Ya">Lain-lain</option>
        </select>
        <div class="child">
            <div class="row mb-2">
                <div class="col-2 text-right">
                    Lain-Lain, Sebutkan
                </div>
                <div class="col">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div> -->