<div class="login-page">
    <div class="row">
        <div class="col-9"></div>
        <div class="col login-container sign-wrapper mg-lg-l-50 mg-xl-l-60 rounded">
            <div class="wd-100p">
                <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
                <form [formGroup]="formLogin">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="email" class="form-control" formControlName="username" placeholder="Enter your username">
                    </div>
                    <div class="form-group p-mt-2">
                        <div class="d-flex justify-content-between mg-b-5">
                            <label class="mg-b-0-f">Password</label>
                            <a href="" class="tx-13">Forgot password?</a>
                        </div>
                        <input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
                    </div>
                </form>
                <button class="btn btn-brand-02 btn-block p-mt-2" (click)="doLogin()">Sign In</button>
                <div class="tx-13 mg-t-20 tx-center">Don't have an account? <a href="page-signup.html">Create an Account</a></div>
            </div>
        </div><!-- sign-wrapper -->
    </div>
</div>