<div class="row bg-white bd rounded">
   <div class="col">
      <div class="row bd-b p-p-3" style="font-size: 16px; font-weight: 500;">Data Pasien</div>
      <div class="row bd-b p-p-2 bg-silver">
         <div class="col-2 tx-grey">
            Total Seluruh Pasien : <span class="badge badge-secondary">{{dataRegistrasi.length}}</span>
         </div>
      </div>
      <p-table #dtRegistrasi [value]="dataRegistrasi" dataKey="no_pendaftaran" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-striped p-datatable-hover"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['nama_pasien','no_rekam_medik','jns_kelamin','usia','carabayar_nama']">

      <ng-template pTemplate="header">
         <tr>
            <th colspan="6">
               <div class="row">
                  <div class="col-2">
                     <label class="d-block p-mb-1 tx-grey">Tanggal </label>
                     <p-calendar placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" [(ngModel)]="tglRegistrasi" (onSelect)="changeTglRegistrasi()"></p-calendar>
                  </div>
                  <div class="col-2">
                     <label class="d-block p-mb-1 tx-grey">Filter </label>
                     <p-columnFilter field="dokter_id" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="filterPasien" (onChange)="filter($event.value)" placeholder="Semua Pasien" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                  </div>
                  <div class="col">
                     <label class="d-block p-mb-1 tx-grey">Search </label>
                     <input pInputText type="text" class="form-control" [(ngModel)]="filterBox" (input)="applyFilterGlobal($event, 'contains')" placeholder="Keyword.." />
                  </div>
               </div>
            </th>
         </tr>
         <tr>
            <th width="50">No.</th>
            <th>Nama</th>
            <th width="100">No.RM</th>
            <th width="200">Jns.Kelamin / Usia</th>
            <th>Status</th>
            <th>DPJP</th>
         </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
         <tr (click)="selectRegistrasi(item)" class="clickable">
            <td width="50">{{i+1}}</td>
            <td>{{item.nama_pasien}}</td>
            <td>{{item.no_rekam_medik}}</td>
            <td>{{item.jns_kelamin}} / {{item.usia}} Thn</td>
            <td>{{item.carabayar_nama}}</td>
            <td>
               <span *ngIf="!item.dpjp">{{item.dokter_name}}</span>
            </td>
         </tr>
      </ng-template>
      <ng-template pTemplate="summary">
         <div>Total Pasien : {{dataRegistrasi.length}}</div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
         <tr>
             <td colspan="6" class="tx-grey" style="text-align: center !important;">Tidak Ada Data Saat Ini.</td>
         </tr>
     </ng-template>
   </p-table>
</div>
</div>

<p-dialog header="Informasi Pasien" [(visible)]="dialogViewRegistrasi" [modal]="true" [style]="{width: '80vw'}"><app-view-data-registrasi></app-view-data-registrasi></p-dialog>