<div class="row pt-3 pb-3">
    <div class="col mb-2 clearfix">
        <div class="float-left">
            Dari : <p-calendar [(ngModel)]="filter.from" (ngModelChange)="getDataHistory()" dateFormat="d M yy" [readonlyInput]="true" [maxDate]="today" appendTo="body" [style]="{width:'120px'}" styleClass="mr-2"></p-calendar>
            Sampai : <p-calendar [(ngModel)]="filter.to" (ngModelChange)="getDataHistory()" dateFormat="d M yy" [readonlyInput]="true" [maxDate]="today" appendTo="body" [style]="{width:'120px'}"></p-calendar>
        </div>
        <div class="float-left ml-3 pl-3 border-left">
            <button class="btn btn-sm btn-secondary" (click)="getDataHistory()"><i class="bi bi-arrow-clockwise"></i></button>
        </div>
    </div>
    <div class="w-100 border-bottom"></div>
    <div class="col p-0">
        <p-table [value]="dataHistory.histori" styleClass="p-datatable-sm table-striped table-hover" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>No. SEP</th>
                    <th>Jns. Pelayanan</th>
                    <th>Poli / Ruangan</th>
                    <th>PPK</th>
                    <th>No. Rujukan</th>
                    <th width="100">Tgl. SEP</th>
                    <th width="100">Tgl. Pulang</th>
                    <th [width]="100">&nbsp;</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.noSep}}</td>
                    <td>
                        <span *ngIf="item.jnsPelayanan === '1'">RAWAT INAP</span>
                        <span *ngIf="item.jnsPelayanan === '2'">RAWAT JALAN</span>
                    </td>
                    <td>
                        <span *ngIf="item.poli">{{item.poli}}</span>
                        <span *ngIf="!item.poli">-</span>
                    </td>
                    <td>{{item.ppkPelayanan}}</td>
                    <td>{{item.noRujukan}}</td>
                    <td>{{item.tglSep}}</td>
                    <td>
                        {{item.tglPlgSep}}
                        <!-- <button class="btn btn-xs btn-outline-primary p-1" *ngIf="!item.tglPlgSep">Form Pulang</button> -->
                    </td>
                    <td>
                        <button class="btn btn-icon btn-light mr-1" (click)="vclaimService.printSep(item.noSep)"><i class="bi bi-printer"></i></button>
                        <button class="btn btn-icon btn-light" (click)="delete(item.noSep)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-confirmDialog header="Konfirmasi" icon="pi pi-exclamation-triangle"></p-confirmDialog>
