<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col">
                <button pButton pRipple class="p-button-info" (click)="save()" label="Save" icon="pi pi-save"></button>
            </div>
        </div>

        <form [formGroup]="form">
            <div class="row p-mt-2">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-3">Keluhan Utama :</label>
                        <div class="col">
                            <p-dropdown [editable]="true" [options]="tplKeluhan" optionLabel="name" formControlName="keluhanUtamaSejak" placeholder="Pilih.." [showClear]="true" formControlName="keluhanUtama"></p-dropdown>
                            <!-- <input class="form-control p-mt-1" pInputText placeholder="Lainnya..." formControlName="keluhanUtamaLainnya"> -->
                        </div>
                        <div class="col">
                            Sejak : <p-calendar placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-3">Keluhan Tambahan :</label>
                        <div class="col">
                            <p-dropdown [editable]="true" [options]="tplKeluhan" optionLabel="name" formControlName="keluhanTambahanSejak" placeholder="Pilih..." [showClear]="true" formControlName="keluhanTambahan"></p-dropdown>
                            <!-- <input class="form-control p-mt-1" pInputText placeholder="Lainnya..." formControlName="keluhanTambahanLainnya"> -->
                        </div>
                        <div class="col">
                            Sejak : <p-calendar placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
                        </div>
                    </div>
                    <div class="form-group row p-mt-1">
                        <label for="inputEmail3" class="col-3">Pemeriksaan Fisik :</label>
                        <div class="col">
                            <table class="table table-sm bd">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>BB</th>
                                        <th>TB</th>
                                        <th>TD</th>
                                        <th>Nadi</th>
                                        <th>P</th>
                                        <th>Suhu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="p-inputgroup">
                                                <input class="form-control" pInputText formControlName="bb">
                                                <span class="p-inputgroup-addon">Kg</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="p-inputgroup">
                                                <input class="form-control" pInputText formControlName="tb">
                                                <span class="p-inputgroup-addon">Cm</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="p-inputgroup">
                                                <input class="form-control" pInputText formControlName="td">
                                                <span class="p-inputgroup-addon">Cm</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="p-inputgroup">
                                                <input class="form-control" pInputText formControlName="nadi">
                                                <span class="p-inputgroup-addon">x/menit</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="p-inputgroup">
                                                <input class="form-control" pInputText formControlName="p">
                                                <span class="p-inputgroup-addon">x/menit</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="p-inputgroup">
                                                <input class="form-control" pInputText formControlName="suhu">
                                                <span class="p-inputgroup-addon"><sup>o</sup>C</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <p-accordion>
                        <p-accordionTab header="Pengkajian Perawat">
                           <div class="p-p-2">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Anamnesa Perawat :</label>
                                    <div class="col">
                                        <input type="text" pInputText class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Diagnosa Rujukan :</label>
                                    <div class="col">
                                        <input type="text" pInputText class="form-control">
                                    </div>
                                </div>
                           </div>
                        </p-accordionTab>
                        <p-accordionTab header="Riwayat Penyakit Terdahulu">
                            <div class="p-p-2">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Nama Penyakit :</label>
                                    <div class="col">
                                        <input type="text" pInputText class="form-control">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab header="Riwayat Alergi">
                            <div class="p-p-2">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Obat :</label>
                                    <div class="col">
                                        <input type="text" pInputText class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-3">Makanan :</label>
                                    <div class="col">
                                        <input type="text" pInputText class="form-control">
                                    </div>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </form>
    </div>
</div>