<div class="row">
    <div class="col-auto pd-r-5">
        <p-autoComplete
            #acSearch
            placeholder="Cari Data Registrasi..."
            [minLength]="1"
            [showEmptyMessage]="true"
            [suggestions]="searchOptions"
            [(ngModel)]="selectedSearch"
            (completeMethod)="filterData($event)"
            (onSelect)="filterBy($event)"
            field="name"
            [style]="{'width':'100%'}"
            [appendTo]="'body'"
            [inputStyle]="{'width':'100%'}">

            <ng-template let-item pTemplate="item">
                <div>
                    <span class="badge border mg-r-2 pd-5 bg-light text-left" innerHtml="{{item.name}}" style="font-size: 11px;">
                        <i class="bi bi-search" style="font-size: 10px;"></i>
                    </span>
                    {{selectedSearch}}
                </div>
            </ng-template>
        </p-autoComplete>

    </div>
    <div class="col-auto pd-l-0" *ngIf="showTable">
        <button class="btn" (click)="dialogDataRegistrasi = true"><i class="bi bi-grid-3x3"></i> Data Registrasi</button>
    </div>
</div>

<p-dialog
    [(visible)]="dialogDataRegistrasi"
    (onHide)="clear()"
    header="Data Registrasi"
    [modal]="true"
    position="top"
    [breakpoints]="{'1920px': '75vw', '1280px': '85vw', '1028px': '95vw'}"
    appendTo="body">
    <app-data-registrasi *ngIf="dialogDataRegistrasi" [showForm]="showForm"></app-data-registrasi>
</p-dialog>