<div class="row bd p-shadow-3 bg-white">
    <app-left-menu></app-left-menu>
    <div class="col" style="background: #f7f9ff;">
        <app-header-registrasi></app-header-registrasi>

        <div class="row">
            <div class="col-2 p-p-0 bd-r bg-white">
                <app-menu-emr></app-menu-emr>
            </div>
            <div class="col p-p-3">
                <div class="bd-b p-mb-2"><h5>CPPT / SOAP</h5></div>
                <div style="position: relative;" class="p-pb-6">
                    <fieldset class="form-fieldset p-mb-3">
                        <legend>Subjective (S)</legend>
                        <form [formGroup]="formSubjective">
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Keluhan Utama</label>
                                <div class="col">
                                    <p-dropdown [options]="tplKeluhan" optionLabel="name" placeholder="Pilih..." [showClear]="true" formControlName="keluhanUtama"></p-dropdown>
                                    <input class="form-control p-mt-1" pInputText placeholder="Lainnya..." formControlName="keluhanUtamaLainnya">
                                </div>
                            </div>
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Keluhan Tambahan</label>
                                <div class="col">
                                    <p-dropdown [options]="tplKeluhan" optionLabel="name" placeholder="Pilih..." [showClear]="true" formControlName="keluhanTambahan"></p-dropdown>
                                    <input class="form-control p-mt-1" pInputText placeholder="Lainnya..." formControlName="keluhanTambahanLainnya">
                                </div>
                            </div>
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Riwayat</label>
                                <div class="col">
                                    <input class="form-control" pInputText formControlName="riwayat">
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset class="form-fieldset p-mb-3">
                        <legend>Objective (O)</legend>
                        <form [formGroup]="formObjective">
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Pemeriksaan Fisik</label>
                                <div class="col">
                                    <div class="form-group row p-mb-1">
                                        <label for="inputEmail3" class="col-1 col-form-label">BB</label>
                                        <div class="input-group col-5">
                                            <input class="form-control" pInputText formControlName="bb">
                                            <div class="input-group-append">
                                                <span class="input-group-text">kg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row p-mb-1">
                                        <label for="inputEmail3" class="col-1 col-form-label">TB</label>
                                        <div class="input-group col-5">
                                            <input class="form-control" pInputText formControlName="tb">
                                            <div class="input-group-append">
                                                <span class="input-group-text">cm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row p-mb-1">
                                        <label for="inputEmail3" class="col-1 col-form-label">TD</label>
                                        <div class="input-group col-5">
                                            <input class="form-control" pInputText formControlName="td">
                                            <div class="input-group-append">
                                                <span class="input-group-text">mmHg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row p-mb-1">
                                        <label for="inputEmail3" class="col-1 col-form-label">Nadi</label>
                                        <div class="input-group col-5">
                                            <input class="form-control" pInputText formControlName="nadi">
                                            <div class="input-group-append">
                                                <span class="input-group-text">x/menit</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row p-mb-1">
                                        <label for="inputEmail3" class="col-1 col-form-label">P</label>
                                        <div class="input-group col-5">
                                            <input class="form-control" pInputText formControlName="p">
                                            <div class="input-group-append">
                                                <span class="input-group-text">x/menit</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row p-mb-1">
                                        <label for="inputEmail3" class="col-1 col-form-label">Suhu</label>
                                        <div class="input-group col-5">
                                            <input class="form-control" pInputText formControlName="suhu">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><sup>o</sup>C</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label class="col-2 col-form-label">Hasil Pemeriksaan Penunjang</label>
                                <div class="col">
                                    <input class="form-control" pInputText formControlName="hasilPenunjang">
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset class="form-fieldset p-mb-3">
                        <legend>Assesment (A)</legend>
                        <form [formGroup]="formAssessment">
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Diagnosa Utama</label>
                                <div class="col">
                                    <p-dropdown formControlName="diagUtama" [options]="icd10" optionLabel="name" placeholder="Pilih..." [virtualScroll]="true" [itemSize]="31" [filter]="true" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Diagnosa Differensial</label>
                                <div class="col">
                                    <p-dropdown formControlName="diagDiff" [options]="icd10" optionLabel="name" placeholder="Pilih..." [virtualScroll]="true" [itemSize]="31" [filter]="true" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                            <div class="form-group row bd-b p-mb-2 p-pb-2">
                                <label for="inputEmail3" class="col-2 col-form-label">Diagnosa Sekunder</label>
                                <div class="col">
                                    <p-dropdown formControlName="diagSek" [options]="icd10" optionLabel="name" placeholder="Pilih..." [virtualScroll]="true" [itemSize]="31" [filter]="true" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    <fieldset class="form-fieldset p-mb-3">
                        <legend>Plan (P)</legend>
                        <div class="form-group row p-pb-2">
                            <label for="inputEmail3" class="col-2 col-form-label">Terapi</label>
                            <div class="col">
                                <button pButton label="E-Resep" (click)="dialogFarmasi=true" class="p-mb-1" icon="pi pi-external-link"></button> &nbsp;
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <label for="inputEmail3" class="col-2 col-form-label p-pl-6">Tindakan (Icd 9)</label>
                            <div class="col">
                                <p-dropdown formControlName="diagUtama" [options]="icd10" optionLabel="name" placeholder="Pilih..." [virtualScroll]="true" [itemSize]="31" [filter]="true" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <label for="inputEmail3" class="col-2 col-form-label">Rencana Pemeriksaan</label>
                            <div class="col">
                                <div>
                                    <button pButton label="Radiologi" (click)="dialogRad=true" icon="pi pi-external-link"></button> &nbsp;
                                    <button pButton label="Laboratorium" (click)="dialogLab=true" icon="pi pi-external-link"></button>
                                </div>
                                <!-- <div>
                                    <div class="p-mb-2"><ng-template #lazyLoad></ng-template></div>
                                    <button icon="pi pi-plus" class="p-button-secondary" (click)="loadRencanBerobatComponent()" label="Surat Keterangan Berobat Lanjutan" pButton></button>
                                    <button icon="pi pi-times-circle" class="p-button-secondary" (click)="clearLazyLoad()" label="Cancel" pButton></button>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group row bd-b p-mb-2 p-pb-2">
                            <label for="inputEmail3" class="col-2 col-form-label">Rencana Evaluasi</label>
                            <div class="col">
                                <input class="form-control" pInputText>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Laboratorium" [(visible)]="dialogLab" [modal]="true" [style]="{width: '80vw'}"><app-laboratorium></app-laboratorium></p-dialog>
<p-dialog header="Radiologi" [(visible)]="dialogRad" [modal]="true" [style]="{width: '80vw'}"><app-radiologi></app-radiologi></p-dialog>
<p-dialog header="E-Resep" [(visible)]="dialogFarmasi" [modal]="true" [style]="{width: '80vw'}"><app-farmasi></app-farmasi></p-dialog>