<p-sidebar header="Pasien" [fullScreen]="true" [showCloseIcon]="true" [(visible)]="panelPasien">
    <div class="row p-p-5 bg-dark tx-white">
        <div class="col-2 p-pt-6 tx-right">
            <div style="font-size: 1.5rem; color: #ffc33e;">No. RM :</div>
        </div>
        <div class="col-6 p-pt-6" style="height: 30px;">
            <div style="font-size: 1.5rem;">
                <span class="blink_me" *ngIf="!number">_</span>
                {{number}}
            </div>
            <div *ngIf="noRekmed" class="p-pt-2" style="color: #abb8d4;">No.RM : <b style="color: orange;">{{noRekmed}}</b> Tidak Ditemukan!</div>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <div class="keypad">
                <div class="row">
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="1" (click)="keypadInput('1')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="2" (click)="keypadInput('2')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="3" (click)="keypadInput('3')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="4" (click)="keypadInput('4')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="5" (click)="keypadInput('5')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="6" (click)="keypadInput('6')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="7" (click)="keypadInput('7')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="8" (click)="keypadInput('8')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="9" (click)="keypadInput('9')"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="Hapus" style="font-size: 1rem; font-weight: normal;" (click)="hapusNumber()"></button>
                    <button pButton pRipple class=" p-button-secondary col-4 number p-m-0" label="0" (click)="keypadInput('0')"></button>
                    <button pButton pRipple class=" p-button-primary col-4 number p-m-0" label="Enter" style="font-size: 1rem; font-weight: normal;" [disabled]="!number" (click)="findPasien()"></button>
                </div>
            </div>
        </div>
        <div class="col p-p-0">
            <p-table
                selectionMode="single"
                styleClass="p-datatable-striped bd-t bd-r"
                class="item-obat"
                [value]="dataPasien">
                <ng-template pTemplate="header">
                    <tr>
                        <th width="300">Nama Pasien</th>
                        <th>Jenis Kelamin</th>
                        <th>Tgl.Lahir</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr (click)="selectPasien(item)">
                        <td width="300">{{item.nama}}</td>
                        <td>{{item.kelamin}}</td>
                        <td>{{item.tglahir}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-sidebar>