    <form [formGroup]="form">
        <p-table
            [value]="dataPasien"
            responsiveLayout="scroll"
            [style]="{'min-height': '200px'}"
            [(selection)]="selectedPasien"
            selectionMode="single"
            (onRowSelect)="onSelectPasien()">

            <ng-template pTemplate="header">
                <tr>
                    <th>No.RM</th>
                    <th>Nama</th>
                    <th>Tgl. Lahir</th>
                    <th>Alamat</th>
                    <th>No. Telp</th>
                    <th>No. Asuransi / BPJS</th>
                </tr>
                <tr>
                    <th><input type="text" class="form-control" placeholder="Cari No. RM" formControlName="norm" (keyup)="sorting($event)"></th>
                    <th><input type="text" class="form-control" placeholder="Cari Nama" formControlName="nama" (keyup)="sorting($event)"></th>
                    <th><p-inputMask formControlName="tglLahir" mask="99-99-9999" placeholder="Cari Tgl. Lahir" (keyup)="sorting($event)" styleClass="form-control"></p-inputMask></th>
                    <th><input type="text" class="form-control" placeholder="Cari Alamat" formControlName="alamat" (keyup)="sorting($event)"></th>
                    <th><input type="text" class="form-control" placeholder="Cari No. Telp" formControlName="tlp" (keyup)="sorting($event)"></th>
                    <th><input type="text" class="form-control" placeholder="Cari No. Asuransi / BPJS" formControlName="noAsuransi" (keyup)="sorting($event)"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{item.norm}}</td>
                    <td>{{item.nama}}</td>
                    <td>{{item.tgl_lahir}}</td>
                    <td>{{item.alamat}}</td>
                    <td>{{item.tlp}}</td>
                    <td>{{item.no_asuransi}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr *ngIf="dataPasien.length == 0">
                    <td colspan="6" class="tx-light" style="text-align: center;"><i class="bi bi-search mr-2"></i> Silahkan Melakukan Pencarian.</td>
                </tr>
            </ng-template>
        </p-table>
    </form>