    <div class="row mb-3">
        <div class="col-5">
            <p-autoComplete
                #acSearch
                placeholder="Cari Pasien..."
                [minLength]="1"
                [showEmptyMessage]="true"
                [suggestions]="searchOptions"
                [(ngModel)]="selectedSearch"
                (completeMethod)="filterData($event)"
                (onSelect)="filterBy($event)"
                field="name"
                [style]="{'width':'100%'}"
                [appendTo]="'body'"
                [inputStyle]="{'width':'100%'}">

                <ng-template let-item pTemplate="item">
                    <div><span class="badge badge-light" style="font-size: 11px;"><i class="bi bi-search" style="font-size: 10px;"></i>&nbsp;{{item.name}}</span> {{selectedSearch}}</div>
                </ng-template>
            </p-autoComplete>

        </div>
        <div class="col-auto">
            <button class="btn btn-light"><i class="bi bi-plus-lg"></i></button>
        </div>
    </div>
    <form [formGroup]="form">
        <p-table
            [value]="dataPasien"
            responsiveLayout="scroll"
            [style]="{'min-height': '200px'}"
            [(selection)]="selectedPasien"
            selectionMode="single"
            (onRowSelect)="onSelectPasien()">

            <ng-template pTemplate="header">
                <tr>
                    <th>No. RM</th>
                    <th>Nama</th>
                    <th>Tgl. Lahir</th>
                    <th>Alamat</th>
                    <th>No. Telp</th>
                    <th>No. Asuransi / BPJS</th>
                    <th>Tgl. Registrasi</th>
                    <th>Tgl. Update</th>
                </tr>
                <tr hidden>
                    <th><input type="text" class="form-control" placeholder="Cari No. RM" formControlName="norm" (keyup)="sorting($event)"></th>
                    <th><input type="text" class="form-control" placeholder="Cari Nama" formControlName="nama" (keyup)="sorting($event)"></th>
                    <th><p-inputMask formControlName="tglLahir" mask="99-99-9999" placeholder="Cari Tgl. Lahir" (keyup)="sorting($event)" styleClass="form-control"></p-inputMask></th>
                    <th><input type="text" class="form-control" placeholder="Cari Alamat" formControlName="alamat" (keyup)="sorting($event)"></th>
                    <th><input type="text" class="form-control" placeholder="Cari No. Telp" formControlName="tlp" (keyup)="sorting($event)"></th>
                    <th><input type="text" class="form-control" placeholder="Cari No. Asuransi / BPJS" formControlName="noAsuransi" (keyup)="sorting($event)"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{item.norm}}</td>
                    <td><a href="javascript:void()">{{item.nama | uppercase}}</a></td>
                    <td>{{item.tgl_lahir}}</td>
                    <td>{{item.alamat | uppercase}}</td>
                    <td>{{item.tlp}}</td>
                    <td>{{item.no_asuransi}}</td>
                    <td>{{item.date_created}}</td>
                    <td>{{item.date_created}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr *ngIf="dataPasien.length == 0">
                    <td colspan="8" class="tx-light" style="text-align: center;"><i class="bi bi-search mr-2"></i> Silahkan Melakukan Pencarian.</td>
                </tr>
            </ng-template>
        </p-table>
    </form>