<div class="row">
    <div class="col-auto">
        <button class="btn btn-primary mr-2" (click)="formRujukanKeluarService.openDialog()"><i class="bi bi-plus-lg"></i> Form Rujukan Keluar</button>
        <button class="btn" (click)="getDataRujukan()"><i class="bi bi-arrow-clockwise"></i></button>
    </div>
</div>
<div class="row mg-t-10">
    <div class="col">

        <table class="table table-striped table-hover mb-3 border-bottom">
            <thead>
                <tr>
                    <th colspan="6"><div class="tx-15">Puskesmas / PCare</div></th>
                </tr>
            </thead>
            <thead>
                <tr class="bg-gray-300">
                    <th>No. Rujukan</th>
                    <th width="100">Tgl. Rujukan</th>
                    <th>Jns. Pelayanan</th>
                    <th>Spesialis</th>
                    <th>PPK</th>
                    <th>Diagnosa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="dataRujukanFaskes">
                <tr class="clickable" *ngFor="let item of dataRujukanFaskes.rujukan" (click)="rujukanService.getRujukan(item.noKunjungan)">
                    <td>{{item.noKunjungan}}</td>
                    <td>
                        <div>{{dateHuman(item.tglKunjungan)}}</div>
                        <div class="badge badge-success" *ngIf="expiredAt(item.tglKunjungan) > 0">{{expiredAt(item.tglKunjungan)}} hari lagi</div>
                        <div class="badge badge-danger" *ngIf="expiredAt(item.tglKunjungan) < 0">Expired : {{expiredAt(item.tglKunjungan)}} hari</div>
                    </td>
                    <td>{{item.pelayanan.nama | uppercase}}</td>
                    <td>{{item.poliRujukan.nama}}</td>
                    <td>{{item.provPerujuk.nama}}</td>
                    <td>{{item.diagnosa.kode}} - {{item.diagnosa.nama}}</td>
                    <td>
                        <button class="btn btn-icon btn-outline-secondary rounded-circle" (click)="rujukanService.print(item.noKunjungan)">
                            <div><i class="bi bi-trash"></i></div>
                        </button>
                    </td>
                </tr>
                <tr><td colspan="6" class="tx-center" *ngIf="dataRujukanFaskes.length === 0">Tidak ada saat ini.</td></tr>
            </tbody>
            <tfoot *ngIf="!dataRujukanFaskes">
                <tr><td colspan="6" class="tx-center">Tidak ada saat ini.</td></tr>
            </tfoot>
        </table>
        <table class="table table-striped table-hover mb-3 border-bottom">
            <thead>
                <tr>
                    <th colspan="6"><div class="tx-15">Rumah Sakit</div></th>
                </tr>
            </thead>
            <thead>
                <tr class="bg-gray-300">
                    <th>No. Rujukan</th>
                    <th width="100">Tgl. Rujukan</th>
                    <th>Jns. Pelayanan</th>
                    <th>Poliklinik / Spesialis</th>
                    <th>PPK</th>
                    <th>Diagnosa</th>
                </tr>
            </thead>
            <tbody *ngIf="dataRujukanRs">
                <tr class="clickable" *ngFor="let item of dataRujukanRs.rujukan" (click)="rujukanService.getRujukan(item.noKunjungan)">
                    <td>{{item.noKunjungan}}</td>
                    <td>
                        <div>{{dateHuman(item.tglKunjungan)}}</div>
                        <div class="badge badge-success" *ngIf="expiredAt(item.tglKunjungan) > 0">{{expiredAt(item.tglKunjungan)}} hari lagi</div>
                        <div class="badge badge-danger" *ngIf="expiredAt(item.tglKunjungan) < 0">Expired : {{expiredAt(item.tglKunjungan)}} hari</div>
                    </td>
                    <td>{{item.pelayanan.nama | uppercase}}</td>
                    <td>{{item.poliRujukan.nama}}</td>
                    <td>{{item.provPerujuk.nama}}</td>
                    <td>{{item.diagnosa.kode}} - {{item.diagnosa.nama}}</td>
                </tr>
            </tbody>
            <tfoot *ngIf="!dataRujukanRs">
                <tr><td colspan="6" class="tx-center">Tidak ada saat ini.</td></tr>
            </tfoot>
        </table>
        <table class="table table-striped table-hover mb-3 border-bottom">
            <thead>
                <tr>
                    <th colspan="6"><div class="tx-15">Rujukan Ke Luar</div></th>
                </tr>
            </thead>
            <thead>
                <tr class="bg-gray-300">
                    <th>No. Rujukan</th>
                    <th width="100">Tgl. Rujukan</th>
                    <th>Jns. Pelayanan</th>
                    <th>Spesialis</th>
                    <th>PPK</th>
                    <th>Diagnosa</th>
                </tr>
            </thead>
            <tbody *ngIf="dataRujukanKeluar">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot *ngIf="!dataRujukanKeluar">
                <tr><td colspan="6" class="tx-center">Tidak ada saat ini.</td></tr>
            </tfoot>
        </table>
    </div>
</div>

<p-dialog
    header="Form Rujuk Keluar"
    [(visible)]="dialogFormRujukanKeluar"
    [style]="{width: '600px'}"
    position="top"
    appendTo="body"
    [modal]="true">
    <app-form-rujukan-keluar *ngIf="dialogFormRujukanKeluar"></app-form-rujukan-keluar>
</p-dialog>