
<div class="input-group mg-b-10">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Tanggal : </span>
    </div>
    <p-calendar placeholder="Pilih Tanggal" dateFormat="dd-mm-yy" [(ngModel)]="tglRegistrasi" (onSelect)="selectTanggal()"></p-calendar>
</div>
<div class="input-group mg-b-10">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Cari : </span>
    </div>
    <input class="form-control" pInputText [(ngModel)]="searchPasien" placeholder="Search...">
</div>

<div class="row bd-b p-p-3 patient-list" (click)="selectRegistrasi(item)" *ngFor="let item of allRegistrasi | filter:searchPasien">
    <div class="avatar" style="display: flex;"><div class="avatar-initial rounded-circle {{item.id_kelamin}}" InitialAvatar>{{item.nama_pasien}}</div></div>
    <div class="col">
        <label style="font-weight: 500;" class="p-mb-1">{{item.nama_pasien}} </label> <br>
        No. RM : {{item.no_rekam_medik}} <br>
        {{item.usia}} thn, {{item.jns_kelamin}}
        <div>
            <span class="badge badge-secondary p-mr-1">{{item.carabayar_nama}}</span>
            <span class="badge badge-secondary p-mr-1">{{item.rs}}</span>
        </div>
    </div>
</div>
