<form [formGroup]="form">
    <div class="row mb-1">
        <label class="col-4 col-form-label">Tanggal <span ng-show="tgl.$error.required" class="fontello-icon-attention-circle error"></span></label>
        <div class="col">
            <p-calendar formControlName="tgl" appendTo="body" [showIcon]="true"></p-calendar>
        </div>
    </div>
    <div class="row mb-1" ng-show="jnsPelayanan=='kontrolKembali'">
        <label class="col-4 col-form-label">SEP Sebelumnya  <span ng-show="formSuratKontrol.sep.$error.required" class="fontello-icon-attention-circle error"></span></label>
        <div class="col">
            <p-dropdown formControlName="sep" (ngModelChange)="onSelectSep()" [options]="dataSep" appendTo="body" [style]="{width: '100%'}" [autoDisplayFirst]="false">
                <ng-template let-item pTemplate="item"><span>{{item.tglSep}} - {{item.poli}} / {{item.noSep}}</span></ng-template>
                <ng-template let-item pTemplate="selectedItem"><span>{{item.tglSep}} - {{item.poli}} / {{item.noSep}}</span></ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="row mb-1">
        <label class="col-4 col-form-label">Poliklinik Asal Rujukan <span ng-show="formSuratKontrol.poli.$error.required" class="fontello-icon-attention-circle error"></span></label>
        <div class="col">
            <p-dropdown [options]="dataPoli" optionValue="kode" optionLabel="nama" formControlName="poli" appendTo="body" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
        </div>
    </div>
    <div class="row mb-1">
        <label class="col-4 col-form-label">Dokter / DPJP  <span ng-show="formSuratKontrol.dokter.$error.required" class="fontello-icon-attention-circle error"></span></label>
        <div class="col">
            <p-dropdown [options]="dataDokter" formControlName="dokter" optionValue="kode" optionLabel="nama" appendTo="body" [style]="{width: '100%'}" [autoDisplayFirst]="false"></p-dropdown>
        </div>
    </div>
    <div class="row mb-1 bg-gray-100 p-3 mt-3">
        <div class="col tx-right">
            <button class="btn btn-primary" (click)="save()"><i class="bi bi-save mr-1"></i> Simpan</button>
        </div>
    </div>
</form>