<div class="row">
    <div class="col">
        <app-upload-file></app-upload-file>
    </div>
    <div class="col">
        <div class="tx-semibold tx-16 mb-2">Hasil Radiologi :</div>
        <p-editor [(ngModel)]="hasil" [style]="{'min-height':'100px'}">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <select class="ql-size">
                        <option value="small"></option>
                        <option selected=""></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                      </select>
                </span>
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
            </ng-template>
        </p-editor>
        <div class="mt-1">
            Dokter Pemeriksa : <input type="text" [(ngModel)]="dokter" class="form-control">
        </div>
        <div class="mt-2 p-3 bg-gray-300">
            <button class="btn btn-primary btn-sm mr-1" [disabled]="!hasil" (click)="save()"><i class="bi bi-save mr-1"></i> Simpan</button>
            <button class="btn btn-secondary btn-sm mr-1" [disabled]="!hasil" (click)="print()"><i class="bi bi-printer mr-1"></i> Print Hasil</button>
        </div>
    </div>
</div>

<p-toast position="top-center"></p-toast>