<div class="row mt-2">
    <div class="col">
        <h4>Data Pasien</h4>
        <div class="row">
            <div class="col-auto">
                <div class="bg-light p-3 rounded border tx-center tx-gray-500 mb-2">
                    <div class="bi bi-person-bounding-box" style="font-size: 4rem;"></div>
                </div>
                <button class="btn btn-xs btn-outline-light btn-block mt-1"><i class="bi bi-camera mr-1"></i> Ambil
                    Photo</button>
                <button class="btn btn-xs btn-outline-light btn-block mt-1"><i class="bi bi-pencil mr-1"></i> Edit
                    Pasien</button>
            </div>
            <div class="col">
                <div class="row mb-1">
                    <label class="col-4 col-form-label">No. RM</label>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" (keyup)="searchPasien($event)" name="norm" class="form-control"
                                    value="{{pasien.norm}}" #noRm placeholder="Cari...">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" (click)="goSearchPasienBy('norm')"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-4 col-form-label">Nama</label>
                    <div class="col">
                        <div class="input-group">
                            <input type="text" (keyup)="searchPasien($event)" class="form-control" name="nama"
                                value="{{pasien.nama | uppercase}}" #nama placeholder="Cari...">
                            <div class="input-group-append">
                                <button class="btn btn-secondary"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-4 col-form-label">No. Asuransi</label>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" (keyup)="searchPasien($event)" class="form-control" name="noAsuransi"
                                    value="{{pasien.no_asuransi}}" #noAskes placeholder="Cari...">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-4 col-form-label">No. Tlp</label>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" (keyup)="searchPasien($event)" class="form-control" name="noTlp"
                                    value="{{pasien.tlp}}" #noTlp placeholder="Cari...">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1" hidden>
                    <label class="col-4 col-form-label">Kode Booking</label>
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" (keyup)="searchPasien($event)" class="form-control" name="noTlp"
                                    value="{{pasien.tlp}}" #kodeBooking placeholder="Scan Barcode / Ketik Kode Booking">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary"><i class="bi bi-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-4 col-form-label">Jns. Kelamin</label>
                    <div class="col">
                        <input type="text" class="form-control" value="{{pasien.jns_kelamin}}" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-4 col-form-label">Usia</label>
                    <div class="col">
                        <input type="text" class="form-control" value="" readonly>
                    </div>
                </div>
                <div class="row mb-1">
                    <label class="col-4 col-form-label">Alamat</label>
                    <div class="col">
                        <input type="text" class="form-control" value="{{pasien.alamat}}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>Data Registrasi</h4>
        <form [formGroup]="formRegistrasi">
            <div class="row mb-1">
                <label class="col-4 col-form-label">
                    Tanggal <span *ngIf="formRegistrasi.get('tanggal')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col-auto">
                    <p-calendar [showIcon]="true" dateFormat="dd-mm-yy" [maxDate]="today" formControlName="tanggal">
                    </p-calendar>
                </div>
            </div>
            <div class="row mb-1" *ngIf="formRegistrasi.get('noreg')?.value">
                <label class="col-4 col-form-label">
                    No. Registrasi <span *ngIf="formRegistrasi.get('noreg')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col-auto">
                    <input type="text" formControlName="noreg" class="form-control" readonly>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">
                    Jns. Perawatan <span *ngIf="formRegistrasi.get('jnsPerawatan')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataJnsPerawatan" (ngModelChange)="getDataRuangan($event)"
                        [autoDisplayFirst]="false" formControlName="jnsPerawatan" optionValue="id" optionLabel="name"
                        [style]="{width: '100%'}" appendTo="body">
                    </p-dropdown>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">
                    Ruangan / Poliklinik <span *ngIf="formRegistrasi.get('ruanganPoli')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataPoli" [autoDisplayFirst]="false"
                        (ngModelChange)="getDokterByPoli($event)" formControlName="ruanganPoli" optionValue="id"
                        optionLabel="name" [style]="{width: '100%'}" appendTo="body">
                    </p-dropdown>
                </div>
            </div>
            <div class="row mb-1" *ngIf="formRegistrasi.get('jnsPerawatan').value == 'RI'">
                <label class="col-4 col-form-label">
                    Kelas <span *ngIf="formRegistrasi.get('ruanganPoli')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataKelasRuangan" [autoDisplayFirst]="false"
                        (ngModelChange)="getDokterByPoli($event)" formControlName="ruanganPoli" optionValue="id"
                        optionLabel="name" [style]="{width: '100%'}" appendTo="body">
                    </p-dropdown>
                </div>
            </div>
            <div class="row mb-1" *ngIf="formRegistrasi.get('jnsPerawatan').value == 'RI'">
                <label class="col-4 col-form-label">
                    Tempat Tidur <span *ngIf="formRegistrasi.get('ruanganPoli')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataPoli" [autoDisplayFirst]="false"
                        (ngModelChange)="getDokterByPoli($event)" formControlName="ruanganPoli" optionValue="id"
                        optionLabel="name" [style]="{width: '100%'}" appendTo="body">
                    </p-dropdown>
                    <div class="pt-1" *ngIf="formRegistrasi.get('ruanganPoli').value != null">
                        <button type="button" class="btn btn-secondary btn-xs p-1 pl-3 pr-3 position-relative mr-3">
                            Kapasitas
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark ml-1">
                                20
                            </span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs p-1 pl-3 pr-3 position-relative mr-3">
                            Terisi
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark ml-1">
                                0
                            </span>
                        </button>
                        <button type="button" class="btn btn-success btn-xs p-1 pl-3 pr-3 position-relative mr-3">
                            Tersedia
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark ml-1">
                                20
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mb-1" *ngIf="formRegistrasi.get('jnsPerawatan').value == 'rj'">
                <label class="col-4 col-form-label">
                    Waktu Pelayanan <span *ngIf="formRegistrasi.get('waktuPelayanan')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataWaktuPelayanan" formControlName="waktuPelayanan" optionValue="id"
                        optionLabel="name" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                </div>
            </div>
            <div class="row mb-1" hidden>
                <label class="col-4 col-form-label">
                    Dokter / DPJP <span *ngIf="formRegistrasi.get('dokter')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataDokter" [autoDisplayFirst]="false" formControlName="dokter"
                        optionValue="id" optionLabel="name" [style]="{width: '100%'}" appendTo="body">
                    </p-dropdown>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">
                    Jenis Pembayaran <span *ngIf="formRegistrasi.get('groupPasien')?.errors || formRegistrasi.get('golPasien')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col">
                    <p-dropdown [options]="dataGroupPasien" [autoDisplayFirst]="false" formControlName="groupPasien"
                        optionValue="id" optionLabel="name" [style]="{width: '100%'}" appendTo="body" styleClass="mb-1"
                        (onChange)="getGolPasienByGroup($event.value)"></p-dropdown>
                    <p-dropdown [options]="dataGolPasien" [autoDisplayFirst]="false" formControlName="golPasien"
                        optionValue="id" optionLabel="name" [style]="{width: '100%'}" appendTo="body"></p-dropdown>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">Catatan</label>
                <div class="col">
                    <input type="text" formControlName="catatan" class="form-control">
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-4 col-form-label">
                    Status <span *ngIf="formRegistrasi.get('status')?.errors"
                        class="bi bi-exclamation-circle-fill tx-danger ml-1 tx-13"></span>
                </label>
                <div class="col-auto">
                    <input type="text" formControlName="status" class="form-control" readonly>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3 p-3 border-top text-right bg-gray-200">
    <div class="col pl-0">
        <button hidden class="btn btn-secondary btn-sm mr-1" (click)="dataPasienService.openDialog()"><i
                class="bi bi-search mr-1"></i> Cari Pasien</button>
        <button class="btn btn-primary btn-sm mr-1" (click)="save()" [disabled]="formRegistrasi.invalid || !pasien.norm"><i
                class="bi bi-save mr-1"></i> Simpan</button>
    </div>
</div>

<p-dialog [(visible)]="dialogDataPasien" (onHide)="dataPasienService.closeDialog()" header="Cari Data Pasien"
    [modal]="true" [draggable]="true" [style]="{width: '75%'}" appendTo="body" [closeOnEscape]="false">
    <div *ngIf="dialogDataPasien">
        <app-data-pasien></app-data-pasien>
    </div>
</p-dialog>

<p-dialog [(visible)]="dialogBilling" (onHide)="dataPasienService.closeDialog()" header="Billing"
    [modal]="true" [draggable]="true" [style]="{width: '75%'}" appendTo="body" [closeOnEscape]="false">
    <div *ngIf="dialogBilling">
        <app-billing></app-billing>
    </div>
</p-dialog>

<p-dialog [(visible)]="dialogRegistrasiSuccess" (onHide)="dataPasienService.closeDialog()"
    [modal]="true" [draggable]="true" appendTo="body" [closeOnEscape]="false">
    <div *ngIf="dialogRegistrasiSuccess">
        <div class="row">
            <div class="col">
                <div class="success-animation text-center">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>
                </div>
                <hr>
                <div class="text-center">
                    <div>{{registrasi.noreg | uppercase}}</div>
                    <div>{{pasien.nama | uppercase}}</div>
                </div>
                <hr>
                <div>
                    <button class="btn btn-primary mr-1"><i class="bi bi-eye"></i> Lihat Registrasi</button>
                    <button class="btn btn-primary mr-1" (click)="dialogBilling=true"><i class="bi bi-plus-lg"></i> Input Billing</button>
                    <button class="btn btn-primary mr-1" (click)="menu.toggle($event)">Print <i class="bi bi-chevron-down"></i></button>
                        <p-menu #menu [popup]="true" [model]="printItems" appendTo="body"></p-menu>
                </div>
            </div>
        </div>
    </div>
</p-dialog>