<div class="row mt-2">
    <div class="col-4">
        <app-table-master-obat></app-table-master-obat>
        <app-form-obat></app-form-obat>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-12">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-send"></i> Send Order</button>
                    <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-files"></i> Copy from History</button>
                    <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-star-fill"></i> Favorit</button>
                  </div>

                <!-- <span class="p-buttonset">
                    <button pButton pRipple class="p-button-info" label="Back"
                        icon="pi pi-chevron-left"></button>
                    <button pButton pRipple class="p-button-info" label="Send Order" icon="pi pi-send"></button>
                    <button pButton pRipple (click)="dialogAdd=true" class="p-button-info" label="Add"
                        icon="pi pi-plus"></button>
                    <button pButton pRipple class="p-button-info" label="Save as Template"
                        icon="pi pi-save"></button>
                    <button pButton pRipple class="p-button-info" label="Templates" icon="pi pi-star"></button>
                    <button pButton pRipple class="p-button-info" label="Copy from History"
                        icon="pi pi-copy"></button>
                </span> -->
            </div>
            <div class="col-12">
                <table class="table table-striped table-hover bd mt-2">
                    <thead>
                        <tr>
                            <th width="80"></th>
                            <th>Nama Obat</th>
                            <th>Dosis</th>
                            <th>Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataObatNonRacikan; let i = index">
                            <td>
                                <button pButton pRipple class="p-button-sm p-button-danger p-mr-1"
                                    icon="pi pi-trash"></button>
                                <button pButton pRipple class="p-button-sm p-button-info"
                                    icon="pi pi-pencil"></button>
                            </td>
                            <td>{{item.obat.label}}</td>
                            <td>1</td>
                            <td>Sendok makan</td>
                            <td>Oral</td>
                            <td>1x Sehari 1 Sendok makan</td>
                            <td>Sesudah Makan</td>
                        </tr>
                        <tr>
                            <td colspan="7" class="empty-data tx-center">Belum ada data saat ini.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Add" [(visible)]="dialogAdd" position="top" [modal]="true" [style]="{width: '90vw'}">
    <!-- <app-dialog-add-obat></app-dialog-add-obat> -->
</p-dialog>

<p-overlayPanel styleClass="p-p-1" #opObat appendTo="body" [style]="{width: '330px'}">
    <ng-template pTemplate>
        <p-table #dtMasterObat [value]="masterObat" [paginator]="true" selectionMode="single"
            [(selection)]="selectedObat" dataKey="nama_obat" [rows]="5" [globalFilterFields]="['nama_obat']"
            styleClass="p-datatable-sm bd">
            <ng-template pTemplate="header">
                <tr class="bg-primary">
                    <th>Nama Obat</th>
                    <th width="60">Stock</th>
                    <th width="80">Unit</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{item.nama_obat}}</td>
                    <td>{{item.stok_gudang}}</td>
                    <td>{{item.satuan}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>