<div class="row">
    <div class="col bg-white p-p-2">
        <div class="row p-mb-1">
            <div class="col button-group">
                <span class="p-buttonset">
                    <button pButton pRipple class="p-button-info" label="Back" icon="pi pi-chevron-left"></button>
                    <button pButton pRipple class="p-button-info" label="Send Order" icon="pi pi-send"></button>
                    <button pButton pRipple (click)="dialogAdd=true" class="p-button-info" label="Add"
                        icon="pi pi-plus"></button>
                    <button pButton pRipple class="p-button-info" label="Save as Template" icon="pi pi-save"></button>
                    <button pButton pRipple class="p-button-info" label="Templates" icon="pi pi-star"></button>
                    <button pButton pRipple class="p-button-info" label="Copy from History" icon="pi pi-copy"></button>
                </span>
            </div>
        </div>
        <div class="alert alert-danger p-p-1 tx-bold" style="color: rgb(170, 5, 5);">
            <span class="blink_me">Riwayat Alergi : Penicilin</span>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group row">
                    <div class="col-3">No. Transaksi</div>
                    <div class="col">
                        <input type="text" pInputText class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">Lokasi Farmasi</div>
                    <div class="col">
                        <input type="text" pInputText class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-3">Jenis Resep</div>
                    <div class="col">
                        <input type="text" pInputText class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-mt-2">
            <div class="col">
                <table class="table table-sm table-striped table-hover bd">
                    <thead>
                        <tr class="bg-primary">
                            <th width="80"></th>
                            <th>Nama Obat</th>
                            <th width="10">Dosis</th>
                            <th width="150">Unit</th>
                            <th width="80">Route</th>
                            <th>Signa</th>
                            <th width="200">Keterangan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataObatNonRacikan; let i = index">
                            <td>
                                <button pButton pRipple class="p-button-sm p-button-danger p-mr-1"
                                    icon="pi pi-trash"></button>
                                <button pButton pRipple class="p-button-sm p-button-info" icon="pi pi-pencil"></button>
                            </td>
                            <td>{{item.obat.label}}</td>
                            <td>1</td>
                            <td>Sendok makan</td>
                            <td>Oral</td>
                            <td>1x Sehari 1 Sendok makan</td>
                            <td>Sesudah Makan</td>
                        </tr>
                        <tr>
                            <td colspan="7" class="empty-data">Belum ada data saat ini.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Add" [(visible)]="dialogAdd" position="top" [modal]="true" [style]="{width: '90vw'}">
    <app-dialog-add-obat></app-dialog-add-obat>
</p-dialog>

<p-overlayPanel styleClass="p-p-1" #opObat appendTo="body" [style]="{width: '330px'}">
    <ng-template pTemplate>
        <p-table #dtMasterObat [value]="masterObat" [paginator]="true" selectionMode="single"
            [(selection)]="selectedObat" dataKey="nama_obat" [rows]="5" [globalFilterFields]="['nama_obat']"
            styleClass="p-datatable-sm bd">
            <ng-template pTemplate="header">
                <tr class="bg-primary">
                    <th>Nama Obat</th>
                    <th width="60">Stock</th>
                    <th width="80">Unit</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td>{{item.nama_obat}}</td>
                    <td>{{item.stok_gudang}}</td>
                    <td>{{item.satuan}}</td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>