<p-autoComplete
    #ac
    placeholder="+ Tambah Tarif"
    appendTo="body"
    scrollHeight="30vw"
    (completeMethod)="tarifService.cariTarif($event.query, category, 'all')"
    (onFocus)="defaultTarif()"
    (onSelect)="onSelectTarif($event, ac)"
    [suggestions]="optionsTarif"
    [minLength]="2"
    [delay]="100"
    [style]="{width: '100%'}"
    [inputStyle]="{'width':'100%'}">
    <ng-template pTemplate="header">
        <div class="row bg-gray-200 sticky-top">
            <div class="col-6 pd-l-30 pd-t-10 pd-b-10">Nama Tarif</div>
            <div class="col-2 pd-t-10 pd-b-10">Harga</div>
            <div class="col-2 pd-t-10 pd-b-10 pd-l-8">Kategori</div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="row">
            <div class="col-6">{{item.r_tarif.name | uppercase}}</div>
            <div class="col-2">{{item.harga | number}}</div>
            <div class="col-2">{{item.r_tarif.r_tarif_category.r_cat_tarif.name}}</div>
            <!-- <div class="col-2"></div> -->
        </div>
    </ng-template>
</p-autoComplete>

<app-jasa-pelaksana></app-jasa-pelaksana>