<div style="display: inline-flex;" class="user-login p-pl-4 p-pb-2 p-pr-3 p-pt-1 clickable"
    (click)="op.toggle($event)">
    <div class="avatar p-mr-3 p-mt-2">
        <img [src]="'assets/drbebet.jpg'" class="rounded-circle">
    </div>
    <div class="p-pt-1 p-pb-2 p-pr-1 tx-left">
        <small style="color: #ffc77c;">Dokter</small><br>
        dr. R. Bebet Prasetyo SpU
    </div>
    <div class="p-pl-2 p-pr-2" style="padding-top: 20px; color: #f9d2a0;">
        <i class="pi pi-chevron-circle-down"></i>
    </div>
</div>

<p-overlayPanel #op>
    <ng-template pTemplate>
        <div style="width: 200px;">
            <p-menu [model]="menuItems"></p-menu>
        </div>
    </ng-template>
</p-overlayPanel>