<p-fileUpload
    #fileInput
    chooseLabel="Upload File"
    [maxFileSize]="20000000"
    [multiple]="true"
    [customUpload]="true"
    [auto]="autoUpload"
    (onRemove)="true"
    chooseStyleClass="btn btn-sm btn-outline-primary"
    [chooseIcon]="'bi bi-upload'"
    (uploadHandler)="onUpload($event, fileInput)">
    <ng-template let-file let-i="index" pTemplate="file" *ngIf="!autoUpload">
        <div class="float-left m-1" *ngIf="file">
            <div class="float-left"><img [src]="this.sanitizer.bypassSecurityTrustUrl(file.objectURL.changingThisBreaksApplicationSecurity)" class="img-thumbnail m-1 p-1" style="height: 100px;" alt="{{file.name}}"></div>
            <div class="float-left clickable" (click)="removeFile($event, file, fileInput)"><span class="badge badge-danger shadow" style="margin-left: -15px;"><i class="bi bi-x-lg"></i></span></div>
            <div class="clearfix"></div>
            <div>{{file.name}}</div>
        </div>
    </ng-template>

    <ng-template pTemplate="content" *ngIf="!autoUpload">
        <div class="clearfix"></div>
        <p-progressBar *ngIf="loading" mode="indeterminate" [style]="{height: '4px'}"></p-progressBar>
        <div class="rounded border bg-gray-100 tx-center p-5 tx-gray-500 mt-1">
            <h2 class="tx-gray-800"><i class="bi bi-cloud-upload-fill mr-2"></i> UPLOAD FILES</h2>
            <div class="tx-15">Pilih File atau Drag and Drop Di Sini.</div>
        </div>
        <table class="table table-hover table-striped" hidden>
            <thead>
                <tr>
                    <th>Photo / File</th>
                    <th>Filename</th>
                    <th>Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploadedFiles">
                    <td>
                        <!-- <img [src]="getImage(item.file_location)" height="50"> -->
                        <p-image *ngIf="item.type == 'image/jpeg' || item.type == 'image/png'" appendTo="body" [src]="getImage(item.file_location)" alt="{{item.filename}}" height="50" [preview]="true"></p-image>
                        <button class="btn btn-secondary btn-icon btn-sm" *ngIf="item.type != 'image/jpeg' && item.type != 'image/png'" (click)="openFile(item.file_location)">
                            <i class="bi bi-camera-reels mr-1"></i> <br> View Video
                        </button>
                    </td>
                    <td>{{item.filename}}</td>
                    <td>{{item.size}}</td>
                    <td><button class="btn btn-sm btn-outline-secondary" (click)="deleteImage(item)"><i class="bi bi-trash mr-1"></i> Hapus</button></td>
                </tr>
            </tbody>
        </table>
        <!-- <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes asdasd</li>
        </ul> -->
    </ng-template>
</p-fileUpload>