<div class="row bd bg-white p-p-2">
    <div class="col p-p-0">
        <div class="row p-mb-1">
            <div class="col">
                <button pButton pRipple (click)="save()" class="p-button-info" label="Save" icon="pi pi-save"></button>
            </div>
        </div>

        <div class="row p-mt-2">
            <div class="col-8">
                <div class="row form-group">
                    <div class="col-2">Tindakan</div>
                    <div class="col-6">
                        <p-dropdown [options]="dataTindakan" (onChange)="setNamaOperasi()" optionLabel="name" placeholder="Pilih..."></p-dropdown>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">Nama Operasi</div>
                    <div class="col-6">
                        <p-dropdown [options]="dataOperasi" (onChange)="setNamaOperasi()" optionLabel="name" placeholder="Pilih...">
                        </p-dropdown>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-2">Tanggal</div>
                    <div class="col">
                        <p-calendar placeholder="Pilih Tanggal" [(ngModel)]="now" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="row form-group hidden">
                    <div class="col-2">ICD 9</div>
                    <div class="col">
                        <p-autoComplete
                            #acICD
                            appendTo="body"
                            placeholder="Cari ICD 9..."
                            field="name"
                            [minLength]="2"
                            [autoHighlight]="true"
                            [suggestions]="filteredIcd9"
                            [forceSelection]="true"
                            [showEmptyMessage]="true"
                            (onSelect)="selected($event, acICD)"
                            (onFocus)="showAutocomplete(acICD, $event)"
                            (keyup)="showAutocomplete(acICD, $event)"
                            (completeMethod)="search($event)">
                            <ng-template pTemplate="header">
                                <table class="table table-sm bd table-bordered p-m-0 p-p-0">
                                    <tr class="bg-primary">
                                        <td style="width: 90px;">ICD Code</td>
                                        <td style="width: 400px;">ICD Name</td>
                                    </tr>
                                </table>
                            </ng-template>
                            <ng-template let-data pTemplate="item">
                                <table class="table table-sm p-m-0 p-p-0">
                                    <tr>
                                        <td style="width: 90px;">{{data.id}}</td>
                                        <td style="width: 400px;">{{data.name}}</td>
                                    </tr>
                                </table>
                            </ng-template>
                        </p-autoComplete>
                        <button pButton class="p-button-sm p-button-secondary p-button-text p-mt-1" label="Master Data" icon="pi pi-table"></button>
                    </div>

                </div>
            </div>
            <div class="col hidden">
                <div class="title-section">ICD 9 Yang Terpilih :</div>
                <p-table [value]="dataTable" dataKey="id" styleClass="bd">
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- <th style="width: 50px;"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th> -->
                            <th width="80">Code</th>
                            <th>Name</th>
                            <th width="80">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <!-- <td><p-tableCheckbox [value]="data"></p-tableCheckbox></td> -->
                            <td>{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td><button pButton pRipple pTooltip="Delete" tooltipPosition="top" class="p-button-sm p-button-danger p-mr-1" icon="pi pi-trash"></button></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr *ngIf="dataTable.length == 0">
                            <td colspan="3" class="empty-data">Belum ada data saat ini.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>