<button class="btn" (click)="transferBillingService.openDialog(true)">Transfer Billing</button>

<p-dialog
    [(visible)]="dialog"
    (onHide)="transferBillingService.openDialog(false)"
    header="Transfer Billing"
    [draggable]="false"
    [modal]="true"
    position="top"
    [breakpoints]="{'1920px': '65vw', '1366px': '80vw'}"
    appendTo="body">

    <ng-container *ngIf="dialog">
        <div class="row">
            <div class="col">
                <div>
                    <app-cari-registrasi></app-cari-registrasi>
                </div>
                <div class="mg-t-10">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title mg-b-0">FAZRI ANGGRIAWAN</h5>
                          <p class="card-subtitle mg-t-0 pd-t-0">RAWAT JALAN - ANAK</p>
                          <p class="card-text">...</p>
                          <a href="#" class="card-link">Card link</a>
                          <a href="#" class="card-link">Another link</a>
                        </div>
                      </div><!-- card -->

                    <div class="card">
                        <h5 class="card-title">Fazri Anggriawan</h5>
                        <p class="card-subtitle">RAWAT JALAN - ANAK</p>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="tx-gray-600">Nama Pasien</div>
                                    <div>FAZRI ANGGRIAWAN</div>
                                </div>
                                <div class="col-auto">
                                    <div class="tx-gray-600">No. RM</div>
                                    <div>818181</div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary">
                                        <i class="bi bi-arrow-return-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="tx-gray-600">Ruangan</div>
                                    <div>RAWAT JALAN - ANAK</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-right">Total Billing :</div>
                                <div class="col-auto text-right">
                                    <div class="tx-medium">900,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mg-t-10">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="tx-gray-600">Nama Pasien</div>
                                    <div>FAZRI ANGGRIAWAN</div>
                                </div>
                                <div class="col-auto">
                                    <div class="tx-gray-600">No. RM</div>
                                    <div>818181</div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary">
                                        <i class="bi bi-arrow-return-right"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="tx-gray-600">Ruangan</div>
                                    <div>RAWAT JALAN - ANAK</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col text-right">Total Billing :</div>
                                <div class="col-auto text-right">
                                    <div class="tx-medium">900,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto bg-gray-100">
                <div class="text-center">
                    <div class="tx-20 mg-t-20">Transfer</div>
                    <i class="tx-20 bi bi-arrow-right"></i>
                </div>
            </div>
            <div class="col">
                <div>
                    <app-cari-registrasi></app-cari-registrasi>
                </div>
                <div class="mg-t-10">
                    <p-table>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>No.Registrasi</th>
                                <th>Nama Pasien</th>
                                <th>No.RM</th>
                                <th>Jns.Perawatan</th>
                                <th>Ruangan</th>
                                <th></th>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </ng-container>

</p-dialog>
