
/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(0 0 0 / 10%);
}

.navbar-header .nav-link{
    color: rgb(0 0 0 / 85%);
}
.navbar-menu .nav-link:hover{ color: black; }
.clickable{ cursor: pointer; }
.p-component{ font-size: 0.9rem; font-family: unset; }

.p-datatable .p-datatable-tbody > tr > td, .p-datatable .p-datatable-thead > tr > th{
    padding: 0.8rem;
}

.p-menubar{
    background: transparent;
    border: none;
}

.p-menubar .p-menuitem-link{
    background: transparent;
}

.p-menubar .p-menuitem-link{
    background: transparent;
}

.p-datatable .p-datatable-tbody > tr > td{
    border-color: rgba(72, 94, 144, 0.16);
}

.p-datatable .p-datatable-thead > tr > th{
    border-color: rgba(72, 94, 144, 0.16);
    background: transparent;
    border-width: 0 0 1px 0;
}

.p-datatable .p-datatable-tbody > tr{
    background: #f3f4f7;
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even){
    background: #fff;
}

.p-datatable .p-datatable-tbody > tr.p-highlight, .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even).p-highlight{
    background: #dae7f9;
}

.p-inputtext{ padding: 0.3rem; }
.p-field{ margin-bottom: 0.5rem; }
.p-tabview .p-tabview-panels{ padding: 0.5rem 0; }
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    /* color: #585858;
    border-color: #585858;     */
    text-decoration: unset;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link{ text-decoration: underline; }

.p-disabled, .p-component:disabled{ background: #d3d9de; }

.p-button.p-button-sm{ padding: 0.2rem 0.5rem; }

.p-datatable-unstriped .p-datatable-tbody > tr{
    background: unset;
}

.p-datatable-unstriped .p-datatable-tbody > tr:hover{
    background: #f3f4f7;
}

.header-row-group td{
    background: #f3f4f7;
}

.p-button{ margin-right: 0.5rem; }
.p-field-checkbox>label, .p-field-radiobutton>label, .p-checkbox-label {
    margin-left: 0.5rem;
    line-height: 1;
    padding-top: 0.5rem;
    cursor: pointer;
}

.p-field-checkbox{ margin-bottom: 0.2rem; }

.p-datatable .p-datatable-header{
    background: unset;
    padding: 0.5rem;
    border-top: unset;
}

.p-accordion .p-accordion-content{
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{ box-shadow: unset; }
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
   background: #2196f3;
   color: white;
}

.p-chip{
    padding: 0.1rem 0.5rem;
    margin-bottom: 0.1rem;
    margin-right: 0.5rem;
}

.p-menu{ width: unset; border: unset; }

/* .p-menu .p-menuitem-link .p-menuitem-text{ color: #2096f3; } */
.p-menu .p-menuitem-link .p-menuitem-text{ color: #111111; }

.col-25{
   flex: 0 0 18.66667%;
   max-width: 18.66667%;
}

.navbar{  display: unset; }

.card-header, .card-footer, .list-group-item, .table tr th, .table tr td, .bd {
   border-color: #dde2e6;
}

.table th{ border-top: unset; }

.thumbnailSelector[_ngcontent-foc-c115], .thumbnailSelector[_ngcontent-ioq-c115] {
   width: 123px !important;
}

a.list-group-item[_ngcontent-foc-c115]{
   padding: unset !important;
}

.df-example {
    font-size: 0.875rem;
    letter-spacing: normal;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(72, 94, 144, 0.16);
    position: relative;
}

.df-example::before {
    content: attr(data-label);
    display: block;
    position: absolute;
    top: -6px;
    left: 5px;
    font-size: 8px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: inherit;
    color: #8392a5;
    padding: 0 5px;
}

.patient-list:hover{
    background: rgb(241 241 241);
    cursor: pointer;
}

.form-group{ margin-bottom: 0px; }

.navbar-header{
    background: #D1913C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD194, #D1913C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-color: #e0b985;
    box-shadow: 0 0 25px rgb(26 108 225 / 30%);
}

.header-content{
    background: #0f4f86;
    color: white;
}

.white{ color: white; }
.box-kunjungan{
    background: #0e3c63;
    color: #235d90;
    font-weight: 500;
    border: none;

}

.p-scrollpanel.custombar1 .p-scrollpanel-bar{
    background-color:#e1e3eb;
}

.p-scrollpanel-content{
    background-color: white;
    padding-right: 10px !important;
}

.form-fieldset legend {
    color: #e48f1f;
}

.p-inputtext{
    background-color: #f7f9ff;
}

.p-dropdown { min-width: 100%; max-width: 100%; background: #f7f9ff; }
input:read-only{ cursor: not-allowed; }
.p-calendar .p-inputtext{ padding: 8px; }
.p-datepicker{ width: 350px !important; }
.p-field-radiobutton{ display: inline-flex; }
.p-autocomplete{ width: 100%; }
.tx-grey{ color: grey; }
.bg-silver{ background: #f3f4f7; }
.p-datatable .p-datatable-tbody > tr:hover, .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even):hover{ background: #ebeef8; }
.label-question{
    margin: 0;
    font-weight: 600;
}

.login-page {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    background: url(assets/manhood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    width: 100%;
    height: 100%;
    padding-right: 100px;
}

.login-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin-top: -10px;
    margin-right: 0;
    color: white;
}

.login-container .tx-color-01{ color: white; }
.login-container .tx-color-03{ color: #a5a5a5; }
.login-container a{ color: #e0aa51 !important; }

.bg-primary{ background-color: #0f4f86 !important; color: white; }
.tx-primary{ color: #0f4f86 !important; }
.tx-highlight{ color: #e8b168; }

.p-selectbutton .p-button.p-highlight:hover, .p-selectbutton .p-button.p-highlight{
    background: #e9ecef;
    color: black;
    /* font-weight: bold; */
    border: 0;
    border-bottom: 2px solid #cf9338;
}
.p-selectbutton .p-button.p-highlight .p-button-icon-left,
.p-selectbutton .p-button.p-highlight .p-button-icon-left:hover,
.p-selectbutton .p-button.p-highlight .p-button-icon-right{ color: black !important; }

.p-selectbutton .p-button{ border: 0; border-bottom: 2px solid silver; }

.badge{ font-weight: bold; }

.user-login{ color: white; background:rgb(0 0 0 / 20%); }
.user-login .avatar-initial{
    background:#8e632a;
    color: #eab46c;
}

.top-menu .p-dropdown{
    background: #c5924d;
    border: unset;
    padding: 0px 10px;
}
.top-menu .p-dropdown .p-dropdown-label, .top-menu .p-dropdown .p-dropdown-trigger{
    color: white;
}

.avatar-upload{
    margin-top: -72px;
}

.avatar-upload .p-button.p-button-icon-only{
    width: 4.5rem;
    padding: 19px;
    background: transparent;
    color: transparent;
    border: 0;
}

.avatar-upload .pi{
    font-size: 2rem;
}