html,
body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    line-height: unset;
}

.p-menubar {
    padding: 0;
    border: 0;
    background: none;
}

.tx-title {
    font-size: 1.25rem;
    margin: 0;
    padding: 10px 0px;
    font-weight: normal;
}

.p-dropdown,
.form-control,
.p-inputtext {
    background: #f5f6fa;
}

.p-dropdown .p-inputtext{
    padding: 0.4rem;
}

.p-calendar .p-inputtext {
    padding: 0.33rem 0.5rem;
}

.p-calendar .p-button {
    background: #7987a1;
    border-color: #7987a1;
}

fieldset {
    border: 1px solid silver;
    padding: 0px 10px;
}

legend {
    width: unset;
    font-size: 1rem;
    padding: 0px 10px;
    margin: 0;
    font-weight: 50me0;
}

.p-checkbox .p-checkbox-box,
.p-radiobutton .p-radiobutton-box {
    width: 16px;
    height: 16px;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 11px;
}

.clickable {
    cursor: pointer;
}

.btn.clickable:hover {
    color: white !important;
}

.tx-silver {
    color: silver;
}

.p-scrollpanel .p-scrollpanel-bar {
    background: #e2e7ed;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 8px;
    height: 8px;
}

.p-dialog .p-dialog-footer {
    background: #1a3246;
    padding-top: 1rem;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: none;
    border-radius: 0;
    padding: 0.85rem 1.75rem;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}

.p-tabview .p-tabview-panels {
    padding: 0 1rem;
}

.table th {
    border-top: 0;
}

.timeline-body::before {
    top: 10px;
}

.timeline-body {
    padding-top: 7px;
}

.timeline-time {
    padding-top: 5px;
}

.timeline-label {
    letter-spacing: normal;
}

.timeline-label:first-child {
    padding-top: 25px;
}

.timeline-label:first-child::before {
    top: 29px;
}

.nav-tabs .nav-link.active {
    background-color: #98a3b9;
    color: white;
    border: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: transparent;
    color: #0052CC;
    border-color: #0052CC;
}

.p-fileupload .p-fileupload-content {
    padding: 0;
    border: 0;
}

.p-fileupload .p-fileupload-buttonbar {
    background: none;
    border: 0;
    padding: unset;
    padding-bottom: 10px;
}

.p-fileupload-row {
    border-top: 1px solid #e3e3e3;
}

.p-image-toolbar {
    z-index: 9999;
}

.content-components {
    margin-top: 25px;
}

.navbar-header {
    background: #495EAB;
    height: 55px;
}

.p-menu.p-menu-overlay {
    z-index: 9999 !important;
}

.hiddenToolbar .ql-toolbar.ql-snow {
    display: none;
}

.hiddenToolbar .ql-container.ql-snow {
    border: 1px solid #ced4da !important;
    border-radius: 3px !important;
}

.hiddenToolbar.p-editor-container .p-editor-content .ql-editor {
    background: #f5f6fa !important;
    border-radius: 3px !important;
}

.caption-title {
    background-color: #f9f9f9;
    top: 60px;
}

.topMenu .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text,
.topMenu .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-icon {
    color: white !important;
}

.p-dialog .p-dialog-header {
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #bbbbbb;
}

.p-dialog .p-dialog-content {
    padding: 1rem 1.5rem;
    color: black;
}

.btn,
.ui-datepicker-buttonpane button,
.sp-container button,
.form-control,
.p-button,
.p-button.p-button-icon-only {
    padding: 0.3rem 0.75rem;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    font-family: inherit;
    letter-spacing: -0.2px;
}

.p-button:focus,
.form-control:focus {
    box-shadow: none;
}

.topMenu .p-menubar .p-menubar-root-list>.p-menuitem>.p-menuitem-link:hover {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 0 !important;
}

.topMenu {
    margin-top: 2px;
}

.p-datatable .p-datatable-tbody>tr:focus {
    outline: none;
}

.btn-primary, .p-button {
    background-color: #0052CC;
    border-color: #0052CC;
}

.p-selectbutton .p-button.p-highlight, .p-selectbutton .p-button.p-highlight:hover {
    background-color: #eef2f9;
    border-color: #dce3f3;
    border-bottom-color: #0052CC;
    color: #0052CC;
    border-bottom-width: initial;
}

.btn-primary:hover {
    background-color: #1a6de7;
    border-color: #1a6de7;
}

.table a:any-link {
    color: #0052CC;
    border-bottom: 1px dashed;
}

a:any-link{
    color: #0052CC;
}

.spinner-border {
    display: block;
}

.p-overlaypanel::before, .p-overlaypanel::after{
    margin-left: -20px !important;
}

.p-overlaypanel::after, .p-overlaypanel::before {
    left: calc(var(--overlayArrowLeft, 0) + 1.45rem) !important;
}

.btn-light, .p-selectbutton .p-button{
    border-color: #dce3f3;
    color: #4e5b6c;
}

.p-datatable .p-datatable-thead > tr > th {
    padding: 0.25rem 1rem;
    border-bottom-width: 2px;
    background-color: unset;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.65rem 1rem;
}

a.link {
    border-bottom: 1px dashed;
    cursor: pointer;
}
a.link:hover{
    border-bottom: none;
}

.hover:hover{
    background-color: rgba(255, 246, 113, 0.2);
    border-color:  rgba(255, 193, 113, 0.5) !important;
}

h1, h2, h3, h4, h5{
    font-weight: 600 !important;
}

.border-light{ border-color: #e2e2e2 !important; }