html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    font-size: 14px;
}

.p-menubar {
    padding: 0;
    border: 0;
    background: none;
}

.tx-title {
    font-size: 1.25rem;
    margin: 0;
    padding: 10px 0px;
    font-weight: normal;
}

.p-dropdown,
.form-control,
.p-inputtext {
    background: #f5f6fa;
}

.p-calendar .p-inputtext {
    padding: 0.33rem 0.5rem;
}

.p-calendar .p-button {
    background: #7987a1;
    border-color: #7987a1;
}

fieldset {
    border: 1px solid silver;
    padding: 0px 10px;
}

legend {
    width: unset;
    font-size: 1rem;
    padding: 0px 10px;
    margin: 0;
    font-weight: 50me0;
}

.p-checkbox .p-checkbox-box, .p-radiobutton .p-radiobutton-box {
    width: 16px;
    height: 16px;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 11px;
}

div.clickable {
    cursor: pointer;
    opacity: 0.85;
}

div.clickable:hover {
    box-shadow: 0px 0px 5px #b1b1b1;
    opacity: 1;
}

.tx-silver {
    color: silver;
}

.p-scrollpanel .p-scrollpanel-bar {
    background: #e2e7ed;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 8px;
    height: 8px;
}

.p-dialog .p-dialog-footer {
    background: #1a3246;
    padding-top: 1rem;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background: none;
    border-radius: 0;
    padding: 1rem 2rem;
}

.p-tabview .p-tabview-nav {
    background-color: #f5f6fa !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
}

.p-tabview .p-tabview-panels {
    padding: 0 1rem;
}

.table th {
    border-top: 0;
}

.timeline-body::before {
    top: 10px;
}

.timeline-body {
    padding-top: 7px;
}

.timeline-time {
    padding-top: 5px;
}

.timeline-label {
    letter-spacing: normal;
}

.timeline-label:first-child {
    padding-top: 25px;
}

.timeline-label:first-child::before {
    top: 29px;
}

.nav-tabs .nav-link.active {
    background-color: #98a3b9;
    color: white;
    border: none;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #f5f6fa;
}