<p-dialog header="OBAT RESEP" [(visible)]="displayDialog" [modal]="true" [draggable]="true" (onHide)="closeDialog()">
    <form [formGroup]="form">
        <div class="row mb-2">
            <div class="col-6">
                <div class="tx-16 mb-1 tx-semibold" *ngIf="selectedObat">{{selectedObat.nama}}</div>
                <input type="text" placeholder="Signa" class="form-control" formControlName="signaText" *ngIf="jenisResep == 'biasa'">
            </div>
            <div class="col-auto">
                <fieldset class="bd-0" *ngIf="jenisResep == 'biasa'">
                    <legend class="p-0 pb-1 tx-16 tx-gray-600">Jumlah</legend>
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="jumlah">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="button" (click)="openNumpad($event)"><i class="bi bi-123"></i></button>
                        </div>
                    </div>
                    <app-numpad></app-numpad>
                </fieldset>
                <fieldset class="bd-0" *ngIf="jenisResep == 'racikan'">
                    <input type="text" class="form-control" formControlName="takaran" placeholder="Takaran">
                </fieldset>
            </div>
            <!-- <div class="col">
                <fieldset class="bd-0">
                    <legend class="p-0 pb-1 tx-16 tx-gray-600">Obat Kronis</legend>
                    <p-inputSwitch formControlName="kronis"></p-inputSwitch>
                </fieldset>
            </div> -->
        </div>
        <div *ngIf="jenisResep == 'biasa'">
            <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                <table class="table">
                    <thead>
                        <tr class="tx-16">
                            <th colspan="4" style="border:0;">Dosis <button
                                    class="btn btn-xs tx-primary p-0 pl-1 pr-1 tx-16 btn-icon"><i
                                        class="bi bi-plus-circle"></i></button> </th>
                            <th style="border:0;">Instruksi <button
                                    class="btn btn-xs tx-primary p-0 pl-1 pr-1 tx-16 btn-icon"><i
                                        class="bi bi-plus-circle"></i></button> </th>
                            <th style="border:0;">Durasi <button class="btn btn-xs tx-primary p-0 pl-1 pr-1 tx-16 btn-icon"><i
                                        class="bi bi-plus-circle"></i></button> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="p-0">
                                <p-table [value]="data.route" selectionMode="single" [(selection)]="signa.route" (onRowSelect)="updateSignaText()" (onRowUnselect)="updateSignaText()">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td class="p-2">{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                            <td width="80" class="p-0">
                                <p-table [value]="data.dosis" selectionMode="single" [(selection)]="signa.dosis" (onRowSelect)="updateSignaText()" (onRowUnselect)="updateSignaText()">
                                    <ng-template pTemplate="body" let-item>
                                        <tr [pSelectableRow]="item">
                                            <td class="p-2">{{item}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </td>
                        <td width="100" class="p-0">
                            <p-table [value]="data.unit" selectionMode="single" [(selection)]="signa.unit" (onRowSelect)="updateSignaText()" (onRowUnselect)="updateSignaText()">
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td class="p-2">{{item}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                        <td width="125" class="p-0">
                            <p-table [value]="data.frekuensi" selectionMode="single" [(selection)]="signa.frekuensi" (onRowSelect)="updateSignaText()" (onRowUnselect)="updateSignaText()">
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td class="p-2">{{item}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                        <td width="125" class="p-0">
                            <p-table [value]="data.arahan" selectionMode="single" [(selection)]="signa.arahan" (onRowSelect)="updateSignaText()" (onRowUnselect)="updateSignaText()">
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td class="p-2">{{item}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                        <td width="125" class="p-0">
                            <p-table [value]="data.durasi" selectionMode="single" [(selection)]="signa.durasi" (onRowSelect)="updateSignaText()" (onRowUnselect)="updateSignaText()">
                                <ng-template pTemplate="body" let-item>
                                    <tr [pSelectableRow]="item">
                                        <td class="p-2">{{item}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </p-scrollPanel>
        </div>
        <div *ngIf="jenisResep == 'racikan'" class="border-top mt-3">
            <app-numpad-racikan></app-numpad-racikan>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <form [formGroup]="form" *ngIf="jenisResep == 'biasa'">
            <fieldset class="bd-0 tx-left mb-3">
                <legend class="p-0 pb-1 tx-16 tx-gray-300">Catatan / Instruksi Lain</legend>
                <textarea pInputTextarea formControlName="catatan" [style]="{width: '100%'}" [autoResize]="true"></textarea>
            </fieldset>
        </form>

        <button class="btn btn-primary" (click)="save()"><i class="bi bi-save"></i>&nbsp; Simpan</button>
    </ng-template>
</p-dialog>