<div class="testDiv">
    asdasd
</div>
<div style="position: fixed; height: 100%; width: 100%; overflow: hidden;" class="bg-white" >
    <div class="row" style="height: 5%; background-color: #ffe7b6; color: #5d4b2b; border-bottom: 1px solid #f5c970;">
        <div class="col">
            <div class="p-p-2" style="font-size: 0.9rem; font-weight: 500;">RESEP ELEKTRONIK - RS SALAK BOGOR</div>
        </div>
        <div class="col">
            <div class="p-p-2">Minggu, 12 Januari 2021 &nbsp; | &nbsp; Poliklinik Anak &nbsp; | &nbsp; dr. Bebet Numantyi</div>
        </div>
        <div class="col-2 tx-right">
            <div class="p-p-2">
                <a><i class="fa fa-lock"></i>&nbsp; Logout </a>
            </div>
        </div>
    </div>
    <div class="row" style="height: 95%;">
        <div class="col-5 bg-white" style="height: 100%;">
            <div style="height: 85%;">
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <div class="row">
                        <div class="col">
                            <!-- <div class="p-p-3 bd-b row hidden">
                                <div class="col">
                                    <div style="font-size: medium;" class="tx-bold">R/</div>
                                    <div class="p-p-2">
                                        <ul class="p-pl-2 p-m-0">
                                            <li>CTM &nbsp; 2 mg</li>
                                            <li>Ephedrine &nbsp; 5 mg</li>
                                            <li>Aminophylin &nbsp; 150 mg</li>
                                            <li>Lactas Calcicum &nbsp; 300 mg</li>
                                            <li>Glyceril Guaicolate &nbsp; 1 tab</li>
                                        </ul>
                                    </div>
                                    <div>da in caps</div>
                                    <div>1 Tab Oles 3x Sehari Sesudah makan</div>
                                </div>
                                <div class="col-2"><span style="font-size: large;" class="tx-bold">12</span><br><small>CAPS</small></div>
                            </div> -->
                            <div class="p-p-3 bd-b row" *ngFor="let item of dataResep; let i = index; let last = last" @fadeIn [ngClass]="{'last-child': last}" #itemObat (click)="editResep(item, i)">
                                <div class="col">
                                    <div style="font-size: medium;" class="tx-bold">{{item.obat.nama_obat}}</div>
                                    <div>{{item.signa.frekuensi}} {{item.signa.dosis}} {{item.signa.unit}} {{item.signa.arahan}}. {{item.signa.route}}</div>
                                </div>
                                <div class="col-2"><span style="font-size: large;" class="tx-bold">{{item.obat.jumlah}}</span><br><small>{{item.obat.satuan_pilih}}</small></div>
                            </div>
                            <div *ngIf="dataResep.length == 0">
                                <div class="tx-center p-ml-3 p-p-3 rounded" style="color: silver; margin-top: 35%;">
                                    <i class="pi pi-file" style="font-size: 5rem;"></i>
                                    <p class="p-pt-3">Silahkan Memilih Obat Untuk <br>Membuat Resep.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
            <div class="row" style="height: 5%;">
                <div class="col bg-light">
                    <div style="display: inline-flex;">
                        <div class="p-p-2" style="color: #5e626d; background: #d1d4dc !important;">Pasien</div>
                        <div class="p-p-2" style="color: silver;" *ngIf="!dataPasien.nama">Pasien belum dipilih.</div>
                        <div class="p-p-2">{{dataPasien.nama}} &nbsp;&nbsp; {{dataPasien.kelamin}} &nbsp; {{dataPasien.tglahir}}</div>
                    </div>
                </div>
            </div>
            <div class="row bd-t bg-light bd" style="height: 10%;">
                <button pButton pRipple class="p-button-secondary col-5 p-m-0 number" style="font-size: 1rem;" label="PASIEN" (click)="openPanelPasien()"><i class="p-ml-3 fa fa-user"></i></button>
                <button pButton pRipple class="p-button-primary col p-m-0 number" style="font-size: 1rem;" label="SEND ORDER" (click)="sendOrder()" [disabled]="dataResep.length==0"><i class="p-ml-5 fa fa-paper-plane"></i></button>
            </div>
        </div>
        <div class="col p-pb-3 bg-dark tx-white" style="height: 100%;">
            <div style="height: 90px;" class="option-obat">
                <div class="row">
                    <div class="col"><p-selectButton [options]="optionDaftarObat" [(ngModel)]="selectedDaftarObat" optionLabel="name" styleClass="p-pt-2 p-pb-2" (onChange)="gantiDaftarObat($event)"></p-selectButton></div>
                    <div class="col-4 tx-right p-pt-2" style="padding-right: 20px;">
                        <button pButton pRipple label="Resep Racikan" class="p-button-warning p-button-text" icon="pi pi-file-o" (click)="openPanelRacikan()"></button>
                    </div>
                </div>


                <!-- <div style="display: inline-flex;">
                    <div class="p-p-3">Daftar Obat</div>
                    <div class="p-p-3">Favorit</div>
                    <div class="p-p-3">Riwayat Resep</div>
                </div> -->
                <div>
                    <input type="text" [(ngModel)]="testName">{{ testName }}
                    <input type="text" style="text-transform: uppercase;" pInputText placeholder="Cari Obat..." [(ngModel)]="filterObat" (keyup)="applyFilterGlobal($event)" class="form-control p-p-2">
                </div>
            </div>
            <div class="p-mt-1" style="display: inline-flex; width: 100%; height: calc(100% - 90px);">
                <div class="p-pl-1 p-pr-1" style="padding-top: 1px;">
                    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                        <div #filterLetter>
                            <div class="p-p-2 tx-center filterByLetter" id="allFilter" (click)="filterByLetter('ALL', $event)">ALL</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('A', $event)">A</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('B', $event)">B</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('C', $event)">C</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('D', $event)">D</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('E', $event)">E</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('F', $event)">F</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('G', $event)">G</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('H', $event)">H</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('I', $event)">I</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('J', $event)">J</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('K', $event)">K</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('L', $event)">L</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('M', $event)">M</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('N', $event)">N</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('O', $event)">O</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('P', $event)">P</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('Q', $event)">Q</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('R', $event)">R</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('S', $event)">S</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('T', $event)">T</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('U', $event)">U</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('V', $event)">V</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('W', $event)">W</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('X', $event)">X</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('Y', $event)">Y</div>
                            <div class="p-p-2 tx-center filterByLetter" (click)="filterByLetter('Z', $event)">Z</div>
                        </div>
                    </p-scrollPanel>
                </div>
                <div style="height: 100%;">
                    <p-table
                        #dtObat
                        [value]="masterObat"
                        [globalFilterFields]="['nama_obat']"
                        selectionMode="single"
                        [loading]="loading"
                        styleClass="p-datatable-striped bd-t bd-r"
                        class="item-obat"
                        responsiveLayout="scroll"
                        [virtualScroll]="true"
                        [scrollable]="true"
                        scrollHeight="flex">
                        <ng-template pTemplate="header">
                            <tr>
                                <th width="300">Nama Obat</th>
                                <th>Satuan</th>
                                <th>Stok</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr (click)="openDialogJumlah(item)">
                                <td width="300">{{item.nama_obat}}</td>
                                <td>{{item.satuan}}</td>
                                <td>{{item.stok_gudang}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

<app-panel-jumlah [item]='currentItem' (newItemEvent)='addItem($event)'></app-panel-jumlah>

<app-panel-pasien></app-panel-pasien>

<app-panel-send-order></app-panel-send-order>

<app-panel-racikan></app-panel-racikan>