<div class="row bd p-shadow-3 bg-white">
    <app-left-menu></app-left-menu>
    <div class="col" style="background: #f7f9ff;">
        <!-- <app-header-registrasi></app-header-registrasi> -->

        <div class="row">
            <div class="col-2 p-p-0 bd-r bg-white">
                <app-menu-emr></app-menu-emr>
            </div>
            <div class="col p-p-3">
                <div class="bd-b p-mb-2"><h5>E-RESEP</h5></div>
                <div class="p-mt-2">
                    <app-farmasi></app-farmasi>
                </div>
            </div>
        </div>
    </div>
</div>